<th data-th-fragment="meta">
  <title>首页</title>
  <meta charset="utf-8"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="viewport" content="width=1200,user-scalable=yes">
</th>

<th data-th-fragment="header">
  <header class="main-header">
    <div class="logo-bar clearfix">
      <div class="clearfix">
        <div class="logo">
          <img data-th-src="@{/portal/images/logo.jpg}"/>
        </div>
        <div class="phone clearfix">
          <img data-th-src="@{/portal/images/phone.jpg}"/>
          <p>联系电话：18112651385</p>
        </div>
        <div class="search">
          <form class="clearfix">
            <input placeholder="输入搜索项"/>
          </form>
          <a class="btn" href="">搜索</a>
        </div>
      </div>
    </div>
    <div class="nav">
      <ul class="clearfix">
        <li class="active"><router-link to="/home">网站首页</router-link></li>
        <li>
          <router-link to="/notice">通知公告</router-link>
<!--          <ul class="dropdown">-->
<!--            <li><a href="/page/products.html">有机化工</a></li>-->
<!--            <li><a href="/page/products.html">无机化工</a></li>-->
<!--            <li><a href="/page/products.html">表面活性剂</a></li>-->
<!--            <li><a href="/page/products.html">医药中间体</a></li>-->
<!--          </ul>-->
        </li>
        <li>
          <router-link to="/news">网站新闻</router-link>

        </li>
        <li>
          <a href="/page/partner.html">合作伙伴</a>
        </li>
        <li>
          <a href="/page/notice.html">通知公告</a>
        </li>
        <li>
          <a href="/page/about.html">关于我们</a>
          <ul class="dropdown">
            <li><a href="/page/introduction.html">公司简介</a></li>
            <li><a href="/page/about.html">企业文化</a></li>
            <li><a href="/page/about.html">企业荣誉</a></li>
          </ul>
        </li>
        <li>
          <a href="/page/contact.html">联系我们</a>
        </li>
      </ul>
    </div>
  </header>
</th>

<th data-th-fragment="style">
  <link rel="stylesheet" type="text/css" data-th-href="@{/portal/css/banner-j.css}"/>
  <link rel="stylesheet" type="text/css" data-th-href="@{/portal/css/main.css}"/>
</th>

<th data-th-fragment="wrapper">
  <div id="wrapper">
    <div class="fullwidthbanner-container">
      <div class="fullwidthbanner">
        <ul>
          <li data-transition="3dcurtain-horizontal" data-slotamount="15" data-masterspeed="300">
            <img data-th-src="@{/portal/images/banner/banner2.jpg}" alt=""/>
          </li>
          <li data-transition="3dcurtain-vertical" data-slotamount="15" data-masterspeed="300" data-link="#">
            <img data-th-src="@{/portal/images/banner/banner1.jpg}" alt=""/>
          </li>
          <li data-transition="papercut" data-slotamount="15" data-masterspeed="300" data-link="#">
            <img data-th-src="@{/portal/images/banner/banner3.jpg}" alt=""/>
          </li>
        </ul>
      </div>
    </div>
  </div>
</th>

<th data-th-fragment="javascript">
  <script type="text/javascript" data-th-src="@{/portal/js/jquery-1.8.3.min.js}"></script>
  <script type="text/javascript" data-th-src="@{/portal/js/jquery.banner.revolution.min.js}"></script>
  <script type="text/javascript" data-th-src="@{/portal/js/banner.js}"></script>
  <script type="text/javascript" data-th-src="@{/portal/js/main.js}"></script>
</th>

<th data-th-fragment="footer">

</th>