<th data-th-fragment="meta">
  <title>首页</title>
  <meta charset="utf-8"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="viewport" content="width=1200,user-scalable=yes">
</th>

<th data-th-fragment="header">
  <header class="main-header">
    <div class="logo-bar clearfix">
      <div class="clearfix">
        <div class="logo">
<!--          <img data-th-src="@{/portal/images/logo.jpg}"/>-->
        </div>
        <div class="phone clearfix">
          <p v-if="userInfo === null">
            <a href="/login">登录</a>&nbsp;&nbsp;
            <a href="/registry">注册</a>
          </p>
          <p v-else>
            <a @click="show.mineInfo = true">个人信息</a>&nbsp;&nbsp;
            <a href="/loginOut">退出登录</a>&nbsp;&nbsp;
          </p>
        </div>
      </div>
    </div>
    <div class="nav">
      <ul class="clearfix">
        <li class="active">
          <router-link to="/home">网站首页</router-link>
        </li>
        <li>
          <router-link to="/about">公司简介</router-link>
        </li>
        <li>
          <router-link to="/notice">通知公告</router-link>
        </li>
        <li>
          <router-link to="/news">新闻中心</router-link>
        </li>
        <li>
          <router-link to="/friends">合作伙伴</router-link>
        </li>
        <li>
          <router-link to="/products">产品中心</router-link>
        </li>
        <li>
          <router-link to="/contact">联系我们</router-link>
        </li>
      </ul>
    </div>
  </header>
</th>

<th data-th-fragment="style">
  <link rel="stylesheet" type="text/css" data-th-href="@{/portal/css/banner-j.css}"/>
  <link rel="stylesheet" type="text/css" data-th-href="@{/portal/css/main.css}"/>
</th>

<th data-th-fragment="wrapper">
  <div id="wrapper">
    <div class="fullwidthbanner-container">
      <div class="fullwidthbanner">
        <ul>
          <li data-transition="3dcurtain-horizontal" data-slotamount="15" data-masterspeed="300">
            <img data-th-src="@{/portal/images/banner/banner2.jpg}" alt=""/>
          </li>
          <li data-transition="3dcurtain-vertical" data-slotamount="15" data-masterspeed="300" data-link="#">
            <img data-th-src="@{/portal/images/banner/banner1.jpg}" alt=""/>
          </li>
          <li data-transition="papercut" data-slotamount="15" data-masterspeed="300" data-link="#">
            <img data-th-src="@{/portal/images/banner/banner3.jpg}" alt=""/>
          </li>
        </ul>
      </div>
    </div>
  </div>
</th>

<th data-th-fragment="javascript">
  <script type="text/javascript" data-th-src="@{/portal/js/jquery-1.8.3.min.js}"></script>
  <script type="text/javascript" data-th-src="@{/portal/js/jquery.banner.revolution.min.js}"></script>
  <script type="text/javascript" data-th-src="@{/portal/js/banner.js}"></script>
  <script type="text/javascript" data-th-src="@{/portal/js/main.js}"></script>
</th>

<th data-th-fragment="footer">

</th>