<th data-th-fragment="meta">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="Ansonika">
	<title>首页</title>
</th>

<th data-th-fragment="style">
	<link rel="stylesheet" href="/common/css/antd.min.css">

	<link rel="stylesheet" href="/portal/css/caipu.css">
	<link rel="stylesheet" href="/portal/css/heal.css">
	<link rel="stylesheet" href="/portal/css/style.css">
</th>

<th data-th-fragment="javascript">
	<!--基础js-->
	<script src="/common/js/vue.js"></script>
	<script src="/common/js/httpVueLoader.js"></script>
	<script src="/common/js/vue-router.js"></script>
	<script src="/common/js/axios.min.js"></script>
	<script src="/common/js/moment.js"></script>

	<script src="/common/js/wangEditor.min.js"></script>
<!--	<script src="/common/js/element-ui.js"></script>-->
	<script src="/common/js/antd.min.js"></script>

<!--	<script src="/layui/layui.all.js"></script>-->
	<!--	<script src="/portal/js/main.js"></script>-->
	<!--	<script src="/portal/js/index.js"></script>-->
	<!--	<script src="/portal/js/nav.js"></script>-->

</th>

<th data-th-fragment="footer">

</th>
