<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>后台管理</title>
	<div data-th-include="/common/manage :: style"></div>
	<style>
		.el-header {
			background-color: #B3C0D1;
			color: #333;
			line-height: 60px;
		}

		.el-aside {
			color: #333;
		}
	</style>
</head>
<body style="margin: 0">
<div id="app">
	<el-container style="min-height: 100vh">
		<el-header width="100%" style="text-align: right; font-size: 12px">
			<!--			<router-link to="/demo">Demo</router-link>-->
			<el-col :span="24">
				<el-col :span="12">
					<span style="align-content: center;font-size: 18px">后台管理</span>
				</el-col>
				<el-col :span="12">
					<el-dropdown>
						<i class="el-icon-setting" style="margin-right: 15px"></i>
						<el-dropdown-menu slot="dropdown">
							<el-dropdown-item><span @click="logout">退出登录</span></el-dropdown-item>
						</el-dropdown-menu>
					</el-dropdown>
				</el-col>
			</el-col>
		</el-header>
		<el-container>
			<el-aside width="200px" style="border-right: solid 1px #e6e6e6;">
				<el-menu style="border: none">
					<el-submenu :index="`${pIndex}`" v-for="(item,pIndex) in menus" :key="item.id">
						<template slot="title">
							<i :class="item.icon"></i>{{item.name}}
						</template>
						<el-menu-item :index="`${pIndex}-${cIndex}`" v-for="(children,cIndex) in item.children"
						              @click="clickMenu(children.url)" :key="children.id">
							<i :class="item.icon"></i>{{children.name}}
						</el-menu-item>
					</el-submenu>
				</el-menu>
			</el-aside>
			<el-main>
				<p v-if="welcome">欢迎登录</p>
				<router-view></router-view>
			</el-main>
		</el-container>
	</el-container>
</div>
<div data-th-include="/common/manage :: javascript"></div>
<script data-th-src="@{/vue/manage/main.js}"></script>
</body>
</html>
