<% layout('/layouts/default.html', {title: '邮箱', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('邮箱')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${mail}" action="${ctx}/sys/mail/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<#form:hidden path="stu"/>
				<div class="form-group">
					<label class="control-label">${text('公司名称')}：</label>
					<div class="control-inline">
						<#form:input path="comname" maxlength="60" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('时间')}：</label>
					<div class="control-inline">
						<#form:input path="inputdate_gte" readonly="true" maxlength="20" class="form-control Wdate-date"
							dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false,onpicked:function(){inputdate_lte.click()}});"/>
						&nbsp;--&nbsp;
						<#form:input path="inputdate_lte" readonly="true" maxlength="20" class="form-control Wdate-date"
							dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('公司名称')}', name:'comname', index:'a.comname', width:100, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/sys/empUser/userInfo?userCode='+row.com+'" class="btnList" data-title="${text('公司详情')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('收发件')}', name:'send', index:'a.send', width:50, align:"center"},
		{header:'${text('备注')}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text('日期')}', name:'inputdate', index:'a.inputdate', width:50, align:"center"}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>