<th th:fragment="meta">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="renderer" content="webkit"/>
	<meta name="force-rendering" content="webkit"/>
</th>

<th th:fragment="javascript">
	<script th:src="@{/js/vue/vue.js}"></script>
	<script th:src="@{/js/axios.min.js}"></script>
	<script th:src="@{/js/vue/httpVueLoader.js}"></script>
	<script th:src="@{/js/vue/vue-router.js}"></script>
	<script th:src="@{/js/element-ui.js}"></script>
	<script th:src="@{/js/quill.js}"></script>
	<script th:src="@{/js/wangEditor.min.js}"></script>
</th>

<th th:fragment="style">
	<link rel="stylesheet" th:href="@{/css/element-ui.css}">
	<link rel="stylesheet" th:href="@{/css/quill.snow.css}">
</th>
