<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title></title>
  <div data-th-include="/base/page :: meta"></div>
  <div data-th-include="/base/page :: style"></div>
  <div data-th-include="/base/lay-ui :: style"></div>
</head>

<body>
<div class="header0">
  <div data-th-include="/base/page :: nav"></div>
</div>
<div class="clear"></div>
<div class="brandnav"></div>
<div class="clear"></div>
<div class="detailbox" id="page-talk-area2">
  <div class="xq">
    <h1>评论 主题一</h1>
    <div class="layui-form-item layui-form-text">
      <textarea name="content" placeholder="请输入内容" class="layui-textarea" v-model="form.content">1213</textarea>
      <br>
      <div class="layui-row">
        <div class="layui-col-md9"></div>
        <div class="layui-col-md3">
          <button class="layui-btn layui-btn-normal" size="small" @click="submit()">发布评论</button>
        </div>
      </div>
    </div>
    <div>
      <ul>
        <li>
          <div class="layui-row">
            <div class="layui-col-md2">用户</div>
            <div class="layui-col-md2">留言时间</div>
            <div class="layui-col-md6">内容</div>
          </div>
        </li>
        <hr>
        <li v-for="item in messages">
          <div class="layui-row">
            <div class="layui-col-md2">{{item.user}}</div>
            <div class="layui-col-md2">{{item.createTime}}</div>
            <div class="layui-col-md6">
              <span>{{item.content}}</span>
              <ul v-if="item.children.length">
                <hr>
                <li v-for="child in item.children">
                  <div class="layui-row">
                    <div class="layui-col-md12">{{child.content}}</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <hr>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="clear"></div>
<div data-th-include="/base/page :: javascript"></div>
<div data-th-include="/base/lay-ui :: javascript"></div>
<div data-th-include="/base/page :: footer"></div>
<script>
    let vue = new Vue({
        el: '#page-talk-area2',
        data() {
            return {
                messages: [],
                form: {
                    content: '',
                    area: 2
                },
            }
        },
        mounted() {
            this.getMessages()
        },
        methods: {
            getMessages() {
                const _this = this
                axios.get('/api/getMessages/2').then(response => {
                    const result = response.data
                    console.log('通过api获取到的数据:', result)
                    if (result.status !== 200) {
                        layer.msg(`${result.message}`);
                        return
                    }
                    _this.messages = result.data
                }).catch(function (error) {
                    console.log('请求出现错误:', error);
                });
            },
            submit() {
                console.log(this.form)
                const _this = this
                axios.post('/api/submitMessage', _this.form).then(response => {
                    const result = response.data
                    console.log('通过api获取到的数据:', result)
                  if (result.status !== 200) {
                    layer.msg(`${result.message}`);
                    if (result.status === 401) {
                      setTimeout(() => {
                        window.location.href = '/login'
                      }, 5000)
                    }
                    return
                  }
                    window.location.reload()
                }).catch(function (error) {
                    window.location.reload()
                    console.log('请求出现错误:', error);
                });
            }
        }
    })
</script>
</body>
</html>
