<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title></title>
  <div data-th-include="/base/page :: meta"></div>
  <div data-th-include="/base/page :: style"></div>
</head>

<body>
<div class="header0">
  <div data-th-include="/base/page :: nav"></div>
</div>
<div class="clear"></div>
<div class="brandnav"></div>
<div class="clear"></div>
<div class="detailbox" id="page-talk-area1">
  <div class="xq">
    <h1>评论 主题一</h1>
    <div class="layui-form-item layui-form-text">
      <textarea name="content" placeholder="请输入内容" class="layui-textarea" v-model="form.content">1213</textarea>
      <br>
      <div class="layui-row">
        <div class="layui-col-md9"></div>
        <div class="layui-col-md3">
          <button class="layui-btn layui-btn-normal" size="small" @click="submit()">发布评论</button>
        </div>
      </div>
    </div>
    <div>
      <ul>
        <li>
          <div class="layui-row">
            <div class="layui-col-md2">用户</div>
            <div class="layui-col-md2">留言时间</div>
            <div class="layui-col-md6">内容</div>
          </div>
        </li>
        <hr>
        <li v-for="item in messages">
          <div class="layui-row">
            <div class="layui-col-md2">{{item.fromUser.name}}</div>
            <div class="layui-col-md2">{{item.createTime}}</div>
            <div class="layui-col-md6">
              <span>{{item.content}}</span>
              <ul>
                <hr>
                <li v-for="item in item.children" v-if="item.children">
                  <div class="layui-row">
                    <div class="layui-col-md12">{{item.content}}</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <hr>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="clear"></div>
<div data-th-include="/base/page :: javascript"></div>
<div data-th-include="/base/page :: footer"></div>
<script>
  let vue = new Vue({
    el: '#page-talk-area1',
    data() {
      return {
        messages: [
          {
            fromUser: {
              name: '测试'
            },
            createTime: '20200220',
            content: '于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…',
            children: [
              {
                fromUser: {
                  name: '测试'
                },
                createTime: '20200221',
                content: '于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…11',
                children: []
              }
            ]
          },
          {
            fromUser: {
              name: '测试'
            },
            createTime: '20200220',
            content: '于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…',
            children: [
              {
                fromUser: {
                  name: '测试'
                },
                createTime: '20200221',
                content: '于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…11',
                children: []
              }
            ]
          }
        ],
        form: {
          content: '777777',
          area: 1
        },
      }
    },
    mounted() {
      this.getMessages()
    },
    methods: {
      getMessages() {
        const _this = this
        axios.get('/api/getMessages/1').then(response => {
          const result = response.data
          console.log('通过api获取到的数据:', result)
          if (result.status !== 200) {
            layer.msg(`${result.message}`);
            return
          }
          _this.messages = result.data
        }).catch(function (error) {
          console.log('请求出现错误:', error);
        });
      },
      submit() {
        console.log(this.form)
        const _this = this
        axios.post('/api/submitMessage', _this.form).then(response => {
          const result = response.data
          console.log('通过api获取到的数据:', result)
          if (result.status !== 200) {
            layer.msg(`${result.message}`);
            return
          }
        }).catch(function (error) {
          console.log('请求出现错误:', error);
        });
      }
    }
  })
</script>
</body>
</html>
