<% layout('/layouts/default.html', {title: '登录', libs: ['validate'], bodyClass: 'login-page'}){ %>
<% include('/include/upgrade.html'){} // 如果客户浏览器版本过低，则显示浏览器升级提示。 %>
<link rel="stylesheet" href="${ctxStatic}/icheck/1.0/square/blue.css?${_version}">
<link rel="stylesheet" href="${ctxStatic}/jquery-toastr/2.0/toastr.min.css?${_version}">
<link rel="stylesheet" href="${ctxStatic}/modules/sys/sysLogin.css?${_version}">
<div class="login-box">
	<div class="login-logo">
		<a href="${ctx}/login">
			<b>${@Global.getConfig('productName')}</b>
		</a>
	</div>
	<div class="login-box-body">
		<#form:form id="loginForm" model="${user}" action="${ctxPath}/account/register" method="post">
			<div class="form-group has-feedback">
				<span class="glyphicon glyphicon-user form-control-feedback" title="${text('登录账号')}"></span>
				<#form:input type="text" path="loginCode" class="form-control required abc"
					data-msg-required="${text('请填写登录账号.')}" placeholder="${text('登录账号')}"/>
			</div>
			<div class="form-group has-feedback">
				<span class="glyphicon glyphicon-user form-control-feedback" title="${text('用户名')}"></span>
				<#form:input type="text" path="userName" class="form-control required"
					data-msg-required="${text('请填写用户名.')}" placeholder="${text('用户名')}"/>
			</div>
			<div class="form-group has-feedback">
				<span class="glyphicon glyphicon-user form-control-feedback" title="${text('用户类型')}"></span>
				<#form:select path="userType" dictType="xxx_sysuser_type" class="form-control " />
			</div>
			<div class="form-group has-feedback">
				<span class="fa fa-lock form-control-feedback"></span>
				<input type="password" autocomplete="off" id="fp_password" name="password"
					class="form-control required" data-msg-required="请填写密码."
					rangelength="3,50" data-msg-rangelength="密码长度不能小于3并大于50个字符."
					placeholder="密码" />
			</div>
			<div class="form-group has-feedback">
				<span class="fa fa-lock form-control-feedback"></span>
				<input type="password" autocomplete="off" id="fp_confirmPassword" name="confirmPassword"
					class="form-control required" data-msg-required="确认密码."
					rangelength="3,50" data-msg-rangelength="密码长度不能小于3并大于50个字符."
					equalTo="#fp_password" data-msg-equalTo="密码与确认密码不同."
					placeholder="确认密码" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-flat" style="width:60%;"
					id="btnSubmit" data-loading="${text('正在注册...')}"
					data-login-valid="${text('正在注册，请稍后...')}">${text('注册')}</button>
				<button type="button" class="btn btn-default btn-flat" style="width:35%;"
						id="btnReset">${text('返回')}</button>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>var secretKey = '${@Global.getConfig("shiro.loginSubmit.secretKey")}';</script>
<script src="${ctxStatic}/jquery-toastr/2.0/toastr.min.js?${_version}"></script>
<script src="${ctxStatic}/common/des.js?${_version}"></script>
<script src="${ctxStatic}/modules/sys/sysLogin.js?${_version}"></script>
<script>
$('#btnReset').click(function(){
	location = '${ctx}/login';
});
</script>