<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title></title>
  <div data-th-include="base :: meta"></div>
  <div data-th-include="base :: style"></div>
  <div data-th-include="base :: javascript"></div>
</head>

<body>
<div class="header0">
  <div data-th-include="base :: nav"></div>
</div>
<div class="clear"></div>
<div class="banner0">
  <img src="../../images/banner.png"/>
</div>
<div class="typebox">
</div>
<div class="clear"></div>
<ul class="listul">
  <li>
    <div class="newsl">
      <img src="../../images/1.png"/>
    </div>
    <div class="newsc">
      <a href="../strategy/info.html" class="ccsl">暑假去哪玩？桃花苑天地避暑甚好！</a>
      <div class="sub">
        暑期近在眼前，还在犹豫带孩子去哪儿玩吗？炎热的夏天，一颗躁动的心，背上收拾好的背包，走遍大好河山，感受大千世界，还不如隐居室外桃源桃花苑天地精品。少一些城市的喧嚣，回归大自然的清新脱俗，来一场说走就走的夏日之旅吧。
      </div>
    </div>
    <div class="newsr">
      <span>05.25</span>
      <time>2016</time>
    </div>
  </li>
  <li>
    <div class="newsl">
      <img src="../../images/1.png"/>
    </div>
    <div class="newsc">
      <a href="../strategy/info.html" class="ccsl">暑假去哪玩？桃花苑天地避暑甚好！</a>
      <div class="sub">
        暑期近在眼前，还在犹豫带孩子去哪儿玩吗？炎热的夏天，一颗躁动的心，背上收拾好的背包，走遍大好河山，感受大千世界，还不如隐居室外桃源桃花苑天地精品。少一些城市的喧嚣，回归大自然的清新脱俗，来一场说走就走的夏日之旅吧。
      </div>
    </div>
    <div class="newsr">
      <span>05.25</span>
      <time>2016</time>
    </div>
  </li>
</ul>
<div class="clear"></div>
<div data-th-include="base :: footer"></div>
</body>
</html>
