<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org"
			xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<div data-th-replace="/components/base :: javascript"></div>
	<div data-th-replace="/components/vue :: javascript"></div>
	<div data-th-replace="/components/ui :: antd"></div>
	<style>
      .drawer-bottom-button {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 100%;
          border-top: 1px solid #e9e9e9;
          padding: 10px 16px;
          background: #fff;
          text-align: right;
          z-index: 1;
      }

      .ant-input-number {
          width: 100%;
      }
	</style>
</head>
<body>
<div id="app">
	<a-tabs type="card">
		<a-tab-pane key="1" tab="轮播图">
			<div class="clearfix">
				<a-upload name="file" list-type="picture-card" :file-list="temp.fileList" :headers="headers"
									action="/api/uploadFile" @preview="showPreview" @change="changeUploadFile"
									:remove="removeUploadFile">
					<div v-if="temp.fileList.length < 9">
						<a-icon type="plus"></a-icon>
						<div class="ant-upload-text"> 上传</div>
					</div>
				</a-upload>
				<a-button type="primary" @click="saveBanners" style="margin-top: 1rem">保存</a-button>
			</div>
		</a-tab-pane>
		<a-tab-pane key="2" tab="首页通知">
			<div class="clearfix">
				<a-textarea placeholder="首页通知内容" v-model="form.baseNotice"></a-textarea>
				<a-button type="primary" @click="saveBaseNotice" style="margin-top: 1rem">保存</a-button>
			</div>
		</a-tab-pane>
		<a-tab-pane key="3" tab="疫情通知">
			<div class="clearfix">
				<a-textarea placeholder="体温填报页通知内容" v-model="form.temperatureNotice"></a-textarea>
				<a-button type="primary" @click="saveTemperatureNotice" style="margin-top: 1rem">保存</a-button>
			</div>
		</a-tab-pane>
	</a-tabs>
	<a-modal :visible="show.previewImg" :footer="null" @cancel="closePreview">
		<img style="width: 100%" :src="temp.previewSrc"/>
	</a-modal>
</div>
<script>
    const app = new Vue({
        el: '#app',
        data() {
            return {
                headers: headers,
                labelCol: {span: 5},
                wrapperCol: {span: 16},
                form: {
                    goods: {messages: []},
                    baseNotice: '',
                    temperatureNotice: '',
                },
                show: {
                    previewImg: false,
                },
                temp: {
                    previewSrc: '',
                    fileList: [],
                },
                sysUser: sessionStorage.getItem("sysUser")
            };
        },
        mounted() {
            this.getBannerList()
            this.getBaseNotice()
            this.getTemperatureNotice()
        },
        methods: {
            saveTemperatureNotice() {
                let data = {
                    content: this.form.temperatureNotice
                }
                axios.post('/api/custom/save/notice/temperature', data).then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    this.$message.success(result.message);
                    this.getTemperatureNotice()
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            getTemperatureNotice() {
                axios.get('/api/custom/get/notice/temperature').then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    if (result.data !== null) {
                        this.form.temperatureNotice = result.data
                    }
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            saveBaseNotice() {
                let data = {
                    content: this.form.baseNotice
                }
                axios.post('/api/custom/save/notice/base', data).then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    this.$message.success(result.message);
                    this.getBaseNotice()
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            getBaseNotice() {
                axios.get('/api/custom/get/notice/base').then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    if (result.data !== null) {
                        this.form.baseNotice = result.data
                    }
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            saveBanners() {
                let data = this.temp.fileList.map(e => {
                    return e.currentData
                })
                axios.post('/api/custom/save/banner', data).then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    this.$message.success(result.message);
                    this.getBannerList()
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            getBannerList() {
                axios.get('/api/custom/get/banner').then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    if (result.data !== null) {
                        this.formatList(result.data)
                    }
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            formatList(source) {
                let fileList = source.map(e => {
                    return {
                        id: e.id,
                        uid: e.id,
                        name: e.oldName,
                        status: 'done',
                        url: e.virtualPath,
                        currentData: e
                    }
                })
                this.temp.fileList = fileList.sort((a, b) => {
                    let createTimeA = new moment(a.createTime)
                    let createTimeB = new moment(b.createTime)
                    return createTimeA.diff(createTimeB, 's');
                })
            },
            closePreview() {
                this.show.previewImg = false
            },
            async showPreview(file) {
                this.temp.previewSrc = file.url
                this.show.previewImg = true
            },
            changeUploadFile(info) {
                this.temp.fileList = info.fileList
                if (info.file.status === 'done') {
                    this.$message.success(`${info.file.name} 上传成功`);
                    let data = {
                        id: info.file.response.data.id,
                        uid: info.file.response.data.id,
                        name: info.file.response.data.oldName,
                        status: 'done',
                        url: info.file.response.data.virtualPath,
                        currentData: info.file.response.data
                    }
                    info.currentData = info.file.response.data
                    this.temp.fileList.pop()
                    this.temp.fileList.push(data)
                } else if (info.file.status === 'error') {
                    this.$message.error(`${info.file.name} 上传失败`);
                }
            },
            removeUploadFile(file) {
                this.temp.fileList = this.temp.fileList.filter(e => {
                    return e.id !== file.id
                })
            },
        }
    })
</script>
</body>
</html>
