<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org"
			xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<div data-th-replace="/components/base :: javascript"></div>
	<div data-th-replace="/components/vue :: javascript"></div>
	<div data-th-replace="/components/ui :: antd"></div>
	<style>
      .drawer-bottom-button {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 100%;
          border-top: 1px solid #e9e9e9;
          padding: 10px 16px;
          background: #fff;
          text-align: right;
          z-index: 1;
      }

      .ant-input-number {
          width: 100%;
      }
	</style>
</head>
<body>
<div id="app">
	<a-row>
		<a-col :span="6">
			<a-input placeholder="输入词条搜索" v-model="form.searchText"></a-input>
		</a-col>
		<a-col :span="6" style="display: flex;justify-content: space-around">
			<a-button type="primary" @click="search">搜索</a-button>
			<a-button @click="resetList">重置</a-button>
			<a-button @click="showAddOrderForm">添加账单</a-button>
			<a-button @click="allPass">一键缴费</a-button>
		</a-col>
	</a-row>
	<a-divider></a-divider>
	<p>
		<span>总金额:</span>
		<span>{{temp.waitCount+temp.failCount+temp.passCount}},</span>
		<span>已缴费:</span>
		<span>{{temp.passCount}},</span>
		<span>逾期:</span>
		<span>{{temp.failCount}},</span>
		<span>待缴费:</span>
		<span>{{temp.waitCount}}</span>
	</p>
	<a-divider></a-divider>
	<a-tabs type="card">
		<a-tab-pane key="1" tab="全部账单">
			<a-table :columns="columns.order" :data-source="tableDataList.allOrder" rowKey="id" :pagination="false">
				<span slot="indexNum" slot-scope="text">{{ text + 1 }}</span>
				<span slot="person" slot-scope="text,record">
          <a-tooltip placement="topLeft">
            <template slot="title">
              <span>{{ text.name }}</span>
            </template>
            <span class="step-content">{{ text.name }}</span>
          </a-tooltip>
        </span>
				<span slot="createTime" slot-scope="text">
          <a-tooltip placement="topLeft">
            <template slot="title">
              <span>{{ text }}</span>
            </template>
            <span class="step-content">{{ text }}</span>
          </a-tooltip>
        </span>
				<span slot="note" slot-scope="text">
          <a-tooltip placement="topLeft">
            <template slot="title">
              <span>{{ text }}</span>
            </template>
            <span class="step-content">{{ text }}</span>
          </a-tooltip>
        </span>
				<span slot="type" slot-scope="text">
						<a-tag color="green" v-if="text === 1">月供账单</a-tag>
						<a-tag color="blue" v-if="text === 2">其他账单</a-tag>
				</span>
				<span slot="status" slot-scope="text">
          <a-tag color="green" v-if="text === 0">已缴费</a-tag>
          <a-tag color="blue" v-if="text === 1">待缴费</a-tag>
          <a-tag color="red" v-if="text === 2">逾期</a-tag>
				</span>
				<span slot="action" slot-scope="text, record">
					<a-button type="default" size="small" @click="passOrder(record)">缴费</a-button>
					<a-button type="default" size="small" @click="failOrder(record)">逾期</a-button>
					<a-button type="primary" size="small" @click="showEditOrderForm(record,2)">编辑</a-button>
					<a-button type="danger" size="small" @click="deleteOrder(record)">删除</a-button>
      	</span>
			</a-table>
		</a-tab-pane>
		<a-tab-pane key="2" tab="已缴费">
			<a-table :columns="columns.order" :data-source="tableDataList.passOrder" rowKey="id" :pagination="false">
				<span slot="indexNum" slot-scope="text">{{ text + 1 }}</span>
				<span slot="person" slot-scope="text,record">
          <a-tooltip placement="topLeft">
            <template slot="title">
              <span>{{ text.name }}</span>
            </template>
            <span class="step-content">{{ text.name }}</span>
          </a-tooltip>
        </span>
				<span slot="createTime" slot-scope="text">
          <a-tooltip placement="topLeft">
            <template slot="title">
              <span>{{ text }}</span>
            </template>
            <span class="step-content">{{ text }}</span>
          </a-tooltip>
        </span>
				<span slot="note" slot-scope="text">
          <a-tooltip placement="topLeft">
            <template slot="title">
              <span>{{ text }}</span>
            </template>
            <span class="step-content">{{ text }}</span>
          </a-tooltip>
        </span>
				<span slot="type" slot-scope="text">
						<a-tag color="green" v-if="text === 1">月供账单</a-tag>
						<a-tag color="blue" v-if="text === 2">其他账单</a-tag>
				</span>
				<span slot="status" slot-scope="text">
          <a-tag color="green" v-if="text === 0">已缴费</a-tag>
          <a-tag color="blue" v-if="text === 1">待缴费</a-tag>
          <a-tag color="red" v-if="text === 2">逾期</a-tag>
				</span>
				<span slot="action" slot-scope="text, record">
						<a-button type="default" size="small" @click="passOrder(record)">缴费</a-button>
					<a-button type="default" size="small" @click="failOrder(record)">逾期</a-button>
					<a-button type="primary" size="small" @click="showEditOrderForm(record,2)">编辑</a-button>
					<a-button type="danger" size="small" @click="deleteOrder(record)">删除</a-button>
      	</span>
			</a-table>
		</a-tab-pane>
		<a-tab-pane key="3" tab="未缴费">
			<a-table :columns="columns.order" :data-source="tableDataList.waitOrder" rowKey="id" :pagination="false">
				<span slot="indexNum" slot-scope="text">{{ text + 1 }}</span>
				<span slot="person" slot-scope="text,record">
          <a-tooltip placement="topLeft">
            <template slot="title">
              <span>{{ text.name }}</span>
            </template>
            <span class="step-content">{{ text.name }}</span>
          </a-tooltip>
        </span>
				<span slot="createTime" slot-scope="text">
          <a-tooltip placement="topLeft">
            <template slot="title">
              <span>{{ text }}</span>
            </template>
            <span class="step-content">{{ text }}</span>
          </a-tooltip>
        </span>
				<span slot="note" slot-scope="text">
          <a-tooltip placement="topLeft">
            <template slot="title">
              <span>{{ text }}</span>
            </template>
            <span class="step-content">{{ text }}</span>
          </a-tooltip>
        </span>
				<span slot="type" slot-scope="text">
						<a-tag color="green" v-if="text === 1">月供账单</a-tag>
						<a-tag color="blue" v-if="text === 2">其他账单</a-tag>
				</span>
				<span slot="status" slot-scope="text">
          <a-tag color="green" v-if="text === 0">已缴费</a-tag>
          <a-tag color="blue" v-if="text === 1">待缴费</a-tag>
          <a-tag color="red" v-if="text === 2">逾期</a-tag>
				</span>
				<span slot="action" slot-scope="text, record">
					<a-button type="default" size="small" @click="passOrder(record)">缴费</a-button>
					<a-button type="default" size="small" @click="failOrder(record)">逾期</a-button>
					<a-button type="primary" size="small" @click="showEditOrderForm(record,2)">编辑</a-button>
					<a-button type="danger" size="small" @click="deleteOrder(record)">删除</a-button>
      	</span>
			</a-table>
		</a-tab-pane>
		<a-tab-pane key="4" tab="逾期账单">
			<a-table :columns="columns.order" :data-source="tableDataList.failOrder" rowKey="id" :pagination="false">
				<span slot="indexNum" slot-scope="text">{{ text + 1 }}</span>
				<span slot="person" slot-scope="text,record">
          <a-tooltip placement="topLeft">
            <template slot="title">
              <span>{{ text.name }}</span>
            </template>
            <span class="step-content">{{ text.name }}</span>
          </a-tooltip>
        </span>
				<span slot="createTime" slot-scope="text">
          <a-tooltip placement="topLeft">
            <template slot="title">
              <span>{{ text }}</span>
            </template>
            <span class="step-content">{{ text }}</span>
          </a-tooltip>
        </span>
				<span slot="note" slot-scope="text">
          <a-tooltip placement="topLeft">
            <template slot="title">
              <span>{{ text }}</span>
            </template>
            <span class="step-content">{{ text }}</span>
          </a-tooltip>
        </span>
				<span slot="type" slot-scope="text">
						<a-tag color="green" v-if="text === 1">月供账单</a-tag>
						<a-tag color="blue" v-if="text === 2">其他账单</a-tag>
				</span>
				<span slot="status" slot-scope="text">
          <a-tag color="green" v-if="text === 0">已缴费</a-tag>
          <a-tag color="blue" v-if="text === 1">待缴费</a-tag>
          <a-tag color="red" v-if="text === 2">逾期</a-tag>
				</span>
				<span slot="action" slot-scope="text, record">
					<a-button type="default" size="small" @click="passOrder(record)">缴费</a-button>
					<a-button type="default" size="small" @click="failOrder(record)">逾期</a-button>
					<a-button type="primary" size="small" @click="showEditOrderForm(record,2)">编辑</a-button>
					<a-button type="danger" size="small" @click="deleteOrder(record)">删除</a-button>
      	</span>
			</a-table>
		</a-tab-pane>
	</a-tabs>
	<a-modal title="添加账单" :visible.sync="show.addOrderForm" width="30%" ok-text="确认"
					 cancel-text="取消" @ok="saveOrderForm" @cancel="closeAddOrderForm">
		<a-form-model ref="orderForm" :model="form.order" :rules="rules" :label-col="labelCol" :wrapper-col="wrapperCol">
			<a-form-model-item label="账单人" prop="personId">
				<a-select style="width: 100%" @change="changePerson" v-model="form.order.personId">
					<a-select-option :value="item.id" :key="item.id" v-for="item in options.person"> {{item.name}}
					</a-select-option>
				</a-select>
			</a-form-model-item>
			<a-form-model-item label="金额" prop="price">
				<a-input-number :min="0" v-model="form.order.price"></a-input-number>
			</a-form-model-item>
			<a-form-model-item label="词条" prop="keyword">
				<a-input v-model="form.order.keyword"></a-input>
			</a-form-model-item>
			<a-form-model-item label="账单类型" prop="type">
				<a-radio-group name="type" v-model="form.order.type">
					<a-radio :value="1">月供账单</a-radio>
					<a-radio :value="2">其他账单</a-radio>
				</a-radio-group>
			</a-form-model-item>
			<a-form-model-item label="到期时间" prop="lastTime">
				<a-date-picker v-model="form.order.lastTime"/>
			</a-form-model-item>
			<a-form-model-item label="备注" prop="note">
				<a-textarea v-model="form.order.note" :rows="4"></a-textarea>
			</a-form-model-item>
		</a-form-model>
	</a-modal>
</div>
<script>
    const app = new Vue({
        el: '#app',
        data() {
            return {
                headers: headers,
                options: {person: []},
                columns: {
                    order: [
                        {
                            dataIndex: 'no',
                            title: '流水号',
                        },
                        {
                            dataIndex: 'price',
                            title: '金额',
                        },
                        {
                            dataIndex: 'keyword',
                            title: '词条',
                            ellipsis: true,
                        },
                        {
                            dataIndex: 'type',
                            title: '类型',
                            scopedSlots: {customRender: 'type'},
                        },
                        {
                            dataIndex: 'status',
                            title: '状态',
                            scopedSlots: {customRender: 'status'},
                            width: '10%'
                        },
                        {
                            dataIndex: 'person',
                            title: '账单人',
                            scopedSlots: {customRender: 'person'},
                            width: '10%'
                        },
                        {
                            dataIndex: 'createTime',
                            title: '账单时间',
                            scopedSlots: {customRender: 'createTime'},
                            width: '10%'
                        },
                        {
                            dataIndex: 'lastTimeStr',
                            title: '逾期时间',
                            width: '10%'
                        },
                        {
                            dataIndex: 'note',
                            title: '备注',
                            scopedSlots: {customRender: 'note'},
                            ellipsis: true,
                            width: '10%'
                        },
                        {
                            dataIndex: 'action',
                            title: '操作',
                            scopedSlots: {customRender: 'action'},
                            width: '20%'
                        },
                    ],
                },
                tableDataList: {
                    allOrder: [],
                    passOrder: [],
                    waitOrder: [],
                    failOrder: [],
                },
                rules: {
                    price: [
                        {required: true, message: '请输入账单金额', trigger: 'change'},
                    ],
                    keyword: [
                        {required: true, message: '请输入词条', trigger: 'change'},
                    ],
                    personId: [
                        {required: true, message: '请选择账单人', trigger: 'change'},
                    ],
                    type: [
                        {required: true, message: '请选择账单类型', trigger: 'change'},
                    ],
                },
                labelCol: {span: 5},
                wrapperCol: {span: 16},
                form: {
                    order: {lastTime: ''},
                    searchText: ' ',
                },
                show: {
                    addOrderForm: false,
                },
                temp: {
                    isAddGoods: false,
                    count: 0,
                    passCount: 0,
                    failCount: 0,
                    waitCount: 0,
                },
                sysUser: sessionStorage.getItem("sysUser")
            };
        },
        mounted() {
            this.getList()
            this.getPersonList()
        },
        methods: {
            allPass() {
                const _this = this
                _this.$confirm({
                    title: '确认一键缴费?',
                    cancelText: '取消',
                    okText: '确定',
                    onOk() {
                        axios.post(`/api/order/allPass`).then(response => {
                            const result = response.data
                            if (result.status !== 200) {
                                _this.$message.error(result.message);
                                return;
                            }
                            _this.getList()
                        }).catch(function (error) {
                            console.error('出现错误:', error);
                        });
                    },
                });
            },
            passOrder(record) {
                const _this = this
                _this.$confirm({
                    title: '确认缴费?',
                    cancelText: '取消',
                    okText: '确定',
                    onOk() {
                        axios.post(`/api/order/checkPass/${record.id}`).then(response => {
                            const result = response.data
                            if (result.status !== 200) {
                                _this.$message.error(result.message);
                                return;
                            }
                            _this.getList()
                        }).catch(function (error) {
                            console.error('出现错误:', error);
                        });
                    },
                });
            },
            failOrder(record) {
                const _this = this
                _this.$confirm({
                    title: '确认逾期?',
                    cancelText: '取消',
                    okText: '确定',
                    onOk() {
                        axios.post(`/api/order/checkFail/${record.id}`).then(response => {
                            const result = response.data
                            if (result.status !== 200) {
                                _this.$message.error(result.message);
                                return;
                            }
                            _this.getList()
                        }).catch(function (error) {
                            console.error('出现错误:', error);
                        });
                    },
                });
            },
            changePerson(id) {
                const ids = this.options.person.filter(e => {
                    return e.id === id
                })
                this.form.order.person = ids[0]
            },
            showOrderInfo(e) {
                console.log(e)
            },
            search() {
                axios.get(`/api/order/search/${this.form.searchText}`).then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    if (result.data !== null) {
                        this.filterList(result.data)
                    }
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            getPersonList() {
                axios.get('/api/person/list').then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    if (result.data !== null) {
                        this.options.person = result.data;
                    }
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            showAddOrderForm() {
                this.form.order = {}
                this.show.addOrderForm = true
            },
            showEditOrderForm(e) {
                this.form.order = e
                this.form.order.personId = e.personId
                this.show.addOrderForm = true
            },
            closeAddOrderForm() {
                this.show.addOrderForm = false
                this.form.order = {}
            },
            saveOrderForm() {
                let data = this.form.order
                data.status = 1
                data.lastTime = new moment(this.form.order.lastTime).format('YYYY-MM-DD')
                axios.post('/api/order/save', data).then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    this.$message.success(result.message);
                    this.closeAddOrderForm()
                    this.getList()
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            deleteOrder(record) {
                const _this = this
                _this.$confirm({
                    title: '确认操作?',
                    cancelText: '取消',
                    okText: '确定',
                    onOk() {
                        axios.delete(`/api/order/delete/${record.id}`).then(response => {
                            const result = response.data
                            if (result.status !== 200) {
                                _this.$message.error(result.message);
                                return;
                            }
                            _this.getList()
                        }).catch(function (error) {
                            console.error('出现错误:', error);
                        });
                    },
                });

            },
            resetList() {
                this.temp.search = ' '
                this.getList()
            },
            getList() {
                axios.get('/api/order/list').then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    if (result.data !== null) {
                        this.filterList(result.data)
                    }
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            filterList(source) {
                let passCount = 0
                let failCount = 0
                let waitCount = 0
                const dataList = source.map(e => {
                    if (e.status === 0) {
                        passCount += e.price
                    }
                    if (e.status === 1) {
                        waitCount += e.price
                    }
                    if (e.status === 2) {
                        failCount += e.price
                    }
                    return {
                        id: e.id,
                        no: e.no,
                        price: e.price,
                        keyword: e.keyword,
                        type: e.type,
                        status: e.status,
                        createTime: e.createTime,
                        createTimeStr: new moment(e.createTime).format('YYYY-MM-DD HH:mm:ss'),
                        lastTime: e.lastTime,
                        lastTimeStr: new moment(e.lastTime).format('YYYY-MM-DD'),
                        note: e.note,
                        person: e.person,
                        personId: e.person.id,
                    }
                });
                this.tableDataList.allOrder = dataList
                this.tableDataList.passOrder = dataList.filter(e => e.status === 0)
                this.tableDataList.waitOrder = dataList.filter(e => e.status === 1)
                this.tableDataList.failOrder = dataList.filter(e => e.status === 2)
                this.temp.passCount = passCount
                this.temp.waitCount = waitCount
                this.temp.failCount = failCount
            },
        }
    })
</script>
</body>
</html>
