<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org"
			xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>后台管理</title>
	<div data-th-include="/components/server/index :: style"></div>
	<div data-th-replace="/components/server/index :: meta"></div>
	<style>
      #app {
          background: url(/images/login-02/background.png) no-repeat 100%;
          padding: 0;
          margin: 0;
      }

      * {
          cursor: url('/images/cursor/mouse-03.cur'), default
      }

      body {
          padding: 0;
          margin: 0;
      }

      .tableRowClassName {
          background: rgba(0, 0, 0, 0) !important;
      }

      .el-table {
          background: rgba(0, 0, 0, 0) !important;
      }
	</style>
</head>
<body>
<div id="app" style="cursor:url('/images/cursor/mouse-03.cur'),default">
	<el-container style=" border: 1px solid #eee">
		<div data-th-replace="/components/server/index :: header"></div>
		<el-container>
			<div data-th-replace="/components/server/index :: menus"></div>
			<el-main>
				<el-table :data="paperList" style="width: 100%;" row-class-name="tableRowClassName">
					<el-table-column prop="title" label="文章标题" width="220"></el-table-column>
					<el-table-column prop="content" label="文章内容" :show-overflow-tooltip="true"></el-table-column>
					<el-table-column prop="author" label="作者" :show-overflow-tooltip="true"></el-table-column>
					<el-table-column prop="publisher.username" label="发布人" :show-overflow-tooltip="true"></el-table-column>
					<el-table-column prop="updateTime" label="发布时间" :show-overflow-tooltip="true"></el-table-column>
					<el-table-column label="操作" width="300">
						<template slot-scope="scope">
							<el-button type="danger" @click="remove(scope)" size="mini">删除</el-button>
							<el-button type="primary" @click="openPaperEdit(scope)" size="mini">编辑</el-button>
							<el-button type="primary" @click="openReadWindow(scope)" size="mini">朗读</el-button>
						</template>
					</el-table-column>
				</el-table>
				<div style="display: flex;justify-content: end;flex-flow: row">
					<el-pagination layout="prev,pager,next" background
												 @current-change="changePage" @prev-click="changePage" @next-click="changePage"
												 :total="pagination.total" :page-size="pagination.pageSize"
												 :hide-on-single-page="true"></el-pagination>
				</div>
				<el-button type="primary" @click="openPaperEdit(undefined)" size="mini" style="margin-top: 10px">添加文章
				</el-button>
				<el-drawer :visible.sync="show.drawer" @close="closeEdit" :wrapperClosable="false" size="60%" ref="drawer"  v-loading="show.parseText"
									 :close-on-click-modal="false" element-loading-text="文件解析中"
									 element-loading-spinner="el-icon-loading" element-loading-background="rgba(0, 0, 0, 0.8)">
						<el-form v-model="form">
							<el-form-item label="文章标题" :label-width="formLabelWidth">
								<el-input v-model="form.paper.title" autocomplete="off"></el-input>
							</el-form-item>
							<el-form-item label="作者" :label-width="formLabelWidth">
								<el-input v-model="form.paper.author" autocomplete="off"></el-input>
							</el-form-item>
							<el-form-item label="上传文件" :label-width="formLabelWidth">
								<el-upload class="avatar-uploader" :action="`/api/uploadFile`"
													 :show-file-list="false" ref="uploadFile" :limit="1" :on-success="uploadSuccess">
									<el-button size="small" type="primary">点击上传</el-button>
								</el-upload>
							</el-form-item>
							<el-form-item label="作者" :label-width="formLabelWidth">
								<el-input v-model="form.paper.content" type="textarea" rows="20"></el-input>
							</el-form-item>
						</el-form>
						<div style="margin-left: 10px">
							<el-button type="primary" @click="savePaper" :loading="show.loading">
								{{ show.loading ? '提交中 ...' : '确定'}}
							</el-button>
							<el-button @click="closeEdit">取 消</el-button>
						</div>
				</el-drawer>
				<el-dialog :visible.sync="show.read" title="播放设置" width="40%" center v-loading="show.voicing"
									 :close-on-click-modal="false" element-loading-text="语音合成中，请稍后"
									 element-loading-spinner="el-icon-loading" element-loading-background="rgba(0, 0, 0, 0.8)">
					<div class="block">
						<span>音色</span>
						<el-cascader v-model="form.voices" :options="voiceOptions" :props="{ expandTrigger: 'hover'}"
												 style="width:100%">
							<template slot-scope="{ node, data }">
								<span v-if="node.isLeaf">{{ data.name }} ({{ data.label }}) </span>
								<span v-else>{{ data.label }} </span>
								<span v-if="!node.isLeaf"> ({{ data.children.length }}) </span>
							</template>
						</el-cascader>
					</div>
					<div class="block">
						<span>语调</span>
						<el-slider v-model="form.reader.pitchRate" :min="-500" :max="500"></el-slider>
					</div>
					<div class="block">
						<span>语速</span>
						<el-slider v-model="form.reader.speechRate" :min="-500" :max="500"></el-slider>
					</div>
					<audio controls="controls" id="player" style="display: none"></audio>
					<el-button @click="createVoiceFile" type="primary" size="mini">开始合成</el-button>
					<el-button @click="replay" size="mini">重新播放</el-button>
					<el-button @click="closeReadWindow" size="mini">关闭</el-button>
				</el-dialog>
			</el-main>
		</el-container>
	</el-container>
</div>
<div data-th-include="/components/vue :: javascript"></div>
<div data-th-replace="/components/server/index :: javascript"></div>

<script src="./main.js"></script>
</body>
</html>
