<!doctype html>
<html class="x-admin-sm"
>
<head>
	<div data-th-replace="/components/base :: javascript"></div>
	<div data-th-replace="/components/vue :: javascript"></div>
	<div data-th-replace="/components/ui :: antd"></div>
	<style>
      .drawer-bottom-button {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 100%;
          border-top: 1px solid #e9e9e9;
          padding: 10px 16px;
          background: #fff;
          text-align: right;
          z-index: 1;
      }

      .ant-input-number {
          width: 100%;
      }
	</style>
</head>
<body>
<div id="app">
	<a-table :columns="columns.order" :data-source="tableDataList.allOrder" rowKey="id" :pagination="false">
		<span slot="indexNum" slot-scope="text">{{ text + 1 }}</span>
		<span slot="goods" slot-scope="text,record">
          <a-tooltip placement="topLeft">
            <template slot="title">
              <span>{{ record.goods.name }}</span>
            </template>
            <span class="step-content">{{ record.goods.name }}</span>
          </a-tooltip>
        </span>
		<span slot="price" slot-scope="text,record">
          <a-tooltip placement="topLeft">
            <template slot="title">
              <span>{{ record.goods.price }}</span>
            </template>
            <span class="step-content">{{ record.goods.price }}</span>
          </a-tooltip>
        </span>
		<span slot="allPrice" slot-scope="text,record">
         {{ record.goods.price*record.countNum }}
			</a-tooltip>
        </span>
		<span slot="createTime" slot-scope="text">
          <a-tooltip placement="topLeft">
            <template slot="title">
              <span>{{ text }}</span>
            </template>
            <span class="step-content">{{ text }}</span>
          </a-tooltip>
        </span>
		<span slot="user" slot-scope="text,record">
          <a-tooltip placement="topLeft">
            <template slot="title">
              <span>{{ record.user.username }}</span>
            </template>
            <span class="step-content">{{ record.user.username }}</span>
          </a-tooltip>
        </span>
		<span slot="action" slot-scope="text, record">
			<a-button type="danger" size="small" @click="deleteOrder(record)">删除</a-button>
			<a-button type="primary" size="small" @click="showOrderInfo(record)">查看详情</a-button>
			<a-button type="primary" size="small" @click="editOrderNote(record)">编辑备注</a-button>
		</span>
	</a-table>
	<a-modal title="详情" :visible.sync="show.orderInfo" width="20%" @cancel="closeOrderInfo" :footer="false">
		<div v-for="item in temp.orderInfo.goods">
			<p style="display: flex;justify-content: space-between">
				<span>{{item.name}} </span>
				<span>￥{{item.price}} </span>
			</p>
			<a-divider></a-divider>
		</div>
	</a-modal>
	<a-modal title="备注" :visible.sync="show.editNote" width="20%" @cancel="closeEditOrderNote">
		<a-input v-model="form.note" placeholder="请输入备注"></a-input>
		<span slot="footer">
			<a-button @click="saveOrderNote">保存</a-button>
		</span>
	</a-modal>

</div>
<script>
    const app = new Vue({
        el: '#app',
        data() {
            return {
                headers: headers,
                options: {person: []},
                columns: {
                    order: [
                        {
                            dataIndex: 'id',
                            title: '账单id',
                        },
                        {
                            dataIndex: 'price',
                            title: '金额',
                            // scopedSlots: {customRender: 'allPrice'},
                        },
                        {
                            dataIndex: 'user',
                            title: '用户',
                            scopedSlots: {customRender: 'user'},
                            width: '10%'
                        },
                        {
                            dataIndex: 'address',
                            title: '地址',
                            width: '10%'
                        },
                        {
                            dataIndex: 'phone',
                            title: '电话',
                            width: '10%'
                        },
                        {
                            dataIndex: 'note',
                            title: '备注',
                            width: '10%'
                        },
                        {
                            dataIndex: 'createTime',
                            title: '时间',
                            scopedSlots: {customRender: 'createTime'},
                            width: '10%'
                        },
                        {
                            dataIndex: 'action',
                            title: '操作',
                            scopedSlots: {customRender: 'action'},
                            width: '20%'
                        },
                    ],
                },
                tableDataList: {
                    allOrder: [],
                },
                labelCol: {span: 5},
                wrapperCol: {span: 16},
                form: {
                    order: {},
                    searchText: ' ',
                    note: ' ',
                },
                show: {
                    orderInfo: false,
                    editNote: false,
                },
                temp: {
                    orderInfo: {}
                },
                sysUser: sessionStorage.getItem("sysUser")
            };
        },
        mounted() {
            this.getList()
        },
        methods: {
            saveOrderNote() {
                let params = {
                    note: this.form.note
                }
                axios.get(`/api/order/saveNote/${this.temp.orderInfo.id}`, {params: params}).then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    this.closeEditOrderNote()
                    this.getList()
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            closeEditOrderNote() {
                this.show.editNote = false
                this.form.note = ''
                this.temp.orderInfo = {}
            },
            editOrderNote(record) {
                this.show.editNote = true
                this.temp.orderInfo = record
            },
            closeOrderInfo() {
                this.show.orderInfo = false
                this.form.note = ''
                this.temp.orderInfo = {}
            },
            showOrderInfo(record) {
                this.show.orderInfo = true
                this.temp.orderInfo = record
            },
            deleteOrder(record) {
                const _this = this
                _this.$confirm({
                    title: '确认操作?',
                    cancelText: '取消',
                    okText: '确定',
                    onOk() {
                        axios.delete(`/api/order/delete/${record.id}`).then(response => {
                            const result = response.data
                            if (result.status !== 200) {
                                _this.$message.error(result.message);
                                return;
                            }
                            _this.getList()
                        }).catch(function (error) {
                            console.error('出现错误:', error);
                        });
                    },
                });

            },
            resetList() {
                this.temp.search = ' '
                this.getList()
            },
            getList() {
                axios.get('/api/order/getAll').then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    if (result.data !== null) {
                        this.filterList(result.data)
                    }
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            filterList(source) {
                this.tableDataList.allOrder = source.map(e => {
                    return {
                        id: e.id,
                        no: e.no,
                        address: e.address,
                        status: e.status,
                        note: e.note,
                        price: e.price,
                        phone: e.phone,
                        countNum: e.countNum,
                        createTime: e.createTime,
                        createTimeStr: new moment(e.createTime).format('YYYY-MM-DD HH:mm:ss'),
                        goods: e.goods,
                        user: e.user,
                    }
                })
            },
        }
    })
</script>
</body>
</html>
