<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org"
			xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<div data-th-replace="/components/base :: javascript"></div>
	<div data-th-replace="/components/vue :: javascript"></div>
	<div data-th-replace="/components/ui :: antd"></div>
	<style>
      .drawer-bottom-button {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 100%;
          border-top: 1px solid #e9e9e9;
          padding: 10px 16px;
          background: #fff;
          text-align: right;
          z-index: 1;
      }
	</style>
</head>
<body>
<div id="app">
	<div>
		<a-button @click="showAddPerson">添加用户</a-button>
		<a-divider></a-divider>
		<a-drawer width="30%" :visible="show.person" @close="closeAddPerson">
			<a-form-model :model="form.person" :rules="rules" :label-col="labelCol" :wrapper-col="wrapperCol">
				<a-form-model-item label="姓名" prop="name">
					<a-input v-model="form.person.name" placeholder="请输入姓名"></a-input>
				</a-form-model-item>
				<a-form-model-item label="性别" prop="gender">
					<a-radio-group v-model="form.person.gender" default-value="2">
						<a-radio :value="0">男</a-radio>
						<a-radio :value="1">女</a-radio>
					</a-radio-group>
				</a-form-model-item>
				<a-form-model-item label="运营商" prop="type">
					<a-radio-group v-model="form.person.type" default-value="2">
						<a-radio value="中国移动">中国移动</a-radio>
						<a-radio value="中国联通">中国联通</a-radio>
						<a-radio value="中国电信">中国电信</a-radio>
					</a-radio-group>
				</a-form-model-item>
				<a-form-model-item label="钱包金额" prop="money">
					<a-input v-model="form.person.money" placeholder="请输入钱包金额"></a-input>
				</a-form-model-item>
				<a-form-model-item label="手机号" prop="phone">
					<a-input v-model="form.person.phone" placeholder="请输入手机号"></a-input>
				</a-form-model-item>
			</a-form-model>
			<div class="drawer-bottom-button">
				<a-button :style="{ marginRight: '8px' }" @click="closeAddPerson">关闭</a-button>
				<a-button type="primary" @click="saveUserForm">保存</a-button>
			</div>
		</a-drawer>
		<a-table :data-source="dataSource" rowKey="id" :columns="columns" :pagination="false">
			<span slot="gender" slot-scope="text">
        <a-tag color="blue" v-if="text === 0">男</a-tag>
        <a-tag color="pink" v-else>女</a-tag>
      </span>
			<span slot="action" slot-scope="text, record">
        <span v-if="record.role !== 0">
					 <a-button type="primary" size="small" @click="showPlusMoney(record)">充值</a-button>
					<a-divider type="vertical"></a-divider>
          <a-button type="danger" size="small" @click="removePerson(record)">删除</a-button>
					<a-divider type="vertical"></a-divider>
        </span>
        <a-button type="primary" size="small" @click="showEditPerson(record)">编辑</a-button>
      </span>
		</a-table>
		<a-modal title="余额充值" :visible.sync="show.plusMoney" width="30%" ok-text="确认" cancel-text="取消"
						 @ok="submitPlusMoney" @cancel="closePlusMoney">
			<a-form-model :model="form.person.plusMoney" :rules="rules" :label-col="labelCol" :wrapper-col="wrapperCol">
				<a-form-model-item label="充值金额" prop="plusMoney">
					<a-input-number v-model="form.person.plusMoney" style="width: 100%"></a-input-number>
				</a-form-model-item>
			</a-form-model>
		</a-modal>

	</div>
</div>
<script>
    const app = new Vue({
        el: '#app',
        data() {
            return {
                rules: {
                    name: [
                        {required: true, message: '请输入名称', trigger: 'blur'},
                        {min: 2, max: 16, message: '长度为2-16个字符', trigger: 'blur'},
                        {whitespace: true, message: '请输入名称', trigger: 'blur'}
                    ],
                    phone: [
                        {required: true, message: '请输入年龄', trigger: 'blur'},
                    ],
                    gender: [
                        {required: true, message: '请选择权限', trigger: 'change'},
                    ],
                    type: [
                        {required: true, message: '请选择运营商', trigger: 'change'},
                    ],
                    money: [
                        {required: true, message: '请输入钱包余额', trigger: 'change'},
                    ],
                },
                columns: [
                    {
                        dataIndex: 'name',
                        key: 'name',
                        title: '姓名',
                    },
                    {
                        dataIndex: 'gender',
                        title: '性别',
                        scopedSlots: {customRender: 'gender'},
                    },
                    {
                        dataIndex: 'phone',
                        title: '手机号',
                        key: 'phone',
                    },
                    {
                        dataIndex: 'money',
                        title: '钱包余额',
                        key: 'money',
                    },
                    {
                        dataIndex: 'type',
                        title: '运营商',
                        key: 'type',
                    },
                    {
                        title: '操作',
                        key: 'action',
                        scopedSlots: {customRender: 'action'},
                    },
                ],
                dataSource: [],
                labelCol: {span: 5},
                wrapperCol: {span: 16},
                tagsOptions: [],
                form: {
                    person: {
                        id: '',
                        name: '',
                        phone: '',
                        gender: '',
                        type: '',
                        money: '',
                        plusMoney: '',
                    },
                },
                show: {
                    person: false,
                    plusMoney: false,
                },
                sysUser: sessionStorage.getItem("sysUser")
            };
        },
        mounted() {
            this.getList()
        },
        methods: {
            submitPlusMoney() {
                let data = {
                    id: this.form.person.id,
                    moneyPlus: this.form.person.plusMoney,
                }
                let url = '/api/person/money/plus'
                axios.post(url, data).then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    this.closePlusMoney()
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            closePlusMoney() {
                this.show.plusMoney = false
                this.form.person.plusMoney = 0
                this.form.person.id = ''
                this.getList()
            },
            showPlusMoney(e) {
                this.form.person.id = e.id
                this.show.plusMoney = true
            },
            refreshData() {
                this.getList()
            },
            getList() {
                axios.get('/api/person/list').then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    if (result.data !== null) {
                        this.dataSource = result.data;
                    }
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            changeStatus(e) {
                const _this = this;
                this.$confirm({
                    title: '确认操作?',
                    cancelText: '取消',
                    okText: '确定',
                    onOk() {
                        _this.form.userInfo = e
                        _this.form.userInfo.status = Math.abs(_this.form.userInfo.status - 1)
                        axios.post('/api/user/changeStatus', _this.form.userInfo).then(result => {
                            console.log('通过api获取到的数据:', result);
                            if (result.status !== 200) {
                                _this.$message.error(result.message);
                                return
                            }
                            _this.$message.success(result.message)
                        }).catch(function (error) {
                            console.log('请求出现错误:', error);
                        });
                    },
                });
            },
            removePerson(e) {
                const _this = this;
                this.$confirm({
                    title: '确认操作?',
                    cancelText: '取消',
                    okText: '确定',
                    onOk() {
                        axios.delete(`/api/person/delete/${e.id}`, e).then(response => {
                            const result = response.data
                            console.log('通过api获取到的数据:', result);
                            if (result.status !== 200) {
                                _this.$message.error(result.message);
                                return
                            }
                            _this.getList()
                            _this.$message.success(result.message)
                        }).catch(function (error) {
                            console.log('请求出现错误:', error);
                        });
                    },
                });
            },
            showAddPerson() {
                this.form.type = 0
                this.show.person = true
            },
            showEditPerson(e) {
                this.form.person.id = e.id
                this.form.person.name = e.name
                this.form.person.gender = e.gender
                this.form.person.phone = e.phone
                this.form.person.money = e.money
                this.form.person.type = e.type
                this.show.person = true
            },
            closeAddPerson() {
                this.form.person = {
                    id: '',
                    name: '',
                    gender: '',
                    phone: '',
                    money: '',
                    type: '',
                }
                this.show.person = false
                this.refreshData()
            },
            saveUserForm() {
                let url = '/api/person/save'
                axios.post(url, this.form.person).then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    this.closeAddPerson()
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
        }
    })
</script>
</body>
</html>
