<!doctype html>
<html class="x-admin-sm">
<head>
	<div data-th-replace="/components/base :: javascript"></div>
	<div data-th-replace="/components/base :: quill"></div>
	<div data-th-replace="/components/base :: css"></div>
	<div data-th-replace="/components/vue :: javascript"></div>
	<div data-th-replace="/components/ui :: antd"></div>
	<style>
	</style>
</head>
<body>
<div id="app">
	<a-row>
		<a-col :span="6">
			<a-input placeholder="输入课题名称搜索" v-model="form.searchText"></a-input>
		</a-col>
		<a-col :span="6" style="display: flex;justify-content: space-around">
			<a-button type="primary" @click="searchOfLocal" v-if="true">搜索</a-button>
			<a-button type="primary" @click="searchOfNet" v-if="false">搜索</a-button>
			<a-button @click="resetList">重置</a-button>
			<a-button type="primary" @click="showAddSubject">添加课题</a-button>
		</a-col>
	</a-row>
	<a-divider></a-divider>
	<a-table :columns="columns.subject" :data-source="dataList" rowKey="id" :pagination="false">
		<span slot="indexNum" slot-scope="text">{{ text + 1 }}</span>
		<span slot="name" slot-scope="text,record">
			<a-tooltip placement="topLeft">
				<template slot="name">
					<span>{{ text }}</span>
				</template>
				<span class="step-content">{{ record.name }}</span>
			</a-tooltip>
		</span>
		<span slot="description" slot-scope="text,record">
			<a-tooltip placement="topLeft">
				<template slot="title">
					<span>{{ record.description }}</span>
				</template>
				<span class="step-content">{{ record.description }}</span>
			</a-tooltip>
		</span>
		<span slot="status" slot-scope="text,record">
				<a-tag v-if="record.lastStatus">{{record.lastStatusText}}</a-tag>
			<a-tag color="red" v-else>{{record.lastStatusText}}</a-tag>
		</span>
		<span slot="createTime" slot-scope="text">
			<a-tooltip placement="topLeft">
				<template slot="title">
					<span>{{ text }}</span>
				</template>
				<span class="step-content">{{ text }}</span>
			</a-tooltip>
		</span>
		<span slot="createBy" slot-scope="text,record">
			<a-tooltip placement="topLeft">
				<template slot="title">
					<span>{{ record.createBy.name }}</span>
				</template>
				<span class="step-content">{{ record.createBy.name }}</span>
			</a-tooltip>
		</span>
		<span slot="action" slot-scope="text, record">
			<a-button type="primary" size="small" @click="showSubjectInfo(record)">查看详情</a-button>
			<!--系主任审核阶段 0-->
			<a-popconfirm placement="top" ok-text="确定" cancel-text="取消" @confirm="deleteSubject(record)"
										v-if="record.lastStatusCode == 0">
				<template slot="title">
					<p>确定要删除吗？</p>
				</template>
					<a-button type="danger" size="small">删除</a-button>
			</a-popconfirm>
			<!--填写任务阶段 1-->
			<a-button type="primary" size="small" @click="editStatusContent(record)"
								v-if="record.lastStatusCode == 1 ||	record.lastStatusCode == 2">填写任务</a-button>
			<!--中期检查阶段 4-->
			<a-button type="primary" size="small" @click="check(0,record)"
								v-if="record.lastStatusCode == 4">通过</a-button>
			<a-button type="danger" size="small" @click="check(1,record)"
								v-if="record.lastStatusCode == 4">驳回</a-button>
			<!--填写指导教师表 6-->
			<a-button type="primary" size="small" @click="editGuideTeacher(record)"
								v-if="record.lastStatusCode == 6 ">填写指导教师表</a-button>
			<!--填写指导教师表 6-->
			<a-button type="primary" size="small" @click="editReviewTeacher(record)"
								v-if="record.lastStatusCode == 7 ">填写评阅教师表</a-button>
			<!--生成答辩用表 8-->
			<a-button type="primary" size="small" @click="createTable(record)"
								v-if="record.lastStatusCode == 8 ">填写答辩信息</a-button>
			<!--下载答辩用表 8-->
			<a-button type="primary" size="small" @click="downloadPdf(record.paperPdfUrl,record.name)"
								v-if="record.lastStatusCode > 8 && false">下载答辩用表</a-button>
			<!--生成成绩表 9-->
			<a-button type="primary" size="small" @click="createEndTable(record)"
								v-if="record.lastStatusCode == 9 ">填写成绩</a-button>
			<!--下载成绩表 9-->
			<a-button type="primary" size="small" @click="downloadPdf(record.scorePdfUrl,record.name)"
								v-if="record.lastStatusCode > 9 && false">下载成绩评定表</a-button>
			<!--优秀论文评定 10-->
			<a-popconfirm placement="top" ok-text="优秀" cancel-text="普通" @confirm="setIsGood(0,record.id)"
										@cancel="setIsGood(1,record.id)"
										v-if="record.lastStatusCode == 10">
				<template slot="title">
					<p>要设为优秀论文吗？</p>
				</template>
				<a-button type="primary" size="small">优秀论文</a-button>
			</a-popconfirm>
			<!--填写二次答辩时间-->
			<a-button type="primary" size="small" @click="editTwoTime(record)"
								v-if="record.lastStatusCode == 11 ">填写二次答辩时间</a-button>
		</span>
	</a-table>
	<a-modal title="添加课题" :visible.sync="show.addSubject" width="30%" ok-text="确认"
					 cancel-text="取消" @ok="saveSubject" @cancel="closeAddSubject">
		<a-form-model ref="ruleForm" :model="form.subject" :rules="rules" :label-col="labelCol" :wrapper-col="wrapperCol">
			<a-form-model-item label="名称" prop="name">
				<a-input v-model="form.subject.name"></a-input>
			</a-form-model-item>
			<a-form-model-item label="简介" prop="description">
				<a-textarea v-model="form.subject.description" :rows="4"></a-textarea>
			</a-form-model-item>
		</a-form-model>
	</a-modal>

	<a-drawer title="填写任务书" :width="720" :visible="show.editStatusContent" @close="closeStatusContent">
		<a-form-model ref="ruleForm" :model="form.subject" :rules="rules" :label-col="labelCol" :wrapper-col="wrapperCol">
			<div v-if="editor.create">编辑器初始化中..</div>
			<div id="editor" style="height: 40vh"></div>
		</a-form-model>
		<div class="drawer-footer">
			<a-button style="margin-right: 8px" @click="closeStatusContent"> 关闭</a-button>
			<a-button type="primary" @click="submitStatusContent"> 确定</a-button>
		</div>
	</a-drawer>
	<a-drawer title="撰写一稿" :width="720" :visible="show.writeContent" @close="closeWriteContent">
		<a-form-model ref="ruleForm" :model="form.subject" :rules="rules" :label-col="labelCol" :wrapper-col="wrapperCol">
			<div v-if="editor.create">编辑器初始化中..</div>
			<div id="editor" style="height: 40vh"></div>
		</a-form-model>
		<div class="drawer-footer">
			<a-button style="margin-right: 8px" @click="closeWriteContent"> 关闭</a-button>
			<a-button type="primary" @click="submitWriteContent"> 确定</a-button>
		</div>
	</a-drawer>
	<a-modal title="详情" :visible.sync="show.subjectInfo" width="60%" @cancel="closeSubjectInfo">
		<span slot="footer">
			<a-button type="default" @click="closeSubjectInfo">关闭</a-button>
			<a-popconfirm placement="top" ok-text="确定" cancel-text="取消" @confirm="deleteSubject"
										v-if="temp.subject.lastStatusCode<2">
				<template slot="title">
					<p>确定要删除吗？</p>
				</template>
				<a-button type="danger">删除</a-button>
			</a-popconfirm>
		</span>
		<div style="display: flex;">
			<span style="flex: 1">
				<span style="font-weight: 600">课题名称:</span>
				<span>{{temp.subject.name}}</span>
			</span>
			<span style="flex: 1">
				<span style="font-weight: 600">创建人:</span>
				<span>{{temp.subject.createBy.name}}</span>
			</span>
			<span style="flex: 1">
				<span style="font-weight: 600">创建时间:</span>
				<span>{{temp.subject.createTimeStr}}</span>
			</span>
			<span style="flex: 1">
				<span style="font-weight: 600">状态:</span>
				<span>{{temp.subject.lastStatusText}}</span>
			</span>
		</div>
		<a-divider></a-divider>
		<div style="display: flex;">
			<span style="flex: 1" v-if="temp.subject.time">
				<span style="font-weight: 600">答辩时间:</span>
				<span>{{temp.subject.timeStr}}</span>
			</span>
			<span style="flex: 1" v-if="temp.subject.address">
				<span style="font-weight: 600">答辩地点:</span>
				<span>{{temp.subject.address}}</span>
			</span>
		</div>
		<div v-if="temp.subject.groups && temp.subject.groups.length>0">
			<a-divider></a-divider>
			<div style="display: flex;">
				<div style="flex: 1">
					<span style="font-weight: 600">小组成员:</span>
					<span v-for="item in temp.subject.groups">{{item.name }}</span>
				</div>
			</div>
		</div>
		<div v-if="temp.subject.guideTeacher">
			<a-divider></a-divider>
			<div style="display: flex;">
				<div style="flex: 1">
					<span style="font-weight: 600">指导教师评价:</span>
					<span>{{temp.subject.guideTeacher.content }}</span>
				</div>
			</div>
		</div>
		<div v-if="temp.subject.reviewTeacher">
			<a-divider></a-divider>
			<div style="display: flex;">
				<div style="flex: 1">
					<span style="font-weight: 600">评阅教师评价:</span>
					<span>{{temp.subject.reviewTeacher.content }}</span>
				</div>
			</div>
			<a-divider></a-divider>
		</div>
		<div style="display: flex;">
			<span style="flex: 1" v-if="temp.subject.isGood !== null">
				<span style="font-weight: 600">是否为优秀毕业论文:</span>
				<a-tag color="pink" v-if="temp.subject.isGood === 0">是</a-tag>
				<a-tag color="green" v-if="temp.subject.isGood === 1">否</a-tag>
			</span>
			<span style="flex: 1" v-if="temp.subject.score">
				<span style="font-weight: 600">得分:</span>
				<span>{{temp.subject.score}}</span>
			</span>
			<span style="flex: 1" v-if="temp.subject.twoTime">
				<span style="font-weight: 600">二次答辩时间:</span>
				<span>{{temp.subject.twoTimeStr}}</span>
			</span>
		</div>
		<div style="display: flex;">
			<span style="font-weight: 600">简介:</span><br/>
			<span>{{temp.subject.description}}</span>
		</div>
		<a-divider></a-divider>
		<a-button type="primary" size="small" @click="downloadPdf(temp.subject.paperPdfUrl,temp.subject.name)"
							v-if="temp.subject.lastStatusCode > 8 ">下载答辩用表
		</a-button>
		<a-button type="primary" size="small" @click="downloadPdf(temp.subject.scorePdfUrl,temp.subject.name)"
							v-if="temp.subject.lastStatusCode > 9 ">下载成绩评定表
		</a-button>
		<a-divider></a-divider>
		<div style="display: flex;flex-direction: column">
			<span style="font-weight: 600">流程详情:</span><br/>
			<div v-for="item in temp.subject.status">
				<div>
					<span style="font-weight: 600">阶段:</span>
					<span>{{subStatusText(item.code)}}</span>
				</div>
				<div>
					<span style="font-weight: 600">备注或内容:</span>
					<span>{{item.next}}</span>
					<span v-html="item.content"></span>
				</div>
				<a-divider></a-divider>
			</div>
		</div>

		<!--		<a-upload list-type="picture-card" :file-list="temp.fileList" @preview="showPreview"></a-upload>-->
	</a-modal>
	<a-modal title="填写指导教师表" :visible.sync="show.editGuideTeacher" width="60%" @cancel="closeGuideTeacher">
		<span slot="footer">
			<a-button type="default" @click="closeGuideTeacher">关闭</a-button>
			<a-button type="primary" @click="submitGuideTeacher">确定</a-button>
		</span>
		<a-form-model ref="ruleForm" :model="form.guideTeacher" :rules="rules" :label-col="labelCol"
									:wrapper-col="wrapperCol">
			<a-form-model-item label="评价内容" prop="content">
				<a-textarea v-model="form.guideTeacher.content" placeholder="请输入评价内容"
										:auto-size="{ minRows: 2, maxRows: 6 }"></a-textarea>
			</a-form-model-item>
			<a-form-model-item label="评阅教师" prop="reviewer">
				<a-select style="width: 100%" v-model="form.guideTeacher.reviewerId">
					<a-select-option :value="item.id" v-for="item in options.teacherList">{{item.name}}</a-select-option>
				</a-select>
			</a-form-model-item>
		</a-form-model>
	</a-modal>
	<a-modal title="填写评阅教师表" :visible.sync="show.editReviewTeacher" width="60%" @cancel="closeReviewTeacher">
		<span slot="footer">
			<a-button type="default" @click="closeReviewTeacher">关闭</a-button>
			<a-button type="primary" @click="submitReviewTeacher">确定</a-button>
		</span>
		<a-form-model ref="ruleForm" :model="form.reviewTeacher" :rules="rules" :label-col="labelCol"
									:wrapper-col="wrapperCol">
			<a-form-model-item label="评价内容" prop="content">
				<a-textarea v-model="form.reviewTeacher.content" placeholder="请输入评价内容"
										:auto-size="{ minRows: 2, maxRows: 6 }"></a-textarea>
			</a-form-model-item>
		</a-form-model>
	</a-modal>
	<a-modal title="填写答辩信息" :visible.sync="show.createTable" width="60%" @cancel="closeCreateTable">
		<span slot="footer">
			<a-button type="default" @click="closeCreateTable">关闭</a-button>
			<a-button type="primary" @click="submitCreateTable">确定</a-button>
		</span>
		<a-form-model ref="ruleForm" :model="form.subject" :rules="rules" :label-col="labelCol"
									:wrapper-col="wrapperCol">
			<a-form-model-item label="答辩时间" prop="time">
				<a-date-picker v-model="form.subject.time" show-time placeholder="请选择答辩时间" style="width: 100%"></a-date-picker>
			</a-form-model-item>
			<a-form-model-item label="答辩地点" prop="address">
				<a-input v-model="form.subject.address" placeholder="请输入答辩地点"></a-input>
			</a-form-model-item>
			<a-form-model-item label="选择组成员" prop="groups">
				<a-select mode="multiple" style="width: 100%" placeholder="选择组成员" v-model="form.subject.groups">
					<a-select-option v-for="item in options.studentList" :key="item.id">
						{{ item.name }}
					</a-select-option>
				</a-select>
			</a-form-model-item>
		</a-form-model>
	</a-modal>
	<a-modal title="填写成绩" :visible.sync="show.createEndTable" width="60%" @cancel="closeCreateEndTable">
		<span slot="footer">
			<a-button type="default" @click="closeCreateEndTable">关闭</a-button>
			<a-button type="primary" @click="submitCreateEndTable">确定</a-button>
		</span>
		<a-form-model ref="ruleForm" :model="form.subject" :rules="rules" :label-col="labelCol"
									:wrapper-col="wrapperCol">
			<a-form-model-item label="评语" prop="note">
				<a-textarea v-model="form.subject.note" placeholder="请输入评语"
										:auto-size="{ minRows: 2, maxRows: 6 }"></a-textarea>
			</a-form-model-item>
			<a-form-model-item label="成绩" prop="score">
				<a-input-number v-model="form.subject.score" placeholder="请输入成绩" :min="0" :max="100"
												:step="0.1" style="width: 100%"></a-input-number>
			</a-form-model-item>
		</a-form-model>
	</a-modal>
	<a-modal title="二次答辩" :visible.sync="show.editTwoTime" width="60%" @cancel="closeEditTwoTime">
		<span slot="footer">
			<a-button type="default" @click="closeEditTwoTime">关闭</a-button>
			<a-button type="primary" @click="submitTwoTime">确定</a-button>
		</span>
		<a-form-model ref="ruleForm" :model="form.subject" :rules="rules" :label-col="labelCol"
									:wrapper-col="wrapperCol">
			<a-form-model-item label="二次答辩时间" prop="twoTime">
				<a-date-picker v-model="form.subject.twoTime" show-time placeholder="请选择二次答辩时间"
											 style="width: 100%"></a-date-picker>
			</a-form-model-item>
		</a-form-model>
	</a-modal>

	<!--	<a-modal :visible="show.previewImg" :footer="null" @cancel="closePreview">-->
	<!--		<img style="width: 100%" :src="temp.previewSrc"/>-->
	<!--	</a-modal>-->
</div>
<script>
    const app = new Vue({
        el: '#app',
        data() {
            return {
                headers: headers,
                columns: {
                    subject: [
                        {
                            dataIndex: 'indexNum',
                            title: '序号',
                            scopedSlots: {customRender: 'indexNum'},
                        },
                        {
                            dataIndex: 'name',
                            title: '课题名称',
                        },
                        {
                            dataIndex: 'description',
                            title: '简介',
                            width: '10%',
                            scopedSlots: {customRender: 'description'}
                        },
                        {
                            dataIndex: 'createBy',
                            title: '创建人',
                            scopedSlots: {customRender: 'createBy'},
                        },
                        {
                            dataIndex: 'status',
                            title: '状态',
                            scopedSlots: {customRender: 'status'},
                        },
                        {
                            dataIndex: 'createTime',
                            title: '时间',
                            scopedSlots: {customRender: 'createTime'},
                            width: '10%'
                        },
                        {
                            dataIndex: 'action',
                            title: '操作',
                            scopedSlots: {customRender: 'action'},
                            width: '20%'
                        },
                    ],
                },
                dataList: [],
                rules: {
                    note: [
                        {required: true, message: '请输入评语', trigger: 'change'},
                    ],
                    score: [
                        {required: true, message: '请输入成绩', trigger: 'change'},
                    ],
                    name: [
                        {required: true, message: '请输入名称', trigger: 'change'},
                    ],
                    content: [
                        {required: true, message: '请输入内容', trigger: 'change'},
                    ],
                    address: [
                        {required: true, message: '请输入答辩地点', trigger: 'change'},
                    ],
                    reviewer: [
                        {required: true, message: '请选择评阅教师', trigger: 'change'},
                    ],
                    time: [
                        {required: true, message: '请选择答辩时间', trigger: 'change'},
                    ],
                    groups: [
                        {required: true, message: '请选择答辩组成员', trigger: 'change'},
                    ],
                },
                options: {teacherList: []},
                labelCol: {span: 5},
                wrapperCol: {span: 16},
                form: {
                    subject: {
                        name: '',
                        description: '',
                        createBy: {},
                        address: '',
                        time: '',
                        twoTime: '',
                        groups: [],
                    },
                    status: {},
                    guideTeacher: {
                        content: '',
                        reviewer: {},
                        reviewerId: '',
                    },
                    reviewTeacher: {
                        content: '',
                    },
                    searchText: '',
                },
                show: {
                    previewImg: false,
                    addSubject: false,
                    subjectInfo: false,
                    editStatusContent: false,
                    writeContent: false,
                    writeLastContent: false,
                    editGuideTeacher: false,
                    editReviewTeacher: false,
                    createTable: false,
                    createEndTable: false,
                    editTwoTime: false,
                },
                temp: {
                    previewSrc: '',
                    fileList: [],
                    subject: {
                        name: '',
                        description: '',
                        createBy: {}
                    },
                    isAddSubject: false,
                },
                editor: {
                    instance: null,
                    create: true,
                    toolbar: [
                        ['bold', 'italic', 'underline', 'strike'], //加粗，斜体，下划线，删除线
                        ['blockquote', 'code-block'],  //引用，代码块
                        [{'list': 'ordered'}, {'list': 'bullet'}],  //列表
                        [{'color': []}, {'background': []}],  // 字体颜色，字体背景颜色
                        [{'align': []}], //对齐方式
                        ['clean'], //清除字体样式
                        ['image'] //上传图片、上传视频
                    ]
                },
                sysUser: sessionStorage.getItem("sysUser")
            };
        },
        mounted() {
            this.getList()
            this.getTeacherList()
            this.getStudentList()
        },
        methods: {
            /*截取最后状态*/
            subStatusCode(content) {
                return content.substring(content.indexOf('code=') + 5, content.indexOf(','))
            },
            subStatusText(content) {
                return content.substring(content.indexOf('text=') + 5, content.indexOf(')'))
            },
            /*编辑器*/
            createEditor(content) {
                setTimeout(() => {
                    if (this.editor.create) {
                        this.editor.instance = new window.Quill('#editor', {
                            theme: 'snow',
                            modules: {
                                toolbar: this.editor.toolbar
                            }
                        })
                        this.editor.create = false
                    }
                    this.editor.instance.root.innerHTML = content
                }, 1000)
            },
            destroyEditor() {
                this.editor.instance.root.innerHTML = ''
            },
            /*填写二次答辩时间*/
            editTwoTime(record) {
                this.temp.subject = record
                this.show.editTwoTime = true
            },
            closeEditTwoTime() {
                this.show.editTwoTime = false
            },
            submitTwoTime() {
                let data = {
                    id: this.temp.subject.id,
                    twoTime: this.form.subject.twoTime.format('YYYY-MM-DD HH:mm:ss'),
                }
                axios.post('/api/subject/twoTime', data).then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    this.$message.success(result.message);
                    this.closeEditTwoTime()
                    this.getList()
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            /*优秀论文评定*/
            setIsGood(status, id) {
                axios.post(`/api/subject/isGood/${id}/${status}`).then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    this.$message.success(result.message);
                    this.getList()
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            /*生成成绩表*/
            createEndTable(record) {
                this.temp.subject = record
                this.show.createEndTable = true
            },
            closeCreateEndTable() {
                this.show.createEndTable = false
            },
            submitCreateEndTable() {
                let data = {
                    id: this.temp.subject.id,
                    score: this.form.subject.score,
                    note: this.form.subject.note,
                }
                axios.post(`/api/subject/createEndTable`, data).then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    this.$message.success(result.message);
                    this.closeCreateEndTable()
                    this.downloadPdf(result.data.scorePdfUrl, result.data.name,)
                    this.getList()
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            /*生成答辩用表*/
            createTable(record) {
                this.temp.subject = record
                this.show.createTable = true
            },
            closeCreateTable() {
                this.show.createTable = false
            },
            submitCreateTable() {
                let groups = this.options.studentList.filter(e => {
                    return this.form.subject.groups.includes(e.id)
                })
                let data = {
                    id: this.temp.subject.id,
                    time: this.form.subject.time.format('YYYY-MM-DD HH:mm:ss'),
                    address: this.form.subject.address,
                    groups: groups,
                }
                axios.post(`/api/subject/createTable`, data).then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    this.$message.success(result.message);
                    this.closeCreateTable()
                    this.downloadPdf(result.data.paperPdfUrl, result.data.name,)
                    this.getList()
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            /*初始化数据*/
            getStudentList() {
                axios.get('/api/user/list').then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    this.options.studentList = result.data.filter(e => {
                        return e.role === 1
                    })
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            getTeacherList() {
                axios.get('/api/user/list').then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    this.options.teacherList = result.data.filter(e => {
                        return e.role === 2
                    })
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            /*填写答辩信息*/
            editReviewTeacher(record) {
                this.temp.subject = record
                this.show.editReviewTeacher = true
            },
            closeReviewTeacher() {
                this.show.editReviewTeacher = false
            },
            submitReviewTeacher() {
                let data = {
                    id: this.temp.subject.id,
                    content: this.form.reviewTeacher.content,
                }
                axios.post('/api/review/save', data).then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    this.$message.success(result.message);
                    this.closeReviewTeacher()
                    this.getList()
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
                console.log(data)
            },
            /*填写评阅教师表*/
            editReviewTeacher(record) {
                this.temp.subject = record
                this.show.editReviewTeacher = true
            },
            closeReviewTeacher() {
                this.show.editReviewTeacher = false
            },
            submitReviewTeacher() {
                let data = {
                    id: this.temp.subject.id,
                    content: this.form.reviewTeacher.content,
                }
                axios.post('/api/review/save', data).then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    this.$message.success(result.message);
                    this.closeReviewTeacher()
                    this.getList()
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
                console.log(data)
            },
            /*填写指导教师表*/
            editGuideTeacher(record) {
                this.temp.subject = record
                this.show.editGuideTeacher = true
            },
            closeGuideTeacher() {
                this.show.editGuideTeacher = false
            },
            submitGuideTeacher() {
                let reviewer = this.options.teacherList.filter(e => {
                    return e.id === this.form.guideTeacher.reviewerId
                })
                if (reviewer.length !== 1) {
                    this.$message.error('请正确选择评阅教师')
                    return
                }
                let data = {
                    id: this.temp.subject.id,
                    content: this.form.guideTeacher.content,
                    reviewer: reviewer[0],
                }
                axios.post('/api/guide/save', data).then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    this.$message.success(result.message);
                    this.closeGuideTeacher()
                    this.getList()
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            /*中期审查*/
            check(status, record) {
                let content = prompt('备注')
                let data = {
                    id: record.id,
                    status: status,
                    content: content,
                }
                axios.post(`/api/subject/first/check`, data).then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    this.getList()
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            /*添加课题*/
            showAddSubject() {
                this.temp.isAddSubject = true
                this.show.addSubject = true
            },
            closeAddSubject() {
                this.show.addSubject = false
                this.form.subject = {name: '', description: '', createBy: {}}
                this.temp.fileList = []
            },
            saveSubject() {
                let data = this.form.subject
                let oldFile = data.files
                let newFile = this.temp.fileList.map(e => {
                    if (e.response) {
                        return e.response.data
                    } else {
                        return null
                    }
                }).filter(e => {
                    return e
                })
                if (this.temp.isAddSubject) {
                    data.files = newFile
                } else {
                    data.files = [...oldFile, ...newFile]
                }
                axios.post('/api/subject/save', data).then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    this.$message.success(result.message);
                    this.closeAddSubject()
                    this.getList()
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            deleteSubject(record) {
                axios.delete(`/api/subject/delete/${record.id}`).then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    this.getList()
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            /*显示详情*/
            showSubjectInfo(record) {
                this.temp.subject = record
                // this.temp.fileList = goods.images.map(e => {
                //     return {
                //         uid: e.id,
                //         name: e.oldName,
                //         status: 'done',
                //         url: e.virtualPath,
                //     }
                // })
                this.show.subjectInfo = true
            },
            closeSubjectInfo() {
                this.show.subjectInfo = false
                this.temp.subject = {name: '', description: '', createBy: {}}
                this.temp.fileList = []
            },
            /*添加任务书*/
            closeStatusContent() {
                this.show.editStatusContent = false
                this.destroyEditor()
                this.temp.fileList = []
            },
            editStatusContent(record) {
                this.temp.subject = record
                this.show.editStatusContent = true
                this.temp.fileList = []
                let lastCode = this.temp.subject.lastStatusCode
                if (lastCode == 1) {
                    this.createEditor(this.temp.subject.status[0].content)
                } else if (lastCode == 2) {
                    this.createEditor(this.temp.subject.status[1].content)
                }
            },
            submitStatusContent() {
                let lastCode = this.temp.subject.lastStatusCode
                let id = null
                if (lastCode == 1) {
                    id = this.temp.subject.status[0].id
                } else if (lastCode == 2) {
                    id = this.temp.subject.status[1].id
                }
                let data = {
                    subjectId: this.temp.subject.id,
                    id: id,
                    content: this.editor.instance.root.innerHTML,
                }
                axios.post('/api/subject/status/edit', data).then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    this.$message.success(result.message);
                    this.closeStatusContent()
                    this.getList()
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            /*撰写一稿*/
            closeWriteContent(record) {
                this.show.writeContent = false
                this.destroyEditor()
                this.temp.fileList = []
            },
            showWriteContent(record) {
                this.temp.subject = record
                this.show.writeContent = true
                let lastCode = this.temp.subject.lastStatusCode
                if (lastCode == 3) {
                    this.createEditor(this.temp.subject.status[0].content)
                } else if (lastCode == 4) {
                    this.createEditor(this.temp.subject.status[1].content)
                }
            },
            submitWriteContent() {
                let lastCode = this.temp.subject.lastStatusCode
                let id = null
                if (lastCode == 3) {
                    id = this.temp.subject.status[0].id
                } else if (lastCode == 4) {
                    id = this.temp.subject.status[1].id
                }
                let data = {
                    subjectId: this.temp.subject.id,
                    id: id,
                    content: this.editor.instance.root.innerHTML,
                }
                axios.post('/api/subject/first/edit', data).then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    this.$message.success(result.message);
                    this.closeStatusContent()
                    this.getList()
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            /*获取列表*/
            resetList() {
                this.form.searchText = ''
                this.getList()
            },
            searchOfLocal() {
                this.dataList = this.dataList.filter(e => {
                    return e.name.includes(this.form.searchText)
                })
            },
            searchOfNet() {
                axios.get(`/api/subject/search/${this.form.searchText}`).then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    if (result.data !== null) {
                        this.filterList(result.data)
                    }
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            getList() {
                axios.get('/api/subject/list').then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    if (result.data !== null) {
                        this.filterList(result.data)
                    }
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            filterList(source) {
                let dataList = source.map((e, index) => {
                    let status = e.status.sort((a, b) => {
                        let createTimeA = new moment(a.createTime)
                        let createTimeB = new moment(b.createTime)
                        return createTimeB.diff(createTimeA, 's');
                    })
                    let lastStatus = status.length ? status[0].code : false
                    let lastStatusCode = lastStatus ? this.subStatusCode(lastStatus) : ''
                    let lastStatusText = lastStatus ? this.subStatusText(lastStatus) : ''
                    return {
                        indexNum: index,
                        id: e.id,
                        name: e.name,
                        description: e.description,
                        files: e.files,
                        isSelect: e.isSelect,
                        paperPdfUrl: e.paperPdfUrl,
                        groups: e.groups,
                        score: e.score,
                        scorePdfUrl: e.scorePdfUrl,
                        isGood: e.isGood,
                        address: e.address,
                        note: e.note,
                        time: e.time,
                        guideTeacher: e.guideTeacher,
                        reviewTeacher: e.reviewTeacher,
                        timeStr: new moment(e.time).format('YYYY-MM-DD HH:mm:ss'),
                        twoTime: e.twoTime,
                        twoTimeStr: new moment(e.twoTime).format('YYYY-MM-DD HH:mm:ss'),
                        status: status,
                        lastStatus: lastStatus,
                        lastStatusCode: lastStatusCode,
                        lastStatusText: lastStatusText,
                        createBy: e.createBy,
                        createTime: e.createTime,
                        createTimeStr: new moment(e.createTime).format('YYYY-MM-DD HH:mm:ss'),
                    }
                })
                console.log(dataList)
                this.dataList = dataList
            },
            /*文件*/
            closePreview() {
                this.show.previewImg = false
            },
            async showPreview(file) {
                if (file.response) {
                    this.temp.previewSrc = file.response.data.virtualPath
                } else {
                    this.temp.previewSrc = file.url
                }
                this.show.previewImg = true
            },
            changeUploadFile(info) {
                this.temp.fileList = info.fileList
                if (info.file.status === 'done') {
                    this.$message.success(`${info.file.name} 上传成功`);
                } else if (info.file.status === 'error') {
                    this.$message.error(`${info.file.name} 上传失败`);
                }
            },
            removeUploadFile(file) {
                this.form.goods.images = this.form.goods.images.filter(e => {
                    return e.virtualPath !== file.url
                })
            },
            downloadPdf(url, name) {
                const download = document.createElement('a')
                download.setAttribute('href', `/file/${url}`)
                download.setAttribute('download', name)
                download.click()
            },
        }
    })
</script>
</body>
</html>
