<!doctype html>
<html class="x-admin-sm">
<head>
	<div data-th-replace="/components/base :: javascript"></div>
	<div data-th-replace="/components/base :: quill"></div>
	<div data-th-replace="/components/base :: css"></div>
	<div data-th-replace="/components/vue :: javascript"></div>
	<div data-th-replace="/components/ui :: antd"></div>
	<style>

	</style>
</head>
<body>
<div id="app">
	<a-table :columns="columns.subject" :data-source="dataList" rowKey="id" :pagination="false">
		<span slot="indexNum" slot-scope="text">{{ text + 1 }}</span>
		<span slot="name" slot-scope="text,record">
			<a-tooltip placement="topLeft">
				<template slot="name">
					<span>{{ text }}</span>
				</template>
				<span class="step-content">{{ record.name }}</span>
			</a-tooltip>
		</span>
		<span slot="description" slot-scope="text,record">
			<a-tooltip placement="topLeft">
				<template slot="title">
					<span>{{ record.description }}</span>
				</template>
				<span class="step-content">{{ record.description }}</span>
			</a-tooltip>
		</span>
		<span slot="status" slot-scope="text,record">
			<a-tag v-if="record.lastStatus">{{record.lastStatusText}}</a-tag>
			<a-tag color="red" v-else>{{record.lastStatusText}}</a-tag>
		</span>
		<span slot="isSelect" slot-scope="text,record">
			<a-tag color="blue" v-if="text === 0">是</a-tag>
			<a-tag color="red" v-else>否</a-tag>
		</span>
		<span slot="createTime" slot-scope="text">
			<a-tooltip placement="topLeft">
				<template slot="title">
					<span>{{ text }}</span>
				</template>
				<span class="step-content">{{ text }}</span>
			</a-tooltip>
		</span>
		<span slot="createBy" slot-scope="text,record">
			<a-tooltip placement="topLeft">
				<template slot="title">
					<span>{{ record.createBy.name }}</span>
				</template>
				<span class="step-content">{{ record.createBy.name }}</span>
			</a-tooltip>
		</span>
		<span slot="action" slot-scope="text, record">
			<!--撰写一稿阶段 3-->
			<a-button type="primary" size="small" @click="showWriteContent(record)"
								v-if="record.lastStatusCode == 3 ||	record.lastStatusCode == 4">撰写一稿</a-button>
			<!--撰写终稿阶段 3-->
			<a-button type="primary" size="small" @click="showWriteLastContent(record)"
								v-if="record.lastStatusCode == 5 ||	record.lastStatusCode == 6">撰写终稿</a-button>
			<a-button type="primary" size="small" @click="showSubjectInfo(record)">详情</a-button>
		</span>
	</a-table>
	<a-drawer title="撰写一稿" :width="720" :visible="show.writeContent" @close="closeWriteContent">
		<a-form-model ref="ruleForm" :model="form.subject" :rules="rules" :label-col="labelCol" :wrapper-col="wrapperCol">
			<div v-if="editor.create">编辑器初始化中..</div>
			<div id="editor" style="height: 40vh"></div>
		</a-form-model>
		<div class="drawer-footer">
			<a-button style="margin-right: 8px" @click="closeWriteContent"> 关闭</a-button>
			<a-button type="primary" @click="submitWriteContent"> 确定</a-button>
		</div>
	</a-drawer>
	<a-drawer title="撰写终稿" :width="720" :visible="show.writeLastContent" @close="closeWriteLastContent">
		<a-form-model ref="ruleForm" :model="form.subject" :rules="rules" :label-col="labelCol" :wrapper-col="wrapperCol">
			<div v-if="editor.create">编辑器初始化中..</div>
			<div id="editor" style="height: 40vh"></div>
		</a-form-model>
		<div class="drawer-footer">
			<a-button style="margin-right: 8px" @click="closeWriteLastContent"> 关闭</a-button>
			<a-button type="primary" @click="submitWriteLastContent"> 确定</a-button>
		</div>
	</a-drawer>
	<a-modal title="详情" :visible.sync="show.subjectInfo" width="60%" @cancel="closeSubjectInfo">
		<span slot="footer">
			<a-button type="default" @click="closeSubjectInfo">关闭</a-button>
			<a-popconfirm placement="top" ok-text="确定" cancel-text="取消" @confirm="deleteSubject"
										v-if="temp.subject.lastStatusCode<2">
				<template slot="title">
					<p>确定要删除吗？</p>
				</template>
				<a-button type="danger">删除</a-button>
			</a-popconfirm>
		</span>
		<div style="display: flex;">
			<span style="flex: 1">
				<span style="font-weight: 600">课题名称:</span>
				<span>{{temp.subject.name}}</span>
			</span>
			<span style="flex: 1">
				<span style="font-weight: 600">创建人:</span>
				<span>{{temp.subject.createBy.name}}</span>
			</span>
			<span style="flex: 1">
				<span style="font-weight: 600">创建时间:</span>
				<span>{{temp.subject.createTimeStr}}</span>
			</span>
			<span style="flex: 1">
				<span style="font-weight: 600">状态:</span>
				<span>{{temp.subject.lastStatusText}}</span>
			</span>
		</div>
		<a-divider></a-divider>
		<div style="display: flex;">
			<span style="flex: 1" v-if="temp.subject.time">
				<span style="font-weight: 600">答辩时间:</span>
				<span>{{temp.subject.timeStr}}</span>
			</span>
			<span style="flex: 1" v-if="temp.subject.address">
				<span style="font-weight: 600">答辩地点:</span>
				<span>{{temp.subject.address}}</span>
			</span>
		</div>
		<div v-if="temp.subject.groups && temp.subject.groups.length>0">
			<a-divider></a-divider>
			<div style="display: flex;">
				<div style="flex: 1">
					<span style="font-weight: 600">小组成员:</span>
					<span v-for="item in temp.subject.groups">{{item.name }}</span>
				</div>
			</div>
		</div>
		<div v-if="temp.subject.guideTeacher">
			<a-divider></a-divider>
			<div style="display: flex;">
				<div style="flex: 1">
					<span style="font-weight: 600">指导教师评价:</span>
					<span>{{temp.subject.guideTeacher.content }}</span>
				</div>
			</div>
		</div>
		<div v-if="temp.subject.reviewTeacher">
			<a-divider></a-divider>
			<div style="display: flex;">
				<div style="flex: 1">
					<span style="font-weight: 600">评阅教师评价:</span>
					<span>{{temp.subject.reviewTeacher.content }}</span>
				</div>
			</div>
			<a-divider></a-divider>
		</div>
		<div style="display: flex;">
			<span style="flex: 1" v-if="temp.subject.isGood !== null">
				<span style="font-weight: 600">是否为优秀毕业论文:</span>
				<a-tag color="pink" v-if="temp.subject.isGood === 0">是</a-tag>
				<a-tag color="green" v-if="temp.subject.isGood === 1">否</a-tag>
			</span>
			<span style="flex: 1" v-if="temp.subject.score">
				<span style="font-weight: 600">得分:</span>
				<span>{{temp.subject.score}}</span>
			</span>
			<span style="flex: 1" v-if="temp.subject.twoTime">
				<span style="font-weight: 600">二次答辩时间:</span>
				<span>{{temp.subject.twoTimeStr}}</span>
			</span>
		</div>
		<div style="display: flex;">
			<span style="font-weight: 600">简介:</span><br/>
			<span>{{temp.subject.description}}</span>
		</div>
		<a-divider></a-divider>
		<a-button type="primary" size="small" @click="downloadPdf(temp.subject.paperPdfUrl,temp.subject.name)"
							v-if="temp.subject.lastStatusCode > 8 ">下载答辩用表
		</a-button>
		<a-button type="primary" size="small" @click="downloadPdf(temp.subject.scorePdfUrl,temp.subject.name)"
							v-if="temp.subject.lastStatusCode > 9 ">下载成绩评定表
		</a-button>
		<a-divider></a-divider>
		<div style="display: flex;flex-direction: column">
			<span style="font-weight: 600">流程详情:</span><br/>
			<div v-for="item in temp.subject.status">
				<div>
					<span style="font-weight: 600">阶段:</span>
					<span>{{subStatusText(item.code)}}</span>
				</div>
				<div>
					<span style="font-weight: 600">备注或内容:</span>
					<span>{{item.next}}</span>
					<span v-html="item.content"></span>
				</div>
				<a-divider></a-divider>
			</div>
		</div>

		<!--		<a-upload list-type="picture-card" :file-list="temp.fileList" @preview="showPreview"></a-upload>-->
	</a-modal>
</div>
<script>
    const app = new Vue({
        el: '#app',
        data() {
            return {
                headers: headers,
                columns: {
                    subject: [
                        {
                            dataIndex: 'name',
                            title: '课题名称',
                        },
                        {
                            dataIndex: 'description',
                            title: '简介',
                            width: '10%',
                            scopedSlots: {customRender: 'description'}
                        },
                        {
                            dataIndex: 'createBy',
                            title: '创建人',
                            scopedSlots: {customRender: 'createBy'},
                        },
                        {
                            dataIndex: 'status',
                            title: '状态',
                            scopedSlots: {customRender: 'status'},
                        },
                        {
                            dataIndex: 'createTime',
                            title: '时间',
                            scopedSlots: {customRender: 'createTime'},
                            width: '10%'
                        },
                        {
                            dataIndex: 'action',
                            title: '操作',
                            scopedSlots: {customRender: 'action'},
                            width: '20%'
                        },
                    ],
                },
                dataList: [],
                rules: {
                    name: [
                        {required: true, message: '请输入名称', trigger: 'change'},
                    ],
                    note: [
                        {required: true, message: '请输入金额', trigger: 'change'},
                    ],
                },
                labelCol: {span: 5},
                wrapperCol: {span: 16},
                form: {
                    subject: {
                        name: '',
                        description: ''
                    },
                    searchText: '',
                },
                show: {
                    previewImg: false,
                    addSubject: false,
                    subjectInfo: false,
                    editStatusContent: false,
                    writeContent: false,
                    writeLastContent: false,
                },
                temp: {
                    previewSrc: '',
                    fileList: [],
                    subject: {
                        name: '',
                        description: '',
                        createBy: {}
                    },
                    isAddSubject: false,
                },
                editor: {
                    instance: null,
                    create: true,
                    toolbar: [
                        ['bold', 'italic', 'underline', 'strike'], //加粗，斜体，下划线，删除线
                        ['blockquote', 'code-block'],  //引用，代码块
                        [{'list': 'ordered'}, {'list': 'bullet'}],  //列表
                        [{'color': []}, {'background': []}],  // 字体颜色，字体背景颜色
                        [{'align': []}], //对齐方式
                        ['clean'], //清除字体样式
                        ['image'] //上传图片、上传视频
                    ]
                },
                sysUser: sessionStorage.getItem("sysUser")
            };
        },
        mounted() {
            this.getList()
        },
        methods: {
            /*截取最后状态*/
            subStatusCode(content) {
                return content.substring(content.indexOf('code=') + 5, content.indexOf(','))
            },
            subStatusText(content) {
                return content.substring(content.indexOf('text=') + 5, content.indexOf(')'))
            },
            /*编辑器*/
            createEditor(content) {
                setTimeout(() => {
                    if (this.editor.create) {
                        this.editor.instance = new window.Quill('#editor', {
                            theme: 'snow',
                            modules: {
                                toolbar: this.editor.toolbar
                            }
                        })
                        this.editor.create = false
                    }
                    this.editor.instance.root.innerHTML = content
                }, 1000)
            },
            destroyEditor() {
                this.editor.instance.root.innerHTML = ''
            },
            /*显示详情*/
            showSubjectInfo(record) {
                this.temp.subject = record
                // this.temp.fileList = goods.images.map(e => {
                //     return {
                //         uid: e.id,
                //         name: e.oldName,
                //         status: 'done',
                //         url: e.virtualPath,
                //     }
                // })
                this.show.subjectInfo = true
            },
            closeSubjectInfo() {
                this.show.subjectInfo = false
                this.temp.subject = {name: '', description: '', createBy: {}}
                this.temp.fileList = []
            },
            /*撰写一稿*/
            closeWriteContent() {
                this.show.writeContent = false
                this.destroyEditor()
                this.temp.fileList = []
            },
            showWriteContent(record) {
                this.temp.subject = record
                this.show.writeContent = true
                let lastCode = this.temp.subject.lastStatusCode
                if (lastCode == 3) {
                    this.createEditor(this.temp.subject.status[0].content)
                } else if (lastCode == 4) {
                    this.createEditor(this.temp.subject.status[1].content)
                }
            },
            submitWriteContent() {
                let lastCode = this.temp.subject.lastStatusCode
                let id = null
                if (lastCode == 3) {
                    id = this.temp.subject.status[0].id
                } else if (lastCode == 4) {
                    id = this.temp.subject.status[1].id
                }
                let data = {
                    subjectId: this.temp.subject.id,
                    id: id,
                    content: this.editor.instance.root.innerHTML,
                }
                axios.post('/api/subject/first/edit', data).then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    this.$message.success(result.message);
                    this.closeWriteContent()
                    this.getList()
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            /*撰写终稿*/
            closeWriteLastContent() {
                this.show.writeLastContent = false
                this.destroyEditor()
                this.temp.fileList = []
            },
            showWriteLastContent(record) {
                this.temp.subject = record
                this.show.writeLastContent = true
                let lastCode = this.temp.subject.lastStatusCode
                if (lastCode == 5) {
                    this.createEditor(this.temp.subject.status[0].content)
                } else if (lastCode == 6) {
                    this.createEditor(this.temp.subject.status[1].content)
                }
            },
            submitWriteLastContent() {
                let lastCode = this.temp.subject.lastStatusCode
                let id = null
                if (lastCode == 5) {
                    id = this.temp.subject.status[0].id
                } else if (lastCode == 6) {
                    id = this.temp.subject.status[1].id
                }
                let data = {
                    subjectId: this.temp.subject.id,
                    id: id,
                    content: this.editor.instance.root.innerHTML,
                }
                console.log(this.temp.subject.status)
                console.log(data)
                axios.post('/api/subject/last/edit', data).then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    this.$message.success(result.message);
                    this.closeWriteLastContent()
                    this.getList()
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            /*获取列表*/
            getList() {
                axios.post('/api/subject/select/mine').then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    if (result.data !== null) {
                        let list = []
                        list.push(result.data)
                        this.filterList(list)
                    }
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            filterList(source) {
                let dataList = source.map((e, index) => {
                    let status = e.status.sort((a, b) => {
                        let createTimeA = new moment(a.createTime)
                        let createTimeB = new moment(b.createTime)
                        return createTimeB.diff(createTimeA, 's');
                    })
                    let lastStatus = status.length ? status[0].code : false
                    let lastStatusCode = lastStatus ? this.subStatusCode(lastStatus) : ''
                    let lastStatusText = lastStatus ? this.subStatusText(lastStatus) : ''
                    return {
                        indexNum: index,
                        id: e.id,
                        name: e.name,
                        description: e.description,
                        files: e.files,
                        isSelect: e.isSelect,
                        paperPdfUrl: e.paperPdfUrl,
                        groups: e.groups,
                        score: e.score,
                        scorePdfUrl: e.scorePdfUrl,
                        isGood: e.isGood,
                        address: e.address,
                        note: e.note,
                        time: e.time,
                        guideTeacher: e.guideTeacher,
                        reviewTeacher: e.reviewTeacher,
                        timeStr: new moment(e.time).format('YYYY-MM-DD HH:mm:ss'),
                        twoTime: e.twoTime,
                        twoTimeStr: new moment(e.twoTime).format('YYYY-MM-DD HH:mm:ss'),
                        status: status,
                        lastStatus: lastStatus,
                        lastStatusCode: lastStatusCode,
                        lastStatusText: lastStatusText,
                        createBy: e.createBy,
                        createTime: e.createTime,
                        createTimeStr: new moment(e.createTime).format('YYYY-MM-DD HH:mm:ss'),
                    }
                })
                console.log(dataList)
                this.dataList = dataList
            },
            /*文件*/
            downloadPdf(url, name) {
                const download = document.createElement('a')
                download.setAttribute('href', `/file/${url}`)
                download.setAttribute('download', name)
                download.click()
            },
        }
    })
</script>
</body>
</html>
