@font-face {
  font-family: "iconfont"; /* Project id 964985 */
  src: url('//at.alicdn.com/t/font_964985_r81ygn8n6fd.woff2?t=1648731310671') format('woff2'),
  url('//at.alicdn.com/t/font_964985_r81ygn8n6fd.woff?t=1648731310671') format('woff'),
  url('//at.alicdn.com/t/font_964985_r81ygn8n6fd.ttf?t=1648731310671') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
  content: "\e76f";
}

.icon-photo:before {
  content: "\e60e";
}

.icon-location1:before {
  content: "\e650";
}

.icon-wenjianjiadaochu:before {
  content: "\e70c";
}

.icon-biaotou-kepaixu:before {
  content: "\e8f7";
}

.icon-fenxiang:before {
  content: "\e62d";
}

.icon-xiaoxi:before {
  content: "\e633";
}

.icon-24gf-bubbleDots3:before {
  content: "\e958";
}

.icon-xiaoxi1:before {
  content: "\e6b1";
}

.icon-geren:before {
  content: "\e71d";
}

.icon-gouwudai:before {
  content: "\e696";
}

.icon-fangzi:before {
  content: "\e60f";
}
