<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title></title>
  <div data-th-include="base :: meta"></div>
  <div data-th-include="base :: style"></div>
  <div data-th-include="base :: javascript"></div>
</head>

<body>
<div class="header0">
  <div data-th-include="base :: nav"></div>
</div>
<div class="clear"></div>
<div class="banner0">
  <img src="../../images/banner.png" />
</div>
<div class="typebox">
</div>
<div class="clear"></div>
<ul class="listul">
  <li>
    <div class="newsl">
      <img src="../../images/1.png" />
    </div>
    <div class="newsc">
      <a href="../strategy/info.html" class="ccsl">暑假去哪玩？桃花苑天地避暑甚好！</a>
      <div class="sub">暑期近在眼前，还在犹豫带孩子去哪儿玩吗？炎热的夏天，一颗躁动的心，背上收拾好的背包，走遍大好河山，感受大千世界，还不如隐居室外桃源桃花苑天地精品。少一些城市的喧嚣，回归大自然的清新脱俗，来一场说走就走的夏日之旅吧。</div>
    </div>
    <div class="newsr">
      <span>05.25</span>
      <time>2016</time>
    </div>
  </li>
  <li>
    <div class="newsl">
      <img src="../../images/1.png" />
    </div>
    <div class="newsc">
      <a href="../strategy/info.html" class="ccsl">暑假去哪玩？桃花苑天地避暑甚好！</a>
      <div class="sub">暑期近在眼前，还在犹豫带孩子去哪儿玩吗？炎热的夏天，一颗躁动的心，背上收拾好的背包，走遍大好河山，感受大千世界，还不如隐居室外桃源桃花苑天地精品。少一些城市的喧嚣，回归大自然的清新脱俗，来一场说走就走的夏日之旅吧。</div>
    </div>
    <div class="newsr">
      <span>05.25</span>
      <time>2016</time>
    </div>
  </li>
</ul>
<div class="clear"></div>
<div class="footer">
  <div class="main">
    <div class="foot">
      <div class="fnav">
        <a href="../../index.html">首页</a>
        <a href="../../about.html">景区概况</a>
        <a href="../../piclist.html">文苑之旅</a>
        <a href="../../piclist.html">舒雅住宅</a>
        <a href="../../list.html">新闻动态</a>
        <a href="../../about.html">联系我们</a>
      </div>
      <div class="clear"></div>
      <div class="fot">
        <div>电话：0311-12345678<br />邮箱：123.sjz@456.com<br />手机：123 4560 7890<br />地址：河北省石家庄市裕华区西湾子镇旅游商贸新区胜利大街香雪A区11号 </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
