<% layout('/layouts/default.html', {title: '招聘信息', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-user"></i> ${text('招聘信息')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${empUser}" action="${ctx}/sys/empUser/listData" method="post" class="form-inline "
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<#form:hidden name="employee.office.officeCode" value="company"/>
				<#form:hidden name="ctrlPermi" value="2"/>
				<#form:hidden name="isAll" value="true"/>
				<div class="form-group">
					<label class="control-label">${text('公司')}：</label>
					<div class="control-inline">
						<#form:input path="userName" maxlength="100" class="form-control width-90"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('电话')}：</label>
					<div class="control-inline">
						<#form:input path="mobile" maxlength="100" class="form-control width-90"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('邮箱')}：</label>
					<div class="control-inline">
						<#form:input path="email" maxlength="300" class="form-control width-90"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('类型')}：</label>
					<div class="control-inline width-90">
						<#form:select path="extend.extendS3" dictType="xxx_company_type" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('规模')}：</label>
					<div class="control-inline width-90">
						<#form:select path="extend.extendS4" dictType="xxx_company_size" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('账号')}', name:'userCode', editable:true, hidden:true},
		{header:'${text('公司')}', name:'userName', index:'a.user_name', width:200, align:"center"},
		{header:'${text('电话')}', name:'mobile', index:'a.mobile', width:50, align:"center"},
		{header:'${text('邮箱')}', name:'email', index:'a.email', width:80, align:"center"},
		{header:'${text('规模')}', name:'extend.extendS4', index:'a.extend.extendS4', width:50, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('xxx_company_size')}, val, '未知', true);
		}},
		{header:'${text('类型')}', name:'extend.extendS3', index:'a.extend.extendS3', width:50, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('xxx_company_type')}, val, '未知', true);
		}},
		{header:'${text('操作')}', name:'actions', width:50, sortable:false, title:false, align:"center", formatter: function(val, obj, row, act){
			var actions = [];
			actions.push('<a href="${ctx}/sys/empUser/userInfo?userCode='+row.userCode+'" class="btnList" title="${text('公司详情')}">详情</a>&nbsp;');
			actions.push('<a href="#" onclick="sendMail(this)" userCode='+row.userCode+' title="${text('投递简历')}">投递</a>&nbsp;');
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
function sendMail(obj){
	layer.prompt({title: '请输入备注信息', formType: 2}, function(text, index){
			var params = {
				"com" : $(obj).attr("userCode"),
				"remarks" : text
			};
			layer.confirm(
					"确定投递",
					{btn: ['确定','取消']}, 
					function(){
						var url = "${ctx}/sys/mail/save";
						$.post(url, params, function(data) {
							data = eval ("(" + data + ")");
							js.showMessage(data.message);
							$("#searchForm").submit();
						});
					}
				);
	});
}
</script>
