
.m-banner-wrap {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.m-banner-wrap .m-banner-list {
    height: 500px;
}

.m-banner-wrap .m-banner-list .u-banner-item {
    height: 500px;
    width: 100%;
    background-size: cover;
}

.m-banner-wrap .m-banner-list .u-banner-item a {
    display: block;
    height: 100%;
    background-size: cover;
}

.m-banner-wrap .m-banner-list .fade {
    animation: fade 0.5s ease-in-out;
    background-size: cover;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0.05;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    35% {
        opacity: 0.35;
    }
    50% {
        opacity: 0.5;
    }
    65% {
        opacity: 0.65;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    95% {
        opacity: 0.95;
    }
    100% {
        opacity: 1;
    }
}

.m-banner-wrap .m-dot-list {
    width: 500px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -300px;
    text-align: center;
}

.m-banner-wrap .m-dot-list .u-dot-item {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background: #fff;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 50%;
    opacity: 0.8;
}

.m-banner-wrap .m-dot-list .active {
    width: 30px;
    background: #108ee9;
    border: 1px solid #108ee9;
    border-radius: 12px;
    opacity: 1;
}
