<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
	<div data-th-include="/components/base :: meta"></div>
	<title>首页</title>
	<div data-th-replace="/components/base :: css"></div>
	<div data-th-replace="/components/base :: style"></div>
	<div data-th-replace="/components/base :: javascript"></div>
	<div data-th-replace="/components/vue :: javascript"></div>
	<div data-th-replace="/components/ui :: antd"></div>
	<link rel="stylesheet" th:href="@{/css/banner.css}">
	<div data-th-replace="/components/frontend/page-common :: style"></div>
	<style>
      .news-content {
          width: 49%;
          height: 30vh;
          color: #000000;
          font-size: 20px;
      }

      .employment-item {
          flex: 5;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }

      .employment-simple-item {
          flex: 1;
          background-color: rgba(153, 153, 153, 1);
          font-size: 21px;
      }
	</style>
</head>
<body>

<div id="app">
	<!--common-->
	<div data-th-replace="/components/frontend/page-common :: title"></div>
	<div data-th-replace="/components/frontend/page-common :: banner"></div>
	<div data-th-replace="/components/frontend/page-common :: nav"></div>
	<!--校园资讯-->
	<div style="width: 100%;background-color:rgba(153, 153, 153, 0.32);">
		<div style="display: flex;justify-content: space-between;padding: 16px 3rem 0 2rem;">
			<div style="font-size: 2rem">
				<a-icon type="mail"></a-icon>
				<span>校园资讯</span>
			</div>
			<div style="font-size: 1.5rem">
				<a href="/frontend/news.html" style="color:#505050">
					<span>查看更多</span>
					<a-icon type="right"></a-icon>
				</a>
			</div>
		</div>
		<div style="height: 1px;border-top: 1px solid #000;width: 98%;margin: 0 auto"></div>
		<div style="display: flex;padding: 10px;margin-top: 10px;">
			<div class="banner-wrap" v-if="page.news.length" style="flex:25">
				<div class="banner-list">
					<div class="banner-item fade"
							 v-for="(item, index) in page.news" :key="index"
							 v-show="index===newsActiveIndex"
							 @mouseover="onNewsOver()" @mouseout="onNewsOut()">
						<a href="/frontend/news.html">
							<div
									style="padding: 20px;display: flex;justify-content: space-between;background-color:rgb(196,196,196);">
								<img v-if="item.files.length" :src="item.files[0].virtualPath" alt="" style="width: 49%;height: 30vh">
								<img v-else :src="image.schoolLogo" alt="" style="width: 49%;height: 30vh">
								<div class="news-content" style="" v-html="item.content"></div>
							</div>
						</a>
					</div>
				</div>
				<div class="dot-list" v-if="page.news.length > 1">
					<div v-for="(item, index) in page.news" :key="index" :class="['dot-item', {active: index===newsActiveIndex}]"
							 @mouseenter="onNewsEnter(index)" @mouseleave="onNewsLeave">
					</div>
				</div>
			</div>
			<a-divider type="vertical" style="height:35vh;background: #000"></a-divider>
			<div style="flex:15;padding: 10px;background-color:rgba(153, 153, 153, 1);display: flex;
			flex-direction:column;align-items:center;justify-content: space-between;font-size: 2rem">
				<div style="width: 95%;background-color:#cccccc;" v-for="(item,index) in page.news" v-if="index<5">
					<a href="/frontend/news.html" style="display: flex;align-items: center;padding: 8px">
						<i class="iconfont icon-playlistplay" style="font-size:30px;color:#999999"></i>
						<span v-html="item.content" style="color:#505050;overflow: hidden"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--	就业速递-->
	<div style="width: 100%;background-color:rgba(177, 86, 86, 0.14);display: flex;flex-direction: row">
		<div style="flex:2;font-size: 2rem;writing-mode: tb-rl
		;display: flex;justify-content: flex-start;align-items: center;
    flex-direction: row;padding-top: 60px">
			<a-icon type="star" theme="filled" style="font-size:55px;margin-left:30px;color:#999999"></a-icon>
			<span style="margin-top:20px;font-size:40px;color:#505050;letter-spacing:30px">就业速递</span>
		</div>
		<div style="width: 1px;border-right: 1px solid #000;margin: 1rem 0"></div>
		<div style="flex:15;display: flex;padding: 10px;margin-top: 10px;">
			<div class="employment-item" style="" v-for="(item,index) in page.employment" v-if="index<2">
				<img v-if="item.files.length" :src="item.files[0].virtualPath" alt="" style="width: 80%;height: 50%">
				<img v-else :src="image.schoolName" alt="" style="width: 80%;height: 50%">
				<div style="width: 80%;height: 50%;font-size: 30px" v-html="item.content"></div>
			</div>
			<div style="flex: 5;display: flex;flex-direction: column;align-items: center;justify-content: center">
				<img :src="image.schoolName" alt="" style="width: 80%;height: 50%">
				<div style="width: 80%;height: 50%;font-size: 30px">此处为用户管理员发布的就业相关信息，上部分图片简介，下部分可为详细简介</div>
			</div>
		</div>
		<div style="flex:8;display: flex;padding: 10px;margin-top: 10px;flex-direction: column">
			<div class="employment-simple-item" style="" v-for="(item,index) in page.employment" v-if="index<3">
				<span v-html="item.content"></span>
				<br>
			</div>
			<div style="flex: 1;border: 1px solid #adacac;border-left: none;
			border-right: none;font-size: 21px;line-height: 21px;display: flex;justify-content: center;align-items: center">
				<a href="/frontend/employment.html" style="color:#505050">
					<span>查看更多</span>
					<a-icon type="right"></a-icon>
				</a>
			</div>
			<br>
			<div style="flex: 3">
				<img :src="image.image01" alt="" style="width: 100%;height: 20vh">
			</div>
		</div>
	</div>
	<!--common-->
	<div data-th-replace="/components/frontend/page-common :: xiaoxun"></div>
	<br>
	<div data-th-replace="/components/frontend/page-common :: sysname"></div>
	<br>
</div>
<div data-th-replace="/components/frontend/page-common :: javascript"></div>
<script>
    const app = new Vue({
        el: '#app',
        components: {},
        data() {
            return {
                labelCol: {span: 5},
                wrapperCol: {span: 16},
                image: {
                    schoolLogo: '/images/xiaohui.png',
                    schoolName: '/images/blackimg.png',
                    moduleIcon: '/images/icon.svg',
                    xiaoxun: '/images/xiaoxun.jpg',
                    image01: '/images/image01	.jpg',
                },
                page: {
                    schoolName: '学校名字',
                    schoolNameEn: '学校英文名',
                    xiaoxun: '校训',
                    sysName: '系统名字',
                    news: [],
                    employment: [],
                },
                pageUrl: '/frontend/demo.html',
                axios: axios,
                title: "校园管理系统",
                rules: {
                    name: [
                        {required: true, message: '请输入姓名', trigger: 'change'},
                    ],
                    age: [
                        {required: true, message: '请输入年龄', trigger: 'change'},
                    ],
                    gender: [
                        {required: true, message: '请选择性别', trigger: 'change'},
                    ],
                    mail: [
                        {required: true, message: '请输入邮箱', trigger: 'change'},
                    ],
                    oldPassword: [
                        {required: true, message: '请输入原密码', trigger: 'change'},
                        {min: 8, max: 16, message: '长度为8-16位', trigger: 'change'},
                    ],
                    newPassword: [
                        {required: true, message: '请输入新密码', trigger: 'change'},
                        {min: 8, max: 16, message: '长度为8-16位', trigger: 'change'},
                    ],
                    againPassword: [
                        {required: true, message: '请重复新密码', trigger: 'change'},
                        {min: 8, max: 16, message: '长度为8-16位', trigger: 'change'},
                    ],
                },
                show: {
                    updatePassword: false,
                    personSettings: false,
                    previewImg: false,
                },
                userInfo: {},
                activeIndex: 0,
                newsActiveIndex: 0,
                timer: null,
                bannerData: [
                    {src: '/images/banner01.png'},
                    {src: '/images/banner02.png'},
                    {src: '/images/banner03.png'},
                ],
                interval: 2000,
                titleText: '校园问答',
                isLogin: false,
            }
        },
        mounted() {
            this.getUserInfo()
            this.initPageData()
        },
        methods: {
            initPageData() {
                this.getNewsData()
                this.getEmploymentData()
            },
            getNewsData() {
                axios.get(`/api/paper/list/news`).then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    if (result.data !== null) {
                        this.page.news = this.filterDataList(result.data)
                    }
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            getEmploymentData() {
                axios.get(`/api/paper/list/employment`).then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    if (result.data !== null) {
                        this.page.employment = this.filterDataList(result.data)
                    }
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            filterDataList(source) {
                return source.map(e => {
                    let files = e.files.filter(r => {
                        return r.contentType.includes("image")
                    }).sort((a, b) => {
                        let createTimeA = new moment(a.createTime)
                        let createTimeB = new moment(b.createTime)
                        return createTimeA.diff(createTimeB, 's');
                    })
                    return {
                        id: e.id,
                        title: '题目',
                        price: e.price,
                        files: files,
                        content: e.content,
                        type: e.type,
                        secondType: e.secondType,
                        messages: e.messages,
                        createTime: e.createTime,
                        createTimeStr: new moment(e.createTime).format('YYYY-MM-DD HH:mm:ss'),
                    }
                });
            },
            toModulePage(e) {
                this.pageUrl = e
                window.location.href = e
            },
            changeOtherType(e) {
                window.location.href = `/frontend/other.html?key=${e}`
            },
            onOver() {
                clearInterval(this.timer)
            },
            onOut() {
                this.startSlider()
            },
            onEnter(index) {
                this.activeIndex = index
                clearInterval(this.timer)
            },
            onLeave() {
                this.startSlider()
            },
            startSlider() {
                clearInterval(this.timer)
                if (this.bannerData.length > 1) {
                    this.timer = setInterval(this.onMove, this.interval)
                }
            },
            onMove() {
                if (this.activeIndex === this.bannerData.length - 1) {
                    this.activeIndex = 0
                } else {
                    this.activeIndex++
                }
            },
            /*news*/
            onNewsOver() {
                clearInterval(this.timer)
            },
            onNewsOut() {
                this.startNewsSlider()
            },
            onNewsEnter(index) {
                this.newsActiveIndex = index
                clearInterval(this.timer)
            },
            onNewsLeave() {
                this.startNewsSlider()
            },
            startNewsSlider() {
                clearInterval(this.timer)
                if (this.page.news.length > 1) {
                    this.timer = setInterval(this.onNewsMove, this.interval)
                }
            },
            onNewsMove() {
                if (this.newsActiveIndex === this.page.news.length - 1) {
                    this.newsActiveIndex = 0
                } else {
                    this.newsActiveIndex++
                }
            },
            beforeDestroy() {
                clearInterval(this.timer)
                this.timer = null
            },
            getUserInfo() {
                this.axios.get('/api/user/getUserInfo').then(response => {
                    const result = response.data
                    if (result.status !== 200 && result.status !== 401) {
                        this.$message.error(result.message);
                        return;
                    }
                    if (result.data !== null) {
                        this.userInfo = result.data;
                        this.isLogin = true
                    }
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            logout() {
                sessionStorage.clear()
                window.location.href = '/frontend/login'
            },
        }
    })
</script>
</body>
</html>
