<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
	<div data-th-include="/components/base :: meta"></div>
	<title>首页</title>
	<div data-th-replace="/components/base :: css"></div>
	<div data-th-replace="/components/base :: javascript"></div>
	<div data-th-replace="/components/vue :: javascript"></div>
	<div data-th-replace="/components/ui :: antd"></div>
	<link rel="stylesheet" th:href="@{/css/banner.css}">
	<div data-th-replace="/components/frontend/page-common :: style"></div>
</head>
<body>

<div id="app">
	<a-modal th:fragment="a-person-settings" title="个人信息" :visible.sync="show.personSettings" width="40%" ok-text="保存"
					 cancel-text="取消"
					 @ok="savePersonSettings" @cancel="closePersonSettings">
		<a-form-model ref="personSettingsForm" :model="form.personSettings" :rules="rules" :label-col="labelCol"
									:wrapper-col="wrapperCol">
			<a-form-model-item label="姓名" prop="name">
				<a-input v-model="form.personSettings.name"></a-input>
			</a-form-model-item>
			<a-form-model-item label="性别" prop="gender">
				<a-radio-group name="gender" v-model="form.personSettings.gender">
					<a-radio :value="1">男</a-radio>
					<a-radio :value="2">女</a-radio>
				</a-radio-group>
			</a-form-model-item>
			<a-form-model-item label="年龄" prop="age">
				<a-input-number :min="0" v-model="form.personSettings.age" style="width: 100%"></a-input-number>
			</a-form-model-item>
			</a-form-model-item>
			<a-form-model-item label="邮箱" prop="mail">
				<a-input v-model="form.personSettings.mail"></a-input>
			</a-form-model-item>
			<a-form-model-item label="头像" prop="image">
				<div class="clearfix">
					<a-upload name="file" list-type="picture-card" :file-list="temp.fileList" :headers="headers"
										action="/api/uploadFile" @preview="showPreview" @change="changeUploadFile"
										:remove="removeUploadFile">
						<div v-if="temp.fileList.length < 1">
							<a-icon type="plus"></a-icon>
							<div class="ant-upload-text"> 上传</div>
						</div>
					</a-upload>
				</div>
			</a-form-model-item>
			<a-modal :visible="show.previewImg" :footer="null" @cancel="closePreview">
				<img style="width: 100%" :src="temp.previewSrc"/>
			</a-modal>
		</a-form-model>
	</a-modal>
	<!--common-->
	<div data-th-replace="/components/frontend/page-common :: title"></div>
	<div data-th-replace="/components/frontend/page-common :: banner"></div>
	<div data-th-replace="/components/frontend/page-common :: nav"></div>
	<!--校园资讯-->
	<div style="width: 100%;background-color:rgba(153, 153, 153, 0.32);">
		<div style="display: flex;justify-content: space-between;padding: 16px 3rem 0 2rem;">
			<div style="font-size: 2rem">
				<a-icon type="mail"></a-icon>
				<span>校园资讯</span>
			</div>
			<div style="font-size: 1.5rem">
				<span>查看更多</span>
				<a-icon type="right"></a-icon>
			</div>
		</div>
		<div style="height: 1px;border-top: 1px solid #000;width: 98%;margin: 0 auto"></div>
		<div style="display: flex;padding: 10px;margin-top: 10px;">
			<div class="banner-wrap" v-if="bannerData.length" style="flex:25">
				<div class="banner-list">
					<div class="banner-item fade"
							 v-for="(item, index) in bannerData" :key="index"
							 v-show="index===activeIndex"
							 @mouseover="onOver()" @mouseout="onOut()">
						<div style="padding: 20px;display: flex;justify-content: space-between;background-color:rgb(196,196,196);">
							<img :src="image.schoolLogo" alt="" style="width: 49%;height: 30vh">
							<div style="width: 49%;height: 30vh;background-color:rgba(204, 204, 204, 1);">{{page.schoolName}}</div>
						</div>
					</div>
				</div>
				<div class="dot-list" v-if="bannerData.length > 1">
					<div v-for="(item, index) in bannerData" :key="index" :class="['dot-item', {active: index===activeIndex}]"
							 @mouseenter="onEnter(index)" @mouseleave="onLeave">
					</div>
				</div>
			</div>
			<a-divider type="vertical" style="height:35vh;background: #000"></a-divider>
			<div style="flex:15;padding: 10px;background-color:rgba(153, 153, 153, 1);display: flex;
			flex-direction:column;align-items:center;justify-content: space-between;font-size: 2rem">
				<div style="width: 95%;background-color:rgba(204, 204, 204, 1)	;">{{page.schoolName}}</div>
				<div style="width: 95%;background-color:rgba(204, 204, 204, 1)	;">{{page.schoolName}}</div>
				<div style="width: 95%;background-color:rgba(204, 204, 204, 1)	;">{{page.schoolName}}</div>
				<div style="width: 95%;background-color:rgba(204, 204, 204, 1)	;">{{page.schoolName}}</div>
				<div style="width: 95%;background-color:rgba(204, 204, 204, 1)	;">{{page.schoolName}}</div>
			</div>
		</div>
	</div>
	<!--	就业速递-->
	<div style="width: 100%;background-color:rgba(177, 86, 86, 0.14);display: flex;flex-direction: row">
		<div style="flex:2;font-size: 2rem;writing-mode: tb-rl
		;display: flex;justify-content: flex-start;align-items: center;
    flex-direction: row;padding-top: 20px">
			<a-icon type="star" theme="filled"></a-icon>
			<span style="margin-top:20px">就业速递</span>
		</div>
		<div style="width: 1px;border-right: 1px solid #000;margin: 1rem 0"></div>
		<div style="flex:15;display: flex;padding: 10px;margin-top: 10px;">
			<div style="flex: 5;display: flex;flex-direction: column;align-items: center;justify-content: center">
				<img :src="image.schoolName" alt="" style="width: 80%;height: 50%">
				<div style="width: 80%;height: 50%;font-size: 30px">此处为用户管理员发布的就业相关信息，上部分图片简介，下部分可为详细简介</div>
			</div>
			<div style="flex: 5;display: flex;flex-direction: column;align-items: center;justify-content: center">
				<img :src="image.schoolName" alt="" style="width: 80%;height: 50%">
				<div style="width: 80%;height: 50%;font-size: 30px">此处为用户管理员发布的就业相关信息，上部分图片简介，下部分可为详细简介</div>
			</div>
		</div>
		<div style="flex:8;display: flex;padding: 10px;margin-top: 10px;flex-direction: column">
			<div style="flex: 1;background-color:rgba(153, 153, 153, 1);font-size: 21px">1</div>
			<br>
			<div style="flex: 1;background-color:rgba(153, 153, 153, 1);font-size: 21px">1</div>
			<br>
			<div style="flex: 1;background-color:rgba(153, 153, 153, 1);font-size: 21px">1</div>
			<br>
			<div style="flex: 1;border: 1px solid #adacac;border-left: none;
			border-right: none;font-size: 21px;line-height: 21px;display: flex;justify-content: center;align-items: center">
				<span>查看更多</span>
				<a-icon type="right"></a-icon>
			</div>
			<br>
			<div style="flex: 3">
				<img :src="image.schoolName" alt="" style="width: 100%;height: 20vh">
			</div>
		</div>
	</div>
	<!--common-->
	<div data-th-replace="/components/frontend/page-common :: xiaoxun"></div>
	<br>
	<div data-th-replace="/components/frontend/page-common :: sysname"></div>
	<br>
</div>
<script>
    const app = new Vue({
        el: '#app',
        components: {},
        data() {
            return {
                labelCol: {span: 5},
                wrapperCol: {span: 16},
                image: {
                    schoolLogo: '/images/xiaohui.png',
                    schoolName: '/images/blackimg.png',
                    moduleIcon: '/images/icon.svg',
                    xiaoxun: '/images/xiaohui.png',
                },
                page: {
                    schoolName: '学校名字',
                    schoolNameEn: '学校英文名',
                    xiaoxun: '校训',
                    sysName: '系统名字',
                },
                pageUrl: '/frontend/demo.html',
                headers: headers,
                axios: axios,
                form: {
                    updatePassword: {
                        oldPassword: '',
                        newPassword: '',
                        againPassword: '',
                    },
                    personSettings: {}
                },
                pagination: {total: 0, pageSize: 10},
                title: "校园管理系统",
                rules: {
                    name: [
                        {required: true, message: '请输入姓名', trigger: 'change'},
                    ],
                    age: [
                        {required: true, message: '请输入年龄', trigger: 'change'},
                    ],
                    gender: [
                        {required: true, message: '请选择性别', trigger: 'change'},
                    ],
                    mail: [
                        {required: true, message: '请输入邮箱', trigger: 'change'},
                    ],
                    oldPassword: [
                        {required: true, message: '请输入原密码', trigger: 'change'},
                        {min: 8, max: 16, message: '长度为8-16位', trigger: 'change'},
                    ],
                    newPassword: [
                        {required: true, message: '请输入新密码', trigger: 'change'},
                        {min: 8, max: 16, message: '长度为8-16位', trigger: 'change'},
                    ],
                    againPassword: [
                        {required: true, message: '请重复新密码', trigger: 'change'},
                        {min: 8, max: 16, message: '长度为8-16位', trigger: 'change'},
                    ],
                },
                show: {
                    updatePassword: false,
                    personSettings: false,
                    previewImg: false,
                },
                userInfo: {},
                temp: {
                    previewSrc: '',
                    fileList: []
                },
                activeIndex: 0,
                timer: null,
                bannerData: [
                    {src: '/images/banner01.png'},
                    {src: '/images/banner02.png'},
                    {src: '/images/banner03.png'},
                ],
                interval: 2000,
            }
        },
        mounted() {
            this.menus = this.allMenus
            this.getUserInfo()
        },
        methods: {
            toModulePage(e) {
                console.log(e)
                this.pageUrl = e
                window.location.href = e
            },
            handleChange(e) {
                console.log(e)
            },
            onOver() {
                clearInterval(this.timer)
            },
            onOut() {
                this.startSlider()
            },
            onEnter(index) {
                this.activeIndex = index
                clearInterval(this.timer)
            },
            onLeave() {
                this.startSlider()
            },
            startSlider() {
                clearInterval(this.timer)
                if (this.bannerData.length > 1) {
                    this.timer = setInterval(this.onMove, this.interval)
                }
            },
            onMove() {
                if (this.activeIndex === this.bannerData.length - 1) {
                    this.activeIndex = 0
                } else {
                    this.activeIndex++
                }
            },
            beforeDestroy() {
                clearInterval(this.timer)
                this.timer = null
            },
            showPersonSettings() {
                this.show.personSettings = true
            },
            closePersonSettings() {
                this.show.personSettings = false
            },
            savePersonSettings() {
                const _this = this
                let data = {
                    id: _this.userInfo.id,
                    age: _this.form.personSettings.age,
                    name: _this.form.personSettings.name,
                    gender: _this.form.personSettings.gender,
                    mail: _this.form.personSettings.mail,
                    headImg: _this.temp.fileList.length > 0 ? _this.temp.fileList[0].response.data : _this.userInfo.headImg,
                }
                this.$refs.personSettingsForm.validate(valid => {
                    if (valid) {
                        console.info('valid success-->', data, _this.temp.fileList);
                        axios.post('/api/user/updateUserInfo', data).then(response => {
                            const result = response.data
                            if (result.status !== 200) {
                                this.$message.error(result.message);
                                return;
                            }
                            _this.$message.success(result.message);
                            _this.closePersonSettings()
                        }).catch(function (error) {
                            console.error('出现错误:', error);
                        });
                    } else {
                        console.log('验证失败');
                        return false;
                    }
                })
            },
            showUpdatePassword() {
                this.show.updatePassword = true
            },
            closeUpdatePassword() {
                this.show.updatePassword = false
                this.$refs.updatePasswordForm.resetFields();
            },
            saveUpdatePassword() {
                const _this = this
                _this.$refs.updatePasswordForm.validate(valid => {
                    let data = {
                        id: _this.userInfo.id,
                        oldPassword: _this.form.updatePassword.oldPassword,
                        newPassword: _this.form.updatePassword.newPassword,
                        againPassword: _this.form.updatePassword.againPassword,
                    }
                    if (valid) {
                        console.info('valid success-->', data);
                        if (data.newPassword !== data.againPassword) {
                            _this.$message.error('两次密码不一致');
                            return
                        }
                        axios.post('/api/user/updatePassword', data).then(response => {
                            const result = response.data
                            if (result.status !== 200) {
                                _this.$message.error(result.message);
                                return;
                            }
                            _this.$message.success(result.message);
                            _this.closeUpdatePassword()
                        }).catch(function (error) {
                            console.error('出现错误:', error);
                        });
                    } else {
                        console.log('验证失败');
                        return false;
                    }
                })
            },
            getUserInfo() {
                this.axios.get('/api/user/getUserInfo').then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    if (result.data !== null) {
                        this.userInfo = result.data;
                    }
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            logout() {
                sessionStorage.clear()
                window.location.href = '/server/login'
            },
            closePreview() {
                this.show.previewImg = false
            },
            async showPreview(file) {
                if (file.response) {
                    this.temp.previewSrc = file.response.data.virtualPath
                } else {
                    this.temp.previewSrc = file.url
                }
                this.show.previewImg = true
            },
            changeUploadFile(info) {
                this.temp.fileList = info.fileList
                if (info.file.status === 'done') {
                    this.$message.success(`${info.file.name} 上传成功`);
                } else if (info.file.status === 'error') {
                    this.$message.error(`${info.file.name} 上传失败`);
                }
            },
            removeUploadFile(file) {
                this.temp.fileList = []
            },
        }
    })
</script>
</body>
</html>
