<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
	<div data-th-include="/components/base :: meta"></div>
	<title>校园资讯</title>
	<div data-th-replace="/components/base :: css"></div>
	<div data-th-replace="/components/base :: javascript"></div>
	<div data-th-replace="/components/vue :: javascript"></div>
	<div data-th-replace="/components/ui :: antd"></div>
	<link rel="stylesheet" th:href="@{/css/banner.css}">
	<div data-th-replace="/components/frontend/page-common :: style"></div>
	<style>
      p {
          padding: 0;
          margin: 0
      }

      .content {
          display: flex;
          flex-direction: row;
          height: max-content
      }

      .menus {
          flex: 1;
          height: 100%;
          margin: 0;
          padding: 0;
      }

      .menus li {
          background-color: #939393;
          color: rgb(37, 37, 36);
          font-size: 1.5rem;
          list-style: none;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 10vh;
          font-family: 'Microsoft YaHei';
      }
	</style>
</head>
<body>

<div id="app">
	<!--common-->
	<div data-th-replace="/components/frontend/page-common :: title"></div>
	<div data-th-replace="/components/frontend/page-common :: banner"></div>
	<div data-th-replace="/components/frontend/page-common :: nav"></div>
	<div style="" class="content">
		<ul class="menus">
			<li v-for="item in menus" @click="changeType(item)">{{item.name}}</li>
		</ul>
		<div style="flex:9;height: 100%;padding: 2rem">
			<p style="font-size: 30px;font-weight: 600">{{title}}</p>
			<div style="height: 2px;background-color:#000;margin-top: 10px"></div>
			<div>
				<a-col v-for="item in dataList" style="padding: 10px">
					<p style="font-size: 30px;font-weight: 600">{{item.title}}</p>
					<p style="font-size: 24px;word-break: break-all">{{item.content}}</p>
					<hr>
				</a-col>
			</div>
		</div>
	</div>
	<!--common-->
	<div data-th-replace="/components/frontend/page-common :: xiaoxun"></div>
	<br>
	<div data-th-replace="/components/frontend/page-common :: sysname"></div>
	<br>
</div>


<script>
    const app = new Vue({
        el: '#app',
        components: {},
        data() {
            return {
                image: {
                    schoolLogo: '/images/xiaohui.png',
                    schoolName: '/images/blackimg.png',
                    moduleIcon: '/images/icon.svg',
                    xiaoxun: '/images/xiaohui.png',
                },
                page: {
                    schoolName: '学校名字',
                    schoolNameEn: '学校英文名',
                    xiaoxun: '校训',
                    sysName: '系统名字',
                },
                headers: headers,
                axios: axios,
                userInfo: {},
                activeIndex: 0,
                timer: null,
                bannerData: [
                    {src: '/images/banner01.png'},
                    {src: '/images/banner02.png'},
                    {src: '/images/banner03.png'},
                ],
                interval: 2000,
                pagination: {
                    pageSize: 3,
                    pageIndex: 1,
                    pageCount: 50,
                },
                title: '校园要闻',
                menus: [
                    {key: '', name: '校园咨询'},
                    {key: '', name: '校园要闻'},
                    {key: '', name: '校园快讯'},
                    {key: '', name: '学术动态'},
                    {key: '', name: '校园宣传'},
                    {key: '', name: '通知公告'},
                ],
                dataList: [
                    {
                        title: 'title',
                        content: 'xxxxx'
                    },
                    {
                        title: 'title',
                        content: 'xxxxx'
                    }
                ]
            }
        },
        mounted() {
            this.getUserInfo()
        },
        methods: {
            toModulePage(e) {
                this.$message.info(e)
                window.location.href = e
            },
            changeType(e) {
                console.log(e.name)
            },
            handleChange(e) {
                console.log(e)
                window.location.href = `/frontend/other.html?key=${e}`
            },
            onOver() {
                clearInterval(this.timer)
            },
            onOut() {
                this.startSlider()
            },
            onEnter(index) {
                this.activeIndex = index
                clearInterval(this.timer)
            },
            onLeave() {
                this.startSlider()
            },
            startSlider() {
                clearInterval(this.timer)
                if (this.bannerData.length > 1) {
                    this.timer = setInterval(this.onMove, this.interval)
                }
            },
            onMove() {
                if (this.activeIndex === this.bannerData.length - 1) {
                    this.activeIndex = 0
                } else {
                    this.activeIndex++
                }
            },
            beforeDestroy() {
                clearInterval(this.timer)
                this.timer = null
            },
            getUserInfo() {
                this.axios.get('/api/user/getUserInfo').then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    if (result.data !== null) {
                        this.userInfo = result.data;
                    }
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            logout() {
                sessionStorage.clear()
                window.location.href = '/server/login'
            },
        }
    })

</script>
</body>
</html>
