<html>
<head>
	<div data-th-replace="/components/base :: javascript"></div>
	<div data-th-replace="/components/base :: quill"></div>
	<div data-th-replace="/components/vue :: javascript"></div>
	<div data-th-replace="/components/ui :: antd"></div>
	<style>
      p {
          padding: 0;
          margin: 0
      }

      .content {
          display: flex;
          flex-direction: row;
          height: max-content
      }

      .menus {
          flex: 2;
          height: 100%;
          margin: 0;
          padding: 0;
      }

      .menus li {
          background-color: #999999;
          color: #505050;
          font-size: 14px;
          list-style: none;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 85px;
          font-family: 'Microsoft YaHei';
      }

      .menus li:first-child {
          font-size: 14px;
          text-align: center;
          background-repeat: no-repeat;
          background-size: auto 100%;
          background-position: center;
          background-color: #47bcbc;
      }

      .ant-pagination-item-link {
          display: flex !important;
          align-items: center !important;
          justify-content: center !important;
      }

      .ql-snow .ql-stroke {
          stroke: rgba(153, 153, 153, 1) !important;

      }

      .ql-snow .ql-fill {
          fill: rgba(153, 153, 153, 1) !important;
      }

      .publish-button {
          text-align: center;
          width: 113px;
          height: 43px;
          font-size: 27px;
          background-color: #999999;
          color: #505050;
          position: absolute;
          top: 185px;
          right: 19px
      }
	</style>
</head>
<body style="margin: 0;scroll: no; overflow-y: hidden">
<div style="" class="content" id="app">
	<ul class="menus">
		<li v-for="item in menus" @click="changeSecondType(item)" v-if="item.show()">{{item.name}}</li>
	</ul>
	<div style="flex:10;height: 100%;padding: 2rem">
		<p style="font-size:14px;background-color:#999999;color: #505050;width: max-content;padding: 1rem 3rem;">
			{{title}}</p>
		<div style="height: 3px;background-color:#999999;margin-top: 10px;width: 889px"></div>
		<div
				style="
				width:866px;height:271px;margin-top: 10px;background-color:rgba(153, 153, 153, 0.11);padding: 8px 27px 90px 9px;position: relative">
			<div id="editor" style="height: 173px;width:830px;background-color:#cccccc;"></div>
			<!-- Create toolbar container -->
			<div id="toolbar" style="border: none;display: flex;align-items: center;">
				<button class="ql-emoji" style="width: 50px;height: 50px;"></button>
				<a-upload class="ql-image" name="file" action="/api/uploadFile"
									:multiple="true" :file-list="temp.imageList" :remove="removeUploadImage"
									@preview="showPreview" @change="changeUploadImage" :show-upload-list="false">
					<div style="margin-left: 35px;">
						<a-icon type="camera" theme="filled" style="font-size: 40px;color:rgba(153, 153, 153, 1)"></a-icon>
					</div>
				</a-upload>
				<a-upload class="ql-file" name="file" action="/api/uploadFile"
									:multiple="true" :file-list="temp.fileList" :remove="removeUploadFile"
									@change="changeUploadFile" :show-upload-list="false">
					<div style="display: flex;flex-direction: column;align-items: center;color: #fff;margin-left: 35px;">
						<a-icon type="upload"></a-icon>
						<span>上传</span>
					</div>
				</a-upload>
			</div>
			<div class="publish-button" @click="publish">发布
			</div>
		</div>
	</div>
</div>
<script>
    const app = new Vue({
        el: '#app',
        components: {},
        data() {
            return {
                apiUrl: '',
                axios: axios,
                userInfo: {},
                isAdmin: false,
                headers: headers,
                title: '校园资讯',
                titleKey: '',
                menus: [
                    {
                        key: '', show: () => {
                            return true
                        }, name: '已发布动态'
                    },
                    {
                        key: 'news', show: () => {
                            return this.isAdmin
                        }, name: '校园资讯'
                    },
                    {
                        key: 'trading', show: () => {
                            return true
                        }, name: '二手交易'
                    },
                    {
                        key: 'employment', show: () => {
                            return this.isAdmin
                        }, name: '就业速递'
                    },
                    {
                        key: 'lost-items', show: () => {
                            return true
                        }, name: '失物招领'
                    },
                    {
                        key: 'question', show: () => {
                            return true
                        }, name: '校园问答'
                    },
                    {
                        key: 'friends', show: () => {
                            return true
                        }, name: '校园交友'
                    },
                ],
                dataList: [],
                editor: {
                    instance: null,
                    create: true,
                    toolbar: [
                        ['bold', 'italic', 'underline', 'strike'], //加粗，斜体，下划线，删除线
                        ['blockquote', 'code-block'],  //引用，代码块
                        [{'list': 'ordered'}, {'list': 'bullet'}],  //列表
                        [{'color': []}, {'background': []}],  // 字体颜色，字体背景颜色
                        [{'align': []}], //对齐方式
                        ['clean'], //清除字体样式
                        ['image'], //上传图片、上传视频
                        ['emoji'], //上传图片、上传视频
                    ]
                },
                temp: {
                    imageList: [],
                    fileList: []
                },
            }
        },
        mounted() {
            this.initType()
            this.createEditor('')
        },
        methods: {
            publish() {
                let fileList = []
                this.temp.fileList.forEach(e => {
                    fileList.push(e.currentData)
                })
                this.temp.imageList.forEach(e => {
                    fileList.push(e.currentData)
                })
                let data = {
                    title: '',
                    messages: [],
                    content: this.editor.instance.root.innerHTML,
                    type: this.titleKey,
                    files: fileList
                }
                this.axios.post('/api/paper/save', data).then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    console.log("已发布，等待管理员审核")
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            /*upload*/
            changeUploadFile(info) {
                this.temp.fileList = info.fileList
                if (info.file.status === 'done') {
                    // this.$message.success(`${info.file.name} 上传成功`);
                    let data = {
                        id: info.file.response.data.id,
                        uid: info.file.response.data.id,
                        name: info.file.response.data.oldName,
                        status: 'done',
                        url: info.file.response.data.virtualPath,
                        currentData: info.file.response.data
                    }
                    info.currentData = info.file.response.data
                    this.temp.fileList.pop()
                    this.temp.fileList.push(data)
                } else if (info.file.status === 'error') {
                    this.$message.error(`${info.file.name} 上传失败`);
                }
            },
            removeUploadFile(file) {
                this.temp.fileList = this.temp.fileList.filter(e => {
                    return e.id !== file.id
                })
            },
            /*image*/
            changeUploadImage(info) {
                this.temp.imageList = info.fileList
                if (info.file.status === 'done') {
                    // this.$message.success(`${info.file.name} 上传成功`);
                    let data = {
                        id: info.file.response.data.id,
                        uid: info.file.response.data.id,
                        name: info.file.response.data.oldName,
                        status: 'done',
                        url: info.file.response.data.virtualPath,
                        currentData: info.file.response.data
                    }
                    info.currentData = info.file.response.data
                    this.temp.imageList.pop()
                    this.temp.imageList.push(data)
                } else if (info.file.status === 'error') {
                    this.$message.error(`${info.file.name} 上传失败`);
                }
            },
            removeUploadImage(file) {
                this.temp.imageList = this.temp.imageList.filter(e => {
                    return e.id !== file.id
                })
            },
            closePreview() {
                this.show.previewImg = false
            },
            async showPreview(file) {
                this.temp.previewSrc = file.url
                this.show.previewImg = true
            },

            createEditor(content) {
                setTimeout(() => {
                    if (this.editor.create) {
                        this.editor.instance = new window.Quill('#editor', {
                            theme: 'snow',
                            modules: {
                                // toolbar: this.editor.toolbar,
                                toolbar: '#toolbar',
                                "emoji-toolbar": true,
                                // "emoji-shortname": true,
                                // "emoji-textarea": true,
                                // handlers: {
                                //     // 'image': customFormulaHandler
                                // }
                            }
                        })
                        this.editor.create = false
                    }
                    this.editor.instance.root.innerHTML = content
                }, 1000)
            },
            destroyEditor() {
                this.editor.instance.root.innerHTML = ''
            },
            initType() {
                let url = window.location.href
                let key = url.split('?key=')[1]
                switch (key) {
                    case 'news' :
                        this.title = '校园资讯';
                        break;
                    case 'trading' :
                        this.title = '二手交易';
                        break;
                    case 'employment' :
                        this.title = '就业速递';
                        break;
                    case 'lost-items' :
                        this.title = '失物招领';
                        break;
                    case 'question' :
                        this.title = '校园问答';
                        break;
                    case 'friends' :
                        this.title = '校园交友';
                        break;
                    case 'other' :
                        this.title = '其他';
                        break;
                    case 'car' :
                        this.title = '校园拼车';
                        break;
                }
                this.titleKey = key
            },
            changeSecondType(e) {
                console.log('changeSecondType-->', e.name)
            },
            changeOtherType(e) {
                console.log('changeOtherType-->', e)
            },

        }
    })

</script>
</body>
</html>
