<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div data-th-include="/components/base :: meta"></div>
	<title>校园资讯</title>
	<div data-th-replace="/components/base :: css"></div>
	<div data-th-replace="/components/base :: javascript"></div>
	<div data-th-replace="/components/vue :: javascript"></div>
	<div data-th-replace="/components/ui :: antd"></div>
	<link rel="stylesheet" th:href="@{/css/banner.css}">
	<div data-th-replace="/components/frontend/page-common :: style"></div>
	<style>
      .body {
          width: 100%;
          height: 65vh;
          position: relative;
          display: flex;
      }

      .body-bgi {
          background-repeat: no-repeat;
          background-size: 100%;
          background-position: center;
          width: 100%;
          height: 100%;
          opacity: 0.63;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 10;
      }


      .menus {
          margin: 2rem 0 0 1rem;
          width: 257px;
          height: 46px;
          background-color: #999999;
          color: #505050;
          display: flex;
          text-align: center;
          align-items: center;
      }

      .menus:first-child {
          margin: 5rem 0 0 1rem;
      }
	</style>
</head>
<body>

<div id="app">
	<div style="background-color:#999999;height: 10vh;color:#505050;
	display:flex;justify-content: space-around;font-size:39px;align-items: center">
		<span>草</span>
		<span>书</span>
		<span>文</span>
		<span>字</span>
	</div>
	<div class="body">
		<div class="body-bgi" :style="`background-image:url(${image.settings})`"></div>
		<div style="flex:2;height: 100%;text-align: right;z-index: 999">
			<img v-if="userInfo.headImg" :src="userInfo.headImg.virtualPath" alt=""
					 style="width: 169px;height: 169px;margin: 5rem 1rem 0 0">
		</div>
		<div style="flex:3;height: 100%;display:flex;z-index: 999;flex-direction: column">
			<div class="menus" v-for="item in menus" @click="clickMenu(item)" :key="item.id">
				<span style="flex:6">{{item.name}}</span>
				<a-icon style="flex:2;font-size: 40px" type="unordered-list"></a-icon>
			</div>
		</div>
	</div>
	<a-modal :visible.sync="show.updateName" width="30%" ok-text="确认"
					 cancel-text="取消" @ok="saveName" @cancel="closeUpdateName">
		<a-form-model ref="updateNameForm" :model="form" :rules="rules" :label-col="labelCol" :wrapper-col="wrapperCol">
			<a-form-model-item label="名称">
				<a-input v-model="form.name"></a-input>
			</a-form-model-item>
		</a-form-model>
	</a-modal>
	<a-modal :visible.sync="show.updatePassword" width="30%" ok-text="确认"
					 cancel-text="取消" @ok="savePassword" @cancel="closeUpdatePassword">
		<a-form-model ref="updatePasswordForm" :model="form" :rules="rules" :label-col="labelCol" :wrapper-col="wrapperCol">
			<a-form-model-item label="原密码" prop="oldPassword">
				<a-input v-model="form.oldPassword" type="password"></a-input>
			</a-form-model-item>
			<a-form-model-item label="新密码" prop="newPassword">
				<a-input v-model="form.newPassword" type="password"></a-input>
			</a-form-model-item>
			<a-form-model-item label="重复密码" prop="againPassword">
				<a-input v-model="form.againPassword" type="password"></a-input>
			</a-form-model-item>
		</a-form-model>
	</a-modal>
	<a-modal :visible.sync="show.publishSelect" width="20%" :footer="false" @cancel="show.publishSelect = false">
		<a-col style="display: flex;flex-direction: column;align-items: center">
			<a-button style="width: 80%;margin-top: 10px;"@click="toPublish(item)" v-for="item in publishType" >{{item.name}}</a-button>
		</a-col>
	</a-modal>
</div>


<script>
    const app = new Vue({
        el: '#app',
        components: {},
        data() {
            return {
                labelCol: {span: 5},
                wrapperCol: {span: 16},
                image: {
                    settings: '/images/settings.jpg',
                },
                headers: headers,
                axios: axios,
                userInfo: {},
                menus: [
                    {key: 'name', show: true, name: '名称'},
                    {key: 'password', show: true, name: '修改密码	'},
                    {key: 'published', show: true, name: '已发布动态', url: '/frontend/published.html'},
                    {key: 'checkWait', show: true, name: '审核中动态'},
                    {key: 'publish', show: true, name: '发布动态'},
                    {key: 'check', show: true, name: '审核'},
                    {key: 'comment', show: true, name: '评论'},
                ],
                show: {
                    updateName: false,
                    updatePassword: false,
                    publishSelect: false,
                },
                rules: {
                    name: [{required: true, message: '请输入名称', trigger: 'change'}],
                    oldPassword: [{required: true, message: '请输入原密码', trigger: 'change'}],
                    newPassword: [{required: true, message: '请输入新密码', trigger: 'change'}],
                    againPassword: [{required: true, message: '请重复输入密码', trigger: 'change'}],
                },
                form: {
                    name: '',
                    oldPassword: '',
                    newPassword: '',
                    againPassword: '',
                },
                publishType: [
                    {key: 'news', show: true, name: '校园资讯'},
                    {key: 'trading', show: true, name: '二手交易'},
                    {key: 'employment', show: true, name: '就业速递'},
                    {key: 'lost-items', show: true, name: '失物招领'},
                    {key: 'question', show: true, name: '校园问答'},
                    {key: 'friends', show: true, name: '校园交友'},
                ]
            }
        },
        mounted() {
            this.getUserInfo()
        },
        methods: {
            clickMenu(e) {
                console.log(e)
                switch (e.key) {
                    case 'name' :
                        this.showUpdateName()
                        break;
                    case 'password' :
                        this.showUpdatePassword()
                        break;
                    case 'published' :
                        window.location.href = e.url
                        break;
                    case 'publish' :
                        this.showPublishSelect()
                        break;
                }
            },
            toPublish(e) {
                console.log(e)
								window.location.href = `/frontend/publish.html?key=${e.key}`
            },
            showPublishSelect() {
                this.show.publishSelect = true
            },
            /*password*/
            savePassword() {
                const _this = this
                _this.$refs.updatePasswordForm.validate(valid => {
                    let data = {
                        id: _this.userInfo.id,
                        oldPassword: _this.form.oldPassword,
                        newPassword: _this.form.newPassword,
                        againPassword: _this.form.againPassword,
                    }
                    if (valid) {
                        console.info('valid success-->', data);
                        if (data.newPassword !== data.againPassword) {
                            _this.$message.error('两次密码不一致');
                            return
                        }
                        axios.post('/api/user/updatePassword', data).then(response => {
                            const result = response.data
                            if (result.status !== 200) {
                                _this.$message.error(result.message);
                                return;
                            }
                            _this.$message.success(result.message);
                            _this.closeUpdatePassword()
                        }).catch(function (error) {
                            console.error('出现错误:', error);
                        });
                    } else {
                        console.log('验证失败');
                        return false;
                    }
                })
                let data = {
                    id: this.userInfo.id,
                    oldPassword: this.form.oldPassword,
                    newPassword: this.form.newPassword,
                    againPassword: this.form.againPassword,
                }
            },
            showUpdatePassword() {
                this.show.updatePassword = true
            },
            closeUpdatePassword() {
                this.show.updatePassword = false
                this.form.oldPassword = ''
                this.form.newPassword = ''
                this.form.againPassword = ''
                this.getUserInfo()
            },
            /*name*/
            saveName() {
                let url = `/api/user/updateName?name=${this.form.name}`
                axios.post(url).then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    this.$message.success(result.message);
                    this.closeUpdateName()
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            showUpdateName() {
                this.show.updateName = true
                this.form.name = this.userInfo.name
            },
            closeUpdateName() {
                this.show.updateName = false
                this.form.name = ''
                this.getUserInfo()
            },
            getUserInfo() {
                this.axios.get('/api/user/getUserInfo').then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    if (result.data !== null) {
                        this.userInfo = result.data;
                    }
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            logout() {
                sessionStorage.clear()
                window.location.href = '/server/login'
            },
            /*upload*/
            closePreview() {
                this.show.previewImg = false
            },
            async showPreview(file) {
                if (file.response) {
                    this.temp.previewSrc = file.response.data.virtualPath
                } else {
                    this.temp.previewSrc = file.url
                }
                this.show.previewImg = true
            },
            changeUploadFile(info) {
                this.temp.fileList = info.fileList
                if (info.file.status === 'done') {
                    this.$message.success(`${info.file.name} 上传成功`);
                } else if (info.file.status === 'error') {
                    this.$message.error(`${info.file.name} 上传失败`);
                }
            },
            removeUploadFile(file) {
                this.temp.fileList = []
            },
        }
    })

</script>
</body>
</html>
