<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
	<div data-th-include="/components/base :: meta"></div>
	<title>校园资讯</title>
	<div data-th-replace="/components/base :: css"></div>
	<div data-th-replace="/components/base :: javascript"></div>
	<div data-th-replace="/components/base :: quill"></div>
	<div data-th-replace="/components/base :: style"></div>
	<div data-th-replace="/components/vue :: javascript"></div>
	<div data-th-replace="/components/ui :: antd"></div>
	<link rel="stylesheet" th:href="@{/css/banner.css}">
	<div data-th-replace="/components/frontend/page-common :: style"></div>
	<style>
      p {
          padding: 0;
          margin: 0
      }

      .content {
          display: flex;
          flex-direction: row;
          height: max-content
      }

      .menus {
          flex: 1;
          height: 100%;
          margin: 0;
          padding: 0;
      }

      .menus li {
          background-color: #939393;
          color: rgb(37, 37, 36);
          font-size: 1.5rem;
          list-style: none;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 10vh;
          font-family: 'Microsoft YaHei';
      }

      .publish-button {
          text-align: center;
          width: 113px;
          height: 43px;
          font-size: 27px;
          background-color: #999999;
          color: #505050;
          position: absolute;
          bottom: 34px;
          right: 20px
      }
      .comment-item{
          font-size: 24px;word-break: break-all;
			}
      .comment-item img{
					width:300px !important;
			}
      .comment-item p{
          display: flex !important;
			}
	</style>
</head>
<body>

<div id="app">
	<!--common-->
	<div data-th-replace="/components/frontend/page-common :: title"></div>
	<div data-th-replace="/components/frontend/page-common :: banner"></div>
	<div data-th-replace="/components/frontend/page-common :: nav"></div>

	<div style="" class="content">
		<ul class="menus">
			<li v-for="item in menus" @click="changeSecondType(item)">{{item.name}}</li>
		</ul>
		<div style="flex:9;height: 100%;padding: 2rem">
			<p style="font-size: 30px;font-weight: 600">{{title}}</p>
			<div style="height: 2px;background-color:#000;margin-top: 10px"></div>
			<div>
				<a-col v-for="(item,index) in dataList" style="padding: 10px">
					<p style="font-size: 30px;font-weight: 600;display: flex;justify-content: space-between">
					<span>
						<a-avatar v-if="item.publisher.headImg" :src="item.publisher.headImg.virtualPath"></a-avatar>
						<span>{{item.publisher.username}}</span>
					</span>
					</p>
					<div v-for="(file,index) in item.files" style="width:300px">
						<img  :src="file.virtualPath" alt="" style="width: 100%;">
					</div>
					<p style="font-size: 24px;word-break: break-all" v-html="item.content"></p>
					<p style="text-align: right">
						<a-icon type="delete"></a-icon>
						<a-divider type="vertical"></a-divider>
						<a-icon type="message" @click="showComment(index)"></a-icon>
					</p>
					<div v-show="item.showComment">
						<div v-for="(message,i) in item.messages">
							<p style="font-size: 30px;font-weight: 600;display: flex;">
								<a-avatar v-if="message.publisher.headImg" :src="message.publisher.headImg.virtualPath"></a-avatar>
								<span>{{message.publisher.username}}</span>
							</p>
							<p class="comment-item" v-html="message.content"></p>
							<hr>
						</div>
						<div class="editor" style="height: 173px;width:100%;background-color:#cccccc;margin-top:10px"></div>
						<!-- Create toolbar container -->
						<div class="toolbar" style="border: none;display: flex;align-items: center;position:relative">
							<button class="ql-emoji" style="width: 50px;height: 50px;"></button>
							<button class="ql-image" style="width: 50px;height: 50px;">
								<a-icon type="camera" theme="filled" style="font-size: 40px;color:rgba(153, 153, 153, 1)"></a-icon>
							</button>
						</div>
						<div class="publish-button" @click="publishComment(item,index)">评论</div>
					</div>
					<hr>
				</a-col>
			</div>
		</div>
	</div>
	<!--common-->
	<div data-th-replace="/components/frontend/page-common :: xiaoxun"></div>
	<br>
	<div data-th-replace="/components/frontend/page-common :: sysname"></div>
	<br>
</div>

<script>

</script>

<script>
    const app = new Vue({
        el: '#app',
        components: {},
        data() {
            return {
                image: {
                    schoolLogo: '/images/xiaohui.png',
                    schoolName: '/images/blackimg.png',
                    moduleIcon: '/images/icon.svg',
                    xiaoxun: '/images/xiaohui.png',
                },
                page: {
                    schoolName: '学校名字',
                    schoolNameEn: '学校英文名',
                    xiaoxun: '校训',
                    sysName: '系统名字',
                },
                headers: headers,
                axios: axios,
                userInfo: {},
                activeIndex: 0,
                timer: null,
                bannerData: [
                    {src: '/images/banner01.png'},
                    {src: '/images/banner02.png'},
                    {src: '/images/banner03.png'},
                ],
                interval: 2000,
                pagination: {
                    pageSize: 3,
                    pageIndex: 1,
                    pageCount: 50,
                },
                title: '二手交易',
                menus: [
                    {key: '', name: '二手交易'},
                    {key: '', name: '二手交易'},
                    {key: '', name: '租赁'},
                ],
                dataList: [],
                dataListBak: [],
                titleKey: 'trading',
                titleText: '校园问答',
                isLogin: false,
                editor: [],
            }
        },
        mounted() {
            this.getUserInfo()
            this.getList()
        },
        methods: {
            publishComment(item,index){
                let content =  this.editor[index].instance.root.innerHTML
								let data = {
                    id:item.id,
										content : content
								}
                this.axios.post('/api/paper/comment/add',data).then(response => {
                    const result = response.data
                    if (result.status !== 200 && result.status !== 401) {
                        this.$message.error(result.message);
                        return;
                    }
                    this.getList()
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
                console.log(content)
                console.log(item)
						},
            createEditor(index) {
                setTimeout(() => {
                    if (this.editor[index].create) {
                        let editor = document.getElementsByClassName('editor')[index]
                        let toolbar = document.getElementsByClassName('toolbar')[index]
                        this.editor[index].instance = new window.Quill(editor, {
                            theme: 'snow',
                            modules: {
                                toolbar: toolbar,
                                "emoji-toolbar": true,
                            }
                        })
                        this.editor[index].create = false
                    }
                }, 1000)
            },
            showComment(index) {
                this.dataList[index].showComment = !this.dataList[index].showComment
                this.createEditor(index)
            },
            getList() {
                axios.get(`/api/paper/list/${this.titleKey}`).then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    if (result.data !== null) {
                        this.dataList = this.filterDataList(result.data)
                        this.dataListBak = this.filterDataList(result.data)
                    }
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            filterDataList(source) {
                let editor = []
                let data = source.map(e => {
                    editor.push({
                        instance: null,
                        create: true,
                        fileList: []
                    })
                    let files = e.files.filter(r => {
                        return r.contentType.includes("image")
                    }).sort((a, b) => {
                        let createTimeA = new moment(a.createTime)
                        let createTimeB = new moment(b.createTime)
                        return createTimeA.diff(createTimeB, 's');
                    })
                    return {
                        id: e.id,
                        title: '题目',
                        price: e.price,
                        files: files,
                        content: e.content,
                        type: e.type,
                        status: e.status,
                        publisher: e.publisher,
                        showComment: false,
                        secondType: e.secondType,
                        messages: e.messages,
                        createTime: e.createTime,
                        createTimeStr: new moment(e.createTime).format('YYYY-MM-DD HH:mm:ss'),
                    }
                });
                this.editor = editor
                return data
            },

            toModulePage(e) {
                this.$message.info(e)
                window.location.href = e
            },
            changeSecondType(e) {
                this.dataList = this.dataListBak.filter(item => {
                    return item.secondType === e.name
                })
                this.title = e.name
            },
            changeOtherType(e) {
                window.location.href = `/frontend/other.html?key=${e}`
            },
            onOver() {
                clearInterval(this.timer)
            },
            onOut() {
                this.startSlider()
            },
            onEnter(index) {
                this.activeIndex = index
                clearInterval(this.timer)
            },
            onLeave() {
                this.startSlider()
            },
            startSlider() {
                clearInterval(this.timer)
                if (this.bannerData.length > 1) {
                    this.timer = setInterval(this.onMove, this.interval)
                }
            },
            onMove() {
                if (this.activeIndex === this.bannerData.length - 1) {
                    this.activeIndex = 0
                } else {
                    this.activeIndex++
                }
            },
            beforeDestroy() {
                clearInterval(this.timer)
                this.timer = null
            },
            getUserInfo() {
                this.axios.get('/api/user/getUserInfo').then(response => {
                    const result = response.data
                    if (result.status !== 200 && result.status !== 401) {
                        this.$message.error(result.message);
                        return;
                    }
                    if (result.data !== null) {
                        this.userInfo = result.data;
                        this.isLogin = true
                    }
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            logout() {
                sessionStorage.clear()
                window.location.href = '/server/login'
            },
        }
    })

</script>
</body>
</html>
