<!-- head -->
    <div class="container" data-th-fragment="public-header">
            <meta charset="UTF-8">
            <title>首页</title>
            <meta name="renderer" content="webkit|ie-comp|ie-stand">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
            <meta http-equiv="Cache-Control" content="no-siteapp" />
            <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
            <link rel="stylesheet" href="./css/font.css">
            <link rel="stylesheet" href="./css/xadmin.css">
            <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
            <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
            <script src="./lib/layui/layui.js" charset="utf-8"></script>
            <script type="text/javascript" src="./js/xadmin.js"></script>
            <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
            <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
            <script>
                // 是否开启刷新记忆tab功能
                // var is_remember = false;
            </script>
    </div>

    <!-- 顶部开始 -->
    <div class="container" data-th-fragment="public-top">
        <div class="logo">
            <a >遵义医科大学双选会系统</a>
        </div>
        <ul class="layui-nav left fast-add" lay-filter="">
            <li class="layui-nav-item">
                <a href="javascript:;">+新增</a>
                <dl class="layui-nav-child">
                    <!-- 二级菜单 -->
                    <dd>
                        <a onclick="xadmin.open('最大化','http://www.baidu.com','','',true)">
                            <i class="iconfont">&#xe6a2;</i>弹出最大化</a></dd>
                    <dd>
                        <a onclick="xadmin.open('弹出自动宽高','http://www.baidu.com')">
                            <i class="iconfont">&#xe6a8;</i>弹出自动宽高</a></dd>
                    <dd>
                        <a onclick="xadmin.open('弹出指定宽高','http://www.baidu.com',500,300)">
                            <i class="iconfont">&#xe6a8;</i>弹出指定宽高</a></dd>
                    <dd>
                        <a onclick="xadmin.add_tab('在tab打开','member-list.html')">
                            <i class="iconfont">&#xe6b8;</i>在tab打开</a></dd>
                    <dd>
                        <a onclick="xadmin.add_tab('在tab打开刷新','member-del.html',true)">
                            <i class="iconfont">&#xe6b8;</i>在tab打开刷新</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav right" lay-filter="">
            <li class="layui-nav-item">
                <a href="javascript:;">admin</a>
                <dl class="layui-nav-child">
                    <!-- 二级菜单 -->
                    <dd><a onclick="xadmin.open('个人信息','http://www.baidu.com')">个人信息</a></dd>
                    <dd><a onclick="xadmin.open('切换帐号','http://www.baidu.com')">切换帐号</a></dd>
                    <dd><a href="./login.html">退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item to-index"><a href="/">退出登陆</a></li>
        </ul>
    </div>
<!-- 导航菜单开始 -->
<div class="left-nav" data-th-fragment="public-left">
        <div id="side-nav">
            <ul id="nav">
                <li class="list">
                    <a href="javascript:;">
                        <i class="iconfont">&#xe70b;</i>
                        学生服务
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="mineInfo">
                                <i class="iconfont">&#xe6a7;</i>
                                个人简历
                            </a>
                        </li>
                        <li>
                            <a href="orgList">
                                <i class="iconfont">&#xe6a7;</i>
                                公司筛选
                            </a>
                        </li>
                        <li>
                            <a href="messageList">
                                <i class="iconfont">&#xe6a7;</i>
                                收件箱
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="list" >
                    <a href="javascript:;">
                        <i class="iconfont">&#xe6a3;</i>
                        分类管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="./category.html">
                                <i class="iconfont">&#xe6a7;</i>
                                分类列表
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

<!-- 数据窗口开始 -->
<div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false" data-th-fragment="public-right">
    <ul class="layui-tab-title">
        <li class="home">
            <i class="layui-icon">&#xe68e;</i>欢迎使用</li>
    </ul>
    <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
        <dl>
            <dd data-type="this">关闭当前</dd>
            <dd data-type="other">关闭其它</dd>
            <dd data-type="all">关闭全部</dd></dl>
    </div>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <iframe src='welcome' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
        </div>
    </div>
    <div id="tab_show"></div>
</div>

<!-- 表格查询开始 -->
    <div class="layui-card-body" data-th-fragment="public-select">
        <form class="layui-form layui-col-space5">
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input"  autocomplete="off" placeholder="开始日" name="start" id="start">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input"  autocomplete="off" placeholder="截止日" name="end" id="end">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
            </div>
        </form>
    </div>

<!-- 表格分页开始 -->
        <div class="layui-card-body" data-th-fragment="public-page">
            <div class="page">
                <div>
                    <a class="prev" href="">&lt;&lt;</a>
                    <a class="num" href="">1</a>
                    <span class="current">2</span>
                    <a class="num" href="">3</a>
                    <a class="num" href="">666</a>
                    <a class="next" href="">&gt;&gt;</a>
                </div>
            </div>
        </div>