<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div data-th-replace="/common/portal :: meta"></div>
  <div data-th-replace="/common/portal :: style"></div>
  <div data-th-include="/base/vue :: style"></div>
</head>

<body>
<div id="app">
  <div data-th-replace="/common/portal :: header"></div>
  <div data-th-replace="/common/portal :: wrapper"></div>
  <router-view></router-view>
</div>
<footer>
  <p>Copyright ©2016-2017 版权所有 All Rights Reserved</p>
</footer>
<div data-th-replace="/common/portal :: javascript"></div>
<div data-th-include="/base/vue :: javascript"></div>
<script data-th-src="@{/vue/portal/main.js}"></script>
</body>
</html>