<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title></title>
  <div data-th-include="/base/page :: meta"></div>
  <div data-th-include="/base/page :: style"></div>
</head>

<body>
<div class="header0">
  <div data-th-include="/base/page :: nav"></div>
</div>
<div class="clear"></div>
<div class="brandnav"></div>
<div class="clear"></div>
<div class="detailbox" id="page-strategy">
  <div class="xq">
    <h1>【妥乐风情】东盟篇</h1>
    <!--    <div class="con" v-html="paper.url">正文</div>-->
    <div class="con">
      <p>东盟是东南亚国家联盟的简称，成员国有马来西亚、印度尼西亚、泰国、菲律宾、新加坡、文莱、越南、老挝、缅甸和柬埔寨。
        我想在你的脑海里，肯定认为这样高大上的会议远在天边，小编却想告诉你它近在眼前，
        中国—东盟国际产能合作妥乐论坛目前已经在妥乐成功举办了两届。</p>
      <img src="https://mmbiz.qpic.cn/mmbiz_png/4AewcMaAOyFMicoYWlXSgVibicwYGMPJPMib62cVMbvcxPCkyabmkemtOwZ53tPYXhKsSZ9AbZ0nGbiaHEdjibt7E5Gw/640?wx_fmt=png&tp=webp&wxfrom=5&wx_lazy=1&wx_co=1" alt="">
    </div>
  </div>
</div>
<div class="clear"></div>
<div data-th-include="/base/page :: javascript"></div>
<div data-th-include="/base/page :: footer"></div>
<script>
  let vue = new Vue({
    el: '#page-strategy',
    data() {
      return {
        paper: {},
      }
    },
    mounted() {
      this.getPaper()
    },
    methods: {
      getPaper() {
        const _this = this
        axios.get('/api/getAudioFile/car').then(response => {
          const result = response.data
          console.log('通过api获取到的数据:', result)
          if (result.status !== 200) {
            this.$message.error('数据加载失败');
            return
          }
          _this.paper = result.data
        }).catch(function (error) {
          console.log('请求出现错误:', error);
        });
      },
    }
  })
</script>
</body>
</html>
