<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title></title>
  <div data-th-include="/base/page :: meta"></div>
  <div data-th-include="/base/page :: style"></div>
  <style>
    .paper-image {
      margin-bottom: 20px;
      /*width: 100%;*/
    }
  </style>
</head>

<body>
<div class="header0">
  <div data-th-include="/base/page :: nav"></div>
</div>
<div class="clear"></div>
<div class="brandnav"></div>
<div class="clear"></div>
<div class="detailbox" id="page-strategy">
  <div class="xq">
    <h1>【妥乐风情】东盟篇</h1>
    <div class="con" style="width:60%;margin: 0 auto;text-align: center">
      <p>东盟是东南亚国家联盟的简称，成员国有马来西亚、印度尼西亚、泰国、菲律宾、新加坡、文莱、越南、老挝、缅甸和柬埔寨。 我想在你的脑海里，肯定认为这样高大上的会议远在天边，小编却想告诉你它近在眼前，
        中国—东盟国际产能合作妥乐论坛目前已经在妥乐成功举办了两届。</p>
      <img src="/images/asean/image1.jpg" alt="" class="paper-image">
      <p>它由10国别墅、会议中心、宴会厅、接待中心构成，它玉砌雕阑、飞阁流丹的耸立在这千年的古村落上，威严、磅礴等待着你的宠幸。</p>
      <img src="/images/asean/image2.jpg" alt="" class="paper-image">
      <img src="/images/asean/image3.jpg" alt="" class="paper-image">
      <img src="/images/asean/image4.jpg" alt="" class="paper-image">
      <p>10国别墅，你从外面看的时候肯定觉得毫无特色、千篇一律，其实它的奥妙在于内部，它是根据每个国家不同的风格来装饰的。</p>
      <img src="/images/asean/image5.jpg" alt="" class="paper-image">
      <img src="/images/asean/image6.jpg" alt="" class="paper-image">
      <img src="/images/asean/image7.jpg" alt="" class="paper-image">
      <p>你也许会问小编说这些目的何在？妥乐东盟峰会别墅群其实也是妥乐国际大酒店可以对外进行营业的，是游玩妥乐的住宿首选，来妥乐游玩之际不妨在这里小憩一夜，来感受妥乐别样的风情。</p>
      <img src="/images/asean/image8.jpg" alt="" class="paper-image">
      <p>温馨提示、温馨提示、温馨提示（重要的事说三遍）：一栋别墅里共有9个房间，还有家庭影院、斯诺克、健身房等娱乐设施，满足你的一切需求；并且会议中心也可对外承包大小型会议。</p>
    </div>
  </div>
</div>
<div class="clear"></div>
<div data-th-include="/base/page :: javascript"></div>
<div data-th-include="/base/page :: footer"></div>
<script>
  let vue = new Vue({
    el: '#page-strategy',
    data() {
      return {
        paper: {},
      }
    },
    mounted() {
      this.getPaper()
    },
    methods: {
      getPaper() {
        const _this = this
        axios.get('/api/getAudioFile/car').then(response => {
          const result = response.data
          console.log('通过api获取到的数据:', result)
          if (result.status !== 200) {
            this.$message.error('数据加载失败');
            return
          }
          _this.paper = result.data
        }).catch(function (error) {
          console.log('请求出现错误:', error);
        });
      },
    }
  })
</script>
</body>
</html>
