<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title></title>
  <div data-th-include="/base/page :: meta"></div>
  <div data-th-include="/base/page :: style"></div>
  <style>
    .foot-img {
      width: 30%;
      display: inline-block;
      height: 200px;
      margin: 0 15px;
    }
  </style>
</head>

<body>
<div class="header0">
  <div data-th-include="/base/page :: nav"></div>
</div>
<div class="clear"></div>
<div class="banner0">
  <img data-th-src="@{/images/customs/banner.jpeg}" class="children-banner"/>
</div>
<div class="clear"></div>
<div class="part1">
  <div class="main">
    <div class="contitbox">
      <p><a href="../about.html" class="ccsl">风俗</a></p>
      <span class="ccsl">CUSTOMS</span>
    </div>
    <div class="conbox" style="text-align: left">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      妥乐古银杏风景区位于距盘州市双凤镇35km之石桥镇妥乐村。妥乐古银杏村位于盘县石桥镇，距盘州市新城红果25公里。
    </div>
    <div>
      <img data-th-src="@{/images/customs/image1.jpeg}" class="foot-img"/>
      <img data-th-src="@{/images/customs/image2.jpeg}" class="foot-img"/>
      <img data-th-src="@{/images/customs/image3.jpeg}" class="foot-img"/>
    </div>
    <div class="morebox"></div>
  </div>
</div>
<div class="clear"></div>
<div data-th-include="/base/page :: javascript"></div>
<div data-th-include="/base/page :: footer"></div>
</body>
</html>
