<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title></title>
  <div data-th-include="/base/page :: meta"></div>
  <div data-th-include="/base/page :: style"></div>
  <style>
    .paper-image {
      margin-bottom: 20px;
      /*width: 100%;*/
    }
  </style>
</head>

<body>
<div class="header0">
  <div data-th-include="/base/page :: nav"></div>
</div>
<div class="clear"></div>
<div class="brandnav"></div>
<div class="clear"></div>
<div class="detailbox" id="page-strategy">
  <div class="xq">
    <h1>四季银杏，又见妥乐</h1>
    <div class="con" style="width:50%;margin: 0 auto;text-align: center">
      <p>走进妥乐，但见蓝天、青山、古树、小桥、流水、人家，天人合一，相映成趣。</p>
      <img src="/images/four-seasons/image1.jpg" alt="" class="paper-image">
      <img src="/images/four-seasons/image2.jpg" alt="" class="paper-image">
      <p>阳春三月，百花争艳。妥乐的古银杏虽没有花儿的芬芳与娇艳，但在春天，也丝毫不失自己的风采。它悄悄地披上了一层绿纱，那翠绿细嫩的叶子，绿得纯粹干净，绿得清新舒雅。</p>
      <img src="/images/four-seasons/image3.jpg" alt="" class="paper-image">
      <img src="/images/four-seasons/image4.jpg" alt="" class="paper-image">
      <img src="/images/four-seasons/image5.jpg" alt="" class="paper-image">
      <p>
        夏日炎炎，骄阳似火。此时，妥乐的银杏树已长得枝繁叶茂，绿意盎然，充满生命力。“树老根弥坚，骄阳叶更荫”，走进妥乐景区，参天古树遮天蔽日，于林间小憩，甚是惬意。走在蜿蜒的山间小道上，偶尔阳光透过林间洒下斑驳的影子，微风拂过，那些光斑便会时大时小，若隐若现，再加上宁静而古朴的小桥，缓缓流动的溪水，骤添些许诗意。</p>
      <img src="/images/four-seasons/image6.jpg" alt="" class="paper-image">
      <img src="/images/four-seasons/image7.jpg" alt="" class="paper-image">
      <img src="/images/four-seasons/image8.jpg" alt="" class="paper-image">
      <p>
        自古逢秋悲寂廖，秋天万物已经开始凋零，但妥乐却展开了另一幅绝美的画卷。金黄的银杏叶随风飞舞，地上散落着，空中飞舞着，妥乐被金色的秋叶镀上了一层梦幻的色彩，漫步银杏树下，到处都铺满了金黄色的树叶，悠闲、祥和、恬静，如此这般景致让人心旷神怡。</p>
      <img src="/images/four-seasons/image9.jpg" alt="" class="paper-image">
      <img src="/images/four-seasons/image10.jpg" alt="" class="paper-image">
      <p>严冬，银杏叶渐渐枯委，一片片黄叶，在北风中簌簌飘落。冬日的银杏树，挺拔而坚韧，欺雪凌霜，伟岸粗狂，说不完古银杏的苍劲之美、传神之韵。</p>
      <img src="/images/four-seasons/image11.jpg" alt="" class="paper-image">
      <p>千百年来，妥乐的人过了一辈又一辈，古银杏树青了又黄，黄了又青，延续着一个不变的轮回。</p>
    </div>
  </div>
</div>
<div class="clear"></div>
<div data-th-include="/base/page :: javascript"></div>
<div data-th-include="/base/page :: footer"></div>
<script>
  let vue = new Vue({
    el: '#page-strategy',
    data() {
      return {
        paper: {},
      }
    },
    mounted() {
      this.getPaper()
    },
    methods: {
      getPaper() {
        const _this = this
        axios.get('/api/getAudioFile/car').then(response => {
          const result = response.data
          console.log('通过api获取到的数据:', result)
          if (result.status !== 200) {
            this.$message.error('数据加载失败');
            return
          }
          _this.paper = result.data
        }).catch(function (error) {
          console.log('请求出现错误:', error);
        });
      },
    }
  })
</script>
</body>
</html>
