<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title></title>
  <div data-th-include="/base/page :: meta"></div>
  <div data-th-include="/base/page :: style"></div>
</head>

<body>
<div class="header0">
  <div data-th-include="/base/page :: nav"></div>
</div>
<div class="clear"></div>
<div class="brandnav"></div>
<div class="clear"></div>
<div class="detailbox" id="page-strategy">
  <div class="xq">
    <h1>四季银杏，又见妥乐</h1>
<!--    <div class="con" v-html="paper.url">正文</div>-->
    <div class="con">
      <p>走进妥乐，但见蓝天、青山、古树、小桥、流水、人家，天人合一，相映成趣。</p>
      <img src="https://mmbiz.qpic.cn/mmbiz_png/4AewcMaAOyFMicoYWlXSgVibicwYGMPJPMib62cVMbvcxPCkyabmkemtOwZ53tPYXhKsSZ9AbZ0nGbiaHEdjibt7E5Gw/640?wx_fmt=png&tp=webp&wxfrom=5&wx_lazy=1&wx_co=1" alt="">
    </div>
  </div>
</div>
<div class="clear"></div>
<div data-th-include="/base/page :: javascript"></div>
<div data-th-include="/base/page :: footer"></div>
<script>
  let vue = new Vue({
    el: '#page-strategy',
    data() {
      return {
        paper: {},
      }
    },
    mounted() {
      this.getPaper()
    },
    methods: {
      getPaper() {
        const _this = this
        axios.get('/api/getAudioFile/car').then(response => {
          const result = response.data
          console.log('通过api获取到的数据:', result)
          if (result.status !== 200) {
            this.$message.error('数据加载失败');
            return
          }
          _this.paper = result.data
        }).catch(function (error) {
          console.log('请求出现错误:', error);
        });
      },
    }
  })
</script>
</body>
</html>
