<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title></title>
  <div data-th-include="/base/page :: meta"></div>
  <div data-th-include="/base/page :: style"></div>
  <style>
    .foot-img {
      width: 30%;
      display: inline-block;
      height: 200px;
      margin: 0 15px;
    }
  </style>
</head>

<body>
<div class="header0">
  <div data-th-include="/base/page :: nav"></div>
</div>
<div class="clear"></div>
<div class="banner0">
  <img data-th-src="@{/images/history/banner.jpg}" class="children-banner"/>
</div>
<div class="clear"></div>
<div class="clear"></div>
<div class="part1">
  <div class="main">
    <div class="contitbox">
      <p><a href="#" class="ccsl">历史文化</a></p>
    </div>
    <div class="conbox" style="text-align: left">
      <p style="width: 100%">
        <span style="width: 50%;display: inline-block;float: left;font-size: 1.2em;line-height: 1.6em;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        此地原为彝族聚居地。明朝末年，为躲避战火，一部分皇族从南京携家带口迁徙到此，见山清水秀，气候怡人，欣然道：妥了妥了。
        遂定居于此，改姓，形成了顾、王、路、卜、蒋五大姓氏。
        据考证，妥乐村600多年前为彝族聚居地，因明初西南屯军而变为彝汉杂居。随着历史发展，妥乐村居民虽有所演化，但“人树相依”的文化却亘古未变。
        西南林业大学专家研究认为，这种文化有个性鲜明的特色和博大精深的内涵，可以概括为一种新的文化形态——树文化之魅力村寨。
        目前该校已经在妥乐成立了中国第一个树文化研究基地。 传说中，妥乐是一个文明程度很高的村寨。
        <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          从前，妥乐人有一个不成文的规矩，不管是从村北还是村南过石桥入村的人，到了桥头，骑马的要下马步行进村，坐轿的也要下轿步行人村。
        一天，有一位达官贵人模样的人到妥乐，不知道是对妥乐的规矩不清楚，还是故意作难，骑了一匹高头大马过了小石桥径直撞人寨中。
        突然，路旁有一仙风道骨的老者发话 "来者可能不知，妥乐人向来有热情好客的风俗，欢迎你到妥乐来"。
        话末落音，遂向马上的客人握手致意，瞬间，来客的手便骨折肉裂，勒马而去。
        神秘的传说，为景色秀丽的银杏之乡凭添许多神秘的色彩，使人迷恋，让人向往。
        </span>
      </p>
      <p style="width: 100%">
        <span style="width: 50%;display: inline-block;float: left">
          <img data-th-src="@{/images/history/image4.jpg}" class="foot-img"
               style="text-align: right;width: 100%;height: 100%"/>
        </span>
      </p>
      <p style="font-size: 1.3em;line-height: 1.6em;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        妥乐景区的格局是独特的，妥乐村有401户农家，座落在银杏树林中近百户的房屋建筑是极为考究的，山洼里凸起的妥乐山寨，农舍经银杏树干相串，有勾肩搭臂的亲切姿态。
        然而，起伏于坡上的农家房屋，均是座西朝东的建筑。这样，每一天的朝阳都要从农户的门楣上滑过，问一声早;每天的落日余挥都要透过银杏树的枝叶，向农户道一声晚安。
        与妥乐山寨隔河相望的东山坡上，有一栋独一无二的座东向西的房屋建筑，这就是妥乐具有另一种传奇色彩的西来寺。
        明弘治年间村寨北面兴建西来寺，清乾隆年间重修，妥乐一度成为古代盘州香火圣地。 也有一种说法：西来寺建于何年何月，文字没有记载。
        有的说在很久以前，一老道夜间到此，一夜之间建了西来寺，寺庙建好后便拂袖而去有的说寺庙建好后，老道在西来寺里修行善终。
        因元文字记载，渊源难以考证。如今在西来寺可以摸索其历史痕迹的，只有重修西来寺时记载妥乐人捐款捐物的一块陈迹的石碑。
        碑名"永垂万古"，碑中模糊见文，颂先人功德，乾隆十六年，族人顾、王、路、卜、蒋姓等前辈捐款物重修西来寺，道光十五年立碑纪念。
        如今，西来寺的房屋己年久失修，但仍可见当年选址的苦心和建筑精细。站在寺前的桂花树旁，可以饱览妥乐银杏全景，如是九月观景更会有一种味、色、香俱全的特别感受。
        问起村子历史，村中的老人都是谈历史不离银杏树。500年前，正是明朝大将傅友德的军队在盘县境内屯戍，化军为民，开始代代繁衍的时期。
        村民多为南京籍，自称是傅友德那批军人（即明初朱元璋调北征南的军人）的后裔。古银杏树是妥乐村民的老祖先所种。
        为何这些曾是军人的老祖宗对银杏情有独钟？银杏树干挺拔端直，威风凛凛，颇有军人风范；银杏的果实叫白果，因其形似又叫“佛指”，当那批军人放下武器和杀戮，化干戈为玉帛时，难免有皈依佛门的心态。
        依山傍水的西来寺在明清之际佛教香火最盛；那批军人来自以南京为省会的江苏，传统种植银杏历史悠久，南京籍的军人当初种下的银杏树，象征思乡怀乡之情。

      </p>
    </div>
    <div class="morebox"></div>
  </div>
</div>
<div class="clear"></div>

<div class="clear"></div>
<div data-th-include="/base/page :: javascript"></div>
<div data-th-include="/base/page :: footer"></div>
</body>
</html>
