<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title></title>
  <div data-th-include="/base/page :: meta"></div>
  <div data-th-include="/base/page :: style"></div>
  <style>
    .foot-img{
      width: 30%;
      display: inline-block;
      height: 200px;
      margin: 0 15px;
    }
  </style>
</head>

<body>
<div class="header0">
  <div data-th-include="/base/page :: nav"></div>
</div>
<div class="clear"></div>
<div class="banner0">
  <img data-th-src="@{/images/history/banner.jpeg}" class="children-banner"/>
</div>
<div class="clear"></div>
<div class="clear"></div>
<div class="part1">
  <div class="main">
    <div class="contitbox">
      <p><a href="../about.html" class="ccsl">历史文化</a></p>
    </div>
    <div class="conbox" style="text-align: left">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      据考证，妥乐村600多年前为彝族聚居地，因明初西南屯军而变为彝汉杂居。随着历史发展，妥乐村居民虽有所演化，但“人树相依”的文化却亘古未变。
      西南林业大学专家研究认为，这种文化有个性鲜明的特色和博大精深的内涵，可以概括为一种新的文化形态——树文化之魅力村寨。
      景区建设妥乐古银杏风景区是贵州省第八届全省旅发大会核心项目之一。妥乐景区游步道8公里，油路改造长2.5公里、宽6.5米，已于2013年6月底竣工。
      景区生态移民安置区及旧房改造工程现正在进行清光上漆，房屋拆迁已经完成21户，妥乐1629人的扶贫生态移民搬迁工程房屋主体工程完成76栋，房屋外装修完成18栋。
      服务区工程景观河道的主体工程已完工，风雨楼、鼓楼等特色建筑已经投入使用，景观河道两侧古建筑完成孔桩150余个，3个景区大门主体已完成，现正进行外观改造设计，2013年7月底前可完工。
      总投资2750万元的两个人工湖及附属工程建设都已完成坝体、护坡挡墙建设，正在建设湖底，预计2013年6月底前可完工。
      五星级旅游接待酒店正在全面建设中，已完成三层纯木楼结构工程，三层钢筋混凝土房屋结构主体已经完工，正在进行内外木装修，预计2013年7月底前可完工。
      “农家乐”打造工程已完成挡墙、堡坎、平场、打孔桩工作，2013年7月底前可完工。景区占地面积3.5平方公里,核心区打造已基本结束,完成投资2.23亿元,旅游观光、休闲度假功能基本完善,初具接待能力,即将迎来4A级景区的挂牌。
    </div>
    <div class="contitbox">
      <p><a href="../about.html" class="ccsl">古老的村落</a></p>
    </div>
    <div class="conbox" style="text-align: left">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      银杏树是3000万年前地球遗留下来的古植物，人称植物“活化石”。问起村子历史，村中的老人都是谈历史不离银杏树。
      500年前，正是明将傅友德的军队在盘县境内屯戍，化军为民，开始代代繁衍的时期。村民多为南京籍，自称是傅友德那批军人（即明初朱元璋调北征南的军人）的后裔。
      古银杏树是妥乐村民的老祖先所种。为何这些曾是军人的老祖宗对银杏情有独钟？银杏树干挺拔端直，威风凛凛，颇有军人风范；
      银杏的果实叫白果，因其形似又叫“佛指”，当那批军人放下武器和杀戮，化干戈为玉帛时，难免有皈依佛门的心态。
      妥乐所在的石桥镇，曾隶属乐民区，这是盘县在明清之际佛教香火最盛、寺庙最多的区域之一；
      那批军人来自以南京为省会的江苏，传统种植银杏历史悠久，南京籍的军人当初种下的银杏树，象征思乡怀乡之情。
    </div>

    <div class="contitbox">
      <p><a href="../about.html" class="ccsl">淳朴的生活</a></p>
    </div>
    <div class="conbox" style="text-align: left">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      妥乐村的人们生活不算很富裕。在妥乐村，出售银杏果是不少村民的主要经济来源之一，因而村民们对古银杏树倍加爱惜。
      银杏全身是宝，果仁称“白果”，是珍贵的药物和不可多得的保健佐食佳品。从银杏叶中能提炼出治疗心血管病的药物。
      妥乐村里的人长寿的不少，据当地一村民说，这儿的人平均寿命70至80岁，最长寿的达106岁。
      为了改善古银杏树的生态环境，当地政府计划搬出大约三分之二的村民，只保留古朴的木瓦房和少量村民。
      潺潺溪流贯村而过，千年银杏虬枝蔓叶，希望这个自然界留给人们的奇特村庄可以一直留存下去，为游人和当地人带去更多的享受。
      但由于资金不足，当地人仍然没有一户人家搬出银杏林。住在植物“活化石”中的人们，对对面的世界并不太了解，甚至还是通过外来游客了解一些情况。
    </div>
    <div>
      <img data-th-src="@{/images/history/image1.jpeg}" class="foot-img"/>
      <img data-th-src="@{/images/history/image2.jpeg}" class="foot-img"/>
      <img data-th-src="@{/images/history/image3.jpeg}" class="foot-img"/>
    </div>
    <div class="morebox"></div>
  </div>
</div>
<div class="clear"></div>

<div class="clear"></div>
<div data-th-include="/base/page :: javascript"></div>
<div data-th-include="/base/page :: footer"></div>
</body>
</html>
