<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title></title>
  <div data-th-include="/base/page :: meta"></div>
  <div data-th-include="/base/page :: style"></div>
  <style>
    .foot-img {
      width: 23%;
      display: inline-block;
      height: 200px;
      margin: 0 auto;
      padding: 5px;
      border-radius: 10px;
    }
  </style>
</head>

<body>
<div class="header0">
  <div data-th-include="/base/page :: nav"></div>
</div>
<div class="clear"></div>
<div class="banner0">
  <img data-th-src="@{/images/info/banner.jpeg}" class="children-banner"/>
</div>
<div class="clear"></div>
<div class="clear"></div>
<div class="part1">
  <div class="main">
    <div class="contitbox">
      <p><a href="../about.html" class="ccsl">妥乐概况</a></p>
      <span class="ccsl">SCENIC OVERVIEW</span>
    </div>
    <div class="conbox" style="text-align: left">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      妥乐古银杏风景区位于贵州省盘州市妥乐村，是国家AAAA级景区，这里流水潺潺，小桥流水，风景秀丽，古树绵绵，小桥映虹，奇峰傍寺。
      全妥乐村拥有古银杏1200余株，胸径一般在50一150cm，最大220cm。一般树龄在300年以上，最长者为1500年，树干高达几十米。
      是世界上古银杏生长密度最高、保存最完好的地方。
    </div>
    <div>
      <img data-th-src="@{/images/info/image1.jpeg}" class="foot-img"/>
      <img data-th-src="@{/images/info/image2.jpeg}" class="foot-img"/>
      <img data-th-src="@{/images/info/image3.jpeg}" class="foot-img"/>
      <img data-th-src="@{/images/info/image4.jpeg}" class="foot-img"/>
    </div>
    <div class="morebox"></div>
  </div>
</div>
<div class="clear"></div>
<div data-th-include="/base/page :: javascript"></div>
<div data-th-include="/base/page :: footer"></div>
</body>
</html>
