<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title></title>
  <div data-th-include="/base/page :: meta"></div>
  <div data-th-include="/base/page :: style"></div>
</head>

<body>
<div class="header0">
  <div data-th-include="/base/page :: nav"></div>
</div>
<div class="clear"></div>
<div class="banner0">
  <img data-th-src="@{/images/location/banner.jpeg}" class="children-banner"/>
</div>
<div class="clear"></div>
<div class="clear"></div>
<div class="part1">
  <div class="main">
    <div class="contitbox">
      <p><a href="#" class="ccsl">地理位置</a></p>
      <span class="ccsl">LOCATION</span>
    </div>
    <div class="conbox" style="text-align: left">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      妥乐古银杏风景区位于距盘州市双凤镇35km之石桥镇妥乐村。妥乐古银杏村位于盘县石桥镇，距盘州市新城红果25公里。
    </div>
    <div class="conbox" style="text-align: left">
      <img data-th-src="@{/images/location/location.png}" class="banner"/>
    </div>
    <div class="morebox"></div>
  </div>
</div>
<div class="clear"></div>

<div class="clear"></div>
<div data-th-include="/base/page :: javascript"></div>
<div data-th-include="/base/page :: footer"></div>
</body>
</html>
