<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title></title>
  <div data-th-include="/base/page :: meta"></div>
  <div data-th-include="/base/page :: style"></div>
</head>

<body>
<div class="header0">
  <div data-th-include="/base/page :: nav"></div>
</div>
<div class="clear"></div>
<div class="typebox"></div>
<div class="contitbox">
  <p><a href="#" class="ccsl">美景图库</a></p>
  <span class="ccsl">BEAUTIFUL PICTURE</span>
</div>
<ul class="piclistul" id="page-pictures">
  <li v-for="item in pictures">
    <div class="kug"></div>
    <div class="proimg">
      <a :href="`/file/${item.url}`">
        <img :src="`/file/${item.url}`"/>
      </a>
    </div>
  </li>
</ul>
<div class="clear"></div>
<div class="clear"></div>
<div data-th-include="/base/page :: javascript"></div>
<div data-th-include="/base/page :: footer"></div>
<script>
  let vue = new Vue({
    el: '#page-pictures',
    data() {
      return {
        pictures: [],
      }
    },
    mounted() {
      this.getPictures()
    },
    methods: {
      getPictures() {
        const _this = this
        axios.get('/api/getPictures').then(response => {
          const result = response.data
          console.log('通过api获取到的数据:', result)
          if (result.status !== 200) {
            layer.msg(result.message)
            return
          }
          _this.pictures = result.data
          while (_this.pictures.length < 9) {
            _this.pictures.push({})
          }
        }).catch(function (error) {
          // 请求失败处理
          console.log('请求出现错误:', error);
        });
      },
    }
  })
</script>
</body>
</html>
