<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title></title>
  <div data-th-include="base :: meta"></div>
  <div data-th-include="base :: style"></div>
  <div data-th-include="base :: javascript"></div>
</head>

<body>
<div class="header0">
  <div data-th-include="base :: nav"></div>
</div>
<div class="clear"></div>
<div class="typebox"></div>
<div class="contitbox">
  <p><a href="../about.html" class="ccsl">美景图库</a></p>
  <span class="ccsl">BEAUTIFUL PICTURE</span>
</div>
<ul class="piclistul">
  <li>
    <div class="kug"></div>
    <div class="proimg">
      <a data-th-href="@{/images/picture/image1.png}">
        <img data-th-src="@{/images/picture/image1.png}"/>
      </a>
    </div>
    <a data-th-href="@{/images/picture/image1.png}"><p class="ccsl">图片1</p></a>
  </li>
   <li>
    <div class="kug"></div>
    <div class="proimg">
      <a data-th-href="@{/images/picture/image2.png}">
        <img data-th-src="@{/images/picture/image2.png}"/>
      </a>
    </div>
    <a data-th-href="@{/images/picture/image2.png}"><p class="ccsl">图片2</p></a>
  </li>
   <li>
    <div class="kug"></div>
    <div class="proimg">
      <a data-th-href="@{/images/picture/image3.png}">
        <img data-th-src="@{/images/picture/image3.png}"/>
      </a>
    </div>
    <a data-th-href="@{/images/picture/image3.png}"><p class="ccsl">图片3</p></a>
  </li>
   <li>
    <div class="kug"></div>
    <div class="proimg">
      <a data-th-href="@{/images/picture/image4.png}">
        <img data-th-src="@{/images/picture/image4.png}"/>
      </a>
    </div>
    <a data-th-href="@{/images/picture/image4.png}"><p class="ccsl">图片4</p></a>
  </li>
   <li>
    <div class="kug"></div>
    <div class="proimg">
      <a data-th-href="@{/images/picture/image5.png}">
        <img data-th-src="@{/images/picture/image5.png}"/>
      </a>
    </div>
    <a data-th-href="@{/images/picture/image5.png}"><p class="ccsl">图片5</p></a>
  </li>
   <li>
    <div class="kug"></div>
    <div class="proimg">
      <a data-th-href="@{/images/picture/image6.png}">
        <img data-th-src="@{/images/picture/image6.png}"/>
      </a>
    </div>
    <a data-th-href="@{/images/picture/image6.png}"><p class="ccsl">图片6</p></a>
  </li>
   <li>
    <div class="kug"></div>
    <div class="proimg">
      <a data-th-href="@{/images/picture/image7.png}">
        <img data-th-src="@{/images/picture/image7.png}"/>
      </a>
    </div>
    <a data-th-href="@{/images/picture/image7.png}"><p class="ccsl">图片7</p></a>
  </li>
   <li>
    <div class="kug"></div>
    <div class="proimg">
      <a data-th-href="@{/images/picture/image8.png}">
        <img data-th-src="@{/images/picture/image8.png}"/>
      </a>
    </div>
    <a data-th-href="@{/images/picture/image8.png}"><p class="ccsl">图片8</p></a>
  </li>
   <li>
    <div class="kug"></div>
    <div class="proimg">
      <a data-th-href="@{/images/picture/image9.png}">
        <img data-th-src="@{/images/picture/image9.png}"/>
      </a>
    </div>
    <a data-th-href="@{/images/picture/image9.png}"><p class="ccsl">图片9</p></a>
  </li>

</ul>
<div class="clear"></div>
<div class="clear"></div>
<div data-th-include="base :: footer"></div>
</body>
</html>
