<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title></title>
  <div data-th-include="/base/page :: meta"></div>
  <div data-th-include="/base/page :: style"></div>
  <style>
    .paper-image {
      margin-bottom: 20px;
      /*width: 100%;*/
    }
  </style>
</head>

<body>
<div class="header0">
  <div data-th-include="/base/page :: nav"></div>
</div>
<div class="clear"></div>
<div class="brandnav"></div>
<div class="clear"></div>
<div class="detailbox" id="page-strategy">
  <div class="xq">
    <h1>“小桥流水”路萦纡</h1>
    <div class="con" style="width:60%;margin: 0 auto;text-align: center">
      <p>提到小桥流水，大家自然就想到马致远《天净沙·秋思》里的诗句：</p>
      <p style="text-align: center;">“枯藤老树昏鸦，小桥流水人家”。</p>
      <img src="/images/small-bridge/image1.jpg" alt="" class="paper-image">
      <p>而走在妥乐的小石桥上，看着桥下的潺潺流水，立于众多古银杏树间，这样的幽雅闲致，让我觉得更应景的是王冕在《水竹居》中的诗句：</p>
      <p style="text-align: center;">“小桥流水路萦纡，竹里茅茨是隐居。”</p>
      <img src="/images/small-bridge/image2.jpg" alt="" class="paper-image">
      <img src="/images/small-bridge/image3.jpg" alt="" class="paper-image">
      <p>这座桥，叫做“上马桥”，其意为走过这座桥便可以上马上轿走出妥乐村了。因它紧邻伏龙树，又被叫做“伏龙桥”。这座桥全长10米，宽2.5米，建于明朝洪武年间，距今有六百多年的历史了，是目前保存最完好的古代石拱桥之一。：</p>
      <img src="/images/small-bridge/image4.jpg" alt="" class="paper-image">
      <p>每当金秋十月、落叶纷飞，桥下的河面上就会铺满金黄色的银杏叶，微风拂过，站在桥下就犹如正经历一场黄金雨一般，蓦然抬头，散落的金灿灿的银杏叶，就像是一只只翩翩飞舞的金色蝴蝶。</p>
      <img src="/images/small-bridge/image5.jpg" alt="" class="paper-image">
      <img src="/images/small-bridge/image6.jpg" alt="" class="paper-image">
      <p>走上小桥，你会发现在石桥的中间银杏树的树根已经生长到穿插在石桥里面了，你会惊叹银杏树的坚韧顽强，更会惊叹生命的神奇。</p>
      <img src="/images/small-bridge/image7.jpg" alt="" class="paper-image">
      <img src="/images/small-bridge/image8.jpg" alt="" class="paper-image">
      <p>小桥，流水，人家。这里的春，生机勃勃；这里的夏，幽静清凉；这里的秋，金光灿灿；这里的冬，宁静致远。</p>
    </div>
  </div>
</div>
<div class="clear"></div>
<div data-th-include="/base/page :: javascript"></div>
<div data-th-include="/base/page :: footer"></div>
<script>
  let vue = new Vue({
    el: '#page-strategy',
    data() {
      return {
        paper: {},
      }
    },
    mounted() {
      this.getPaper()
    },
    methods: {
      getPaper() {
        const _this = this
        axios.get('/api/getAudioFile/car').then(response => {
          const result = response.data
          console.log('通过api获取到的数据:', result)
          if (result.status !== 200) {
            this.$message.error('数据加载失败');
            return
          }
          _this.paper = result.data
        }).catch(function (error) {
          console.log('请求出现错误:', error);
        });
      },
    }
  })
</script>
</body>
</html>
