<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title></title>
  <div data-th-include="/base/page :: meta"></div>
  <div data-th-include="/base/page :: style"></div>
</head>

<body>
<div class="header0">
  <div data-th-include="/base/page :: nav"></div>
</div>
<div class="clear"></div>
<div class="typebox"></div>
<div class="contitbox">
  <p><a href="#" class="ccsl">精彩视频</a></p>
  <span class="ccsl">BEAUTIFUL VIDEO</span>
</div>
<ul class="piclistul">
  <div class="kug"></div>
  <div class="proimg" id="page-video">
      <video width="100%" height="100%" controls v-if="video.url">
        <source :src=`/file/${video.url}` type="video/mp4">
      </video>
  </div>
</ul>
<div class="clear"></div>
<div class="clear"></div>
<div data-th-include="/base/page :: javascript"></div>
<div data-th-include="/base/page :: footer"></div>

<script>
  let vue = new Vue({
    el: '#page-video',
    data() {
      return {
        video: {},
      }
    },
    mounted() {
      this.getVideo()
    },
    methods: {
      getVideo() {
        const _this = this
        axios.get('/api/getAudioFile/video').then(response => {
          const result = response.data
          console.log('通过api获取到的数据:', result)
          if (result.status !== 200) {
            this.$message.error('视频缓冲失败');
            return
          }
          _this.video = result.data
        }).catch(function (error) {
          // 请求失败处理
          console.log('请求出现错误:', error);
        });
      },
    }
  })
</script>
</body>
</html>
