<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title></title>
  <div data-th-include="/base/page :: meta"></div>
  <div data-th-include="/base/page :: style"></div>
</head>

<body>
<div class="header0">
  <div data-th-include="/base/page :: nav"></div>
</div>
<div class="clear"></div>
<div class="brandnav"></div>
<div class="clear"></div>
<div class="detailbox" id="page-strategy">
  <div class="xq">
    <h1>下雨天，妥乐“银瀑”和你更配哦~</h1>
    <div class="con" style="width:60%;margin: 0 auto;text-align: center">
      <p>这几日，妥乐一直下着绵绵小雨，撑一把伞，漫步雨中的妥乐，便多了几分“青箬笠,绿蓑衣,斜风细雨不须归”的悠然自得。
        走进古银杏树林，一株株苍劲有力的古银杏树便映入眼帘，他们以各自独有的姿态生长着。顺着银杏树群往里走去，便能听到很清亮的哗哗流水声。林荫中俯首而望，出现在眼前的便是水声的来源处——“银瀑”。</p>
      <img src="/images/waterfall/image1.jpg" alt="" class="paper-image">
      <p>银瀑，处于妥乐风景区核心景区的中部，紧挨着伏龙桥，宽10米，落差近4米，水质清澈如练。银瀑，也象征着妥乐人民期望大富大贵又知足不贪的古朴民风。</p>
      <img src="/images/waterfall/image2.jpg" alt="" class="paper-image">
      <p>银瀑也叫被做“树根瀑布”，因为她盘桓在一颗雌银杏树的树根下，由上至下观看，这些飞流而下的瀑布像是从这棵雌树的树根流出的一样，整棵树也像是穿着婚纱的美丽新娘。</p>
      <img src="/images/waterfall/image3.jpg" alt="" class="paper-image">
      <p>银瀑落下便是一潭清水。盘根错节的银杏树根下嵌着一洼清亮的潭水，清泉顺着银瀑落下，流入潭水。</p>
      <img src="/images/waterfall/image4.jpg" alt="" class="paper-image">
      <p>白天，在太阳光的照射下，水面映出太阳的七彩光芒，好似神话故事中的宝镜般明亮。</p>
      <img src="/images/waterfall/image5.jpg" alt="" class="paper-image">
      <p>夜晚，皎洁的月光倾洒在水面上，银光闪闪，此时的“银瀑”像一位婀娜的少女身着银白的晚礼服，拖着长长的裙摆，美丽无暇。</p>
      <img src="/images/waterfall/image6.jpg" alt="" class="paper-image">
      <p>撑伞走在雨中，看着脚下潺潺的流水，听着哗哗的水响，让人若有所思，人生的诗意与生活的惬意也许就在身边。那一刻，耳边的风声、雨声、水声，可让你将生活的疲惫、奔波的劳累通通抛之脑后，只想静静感受“此时此刻此地”。</p>
      <img src="/images/waterfall/image7.jpg" alt="" class="paper-image">
    </div>
  </div>
</div>
<div class="clear"></div>
<div data-th-include="/base/page :: javascript"></div>
<div data-th-include="/base/page :: footer"></div>
<script>
  let vue = new Vue({
    el: '#page-strategy',
    data() {
      return {
        paper: {},
      }
    },
    mounted() {
      this.getPaper()
    },
    methods: {
      getPaper() {
        const _this = this
        axios.get('/api/getAudioFile/car').then(response => {
          const result = response.data
          console.log('通过api获取到的数据:', result)
          if (result.status !== 200) {
            this.$message.error('数据加载失败');
            return
          }
          _this.paper = result.data
        }).catch(function (error) {
          console.log('请求出现错误:', error);
        });
      },
    }
  })
</script>
</body>
</html>
