<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title></title>
  <div data-th-include="/base/page :: meta"></div>
  <div data-th-include="/base/page :: style"></div>
</head>

<body>
<div class="header0">
  <div data-th-include="/base/page :: nav"></div>
</div>
<div class="clear"></div>
<div class="brandnav"></div>
<div class="clear"></div>
<div class="detailbox" id="page-strategy">
  <div class="xq">
    <h1>下雨天，妥乐“银瀑”和你更配哦~</h1>
    <!--    <div class="con" v-html="paper.url">正文</div>-->
    <div class="con">
      <p>这几日，妥乐一直下着绵绵小雨，撑一把伞，漫步雨中的妥乐，便多了几分“青箬笠,绿蓑衣,斜风细雨不须归”的悠然自得。

        走进古银杏树林，一株株苍劲有力的古银杏树便映入眼帘，他们以各自独有的姿态生长着。
        顺着银杏树群往里走去，便能听到很清亮的哗哗流水声。林荫中俯首而望，出现在眼前的便是水声的来源处——“银瀑”。</p>
      <img src="https://mmbiz.qpic.cn/mmbiz_png/4AewcMaAOyFMicoYWlXSgVibicwYGMPJPMib62cVMbvcxPCkyabmkemtOwZ53tPYXhKsSZ9AbZ0nGbiaHEdjibt7E5Gw/640?wx_fmt=png&tp=webp&wxfrom=5&wx_lazy=1&wx_co=1" alt="">
    </div>
  </div>
</div>
<div class="clear"></div>
<div data-th-include="/base/page :: javascript"></div>
<div data-th-include="/base/page :: footer"></div>
<script>
  let vue = new Vue({
    el: '#page-strategy',
    data() {
      return {
        paper: {},
      }
    },
    mounted() {
      this.getPaper()
    },
    methods: {
      getPaper() {
        const _this = this
        axios.get('/api/getAudioFile/car').then(response => {
          const result = response.data
          console.log('通过api获取到的数据:', result)
          if (result.status !== 200) {
            this.$message.error('数据加载失败');
            return
          }
          _this.paper = result.data
        }).catch(function (error) {
          console.log('请求出现错误:', error);
        });
      },
    }
  })
</script>
</body>
</html>
