<!DOCTYPE HTML>

<html>

<head>
	<div data-th-replace="/common/portal :: meta"></div>
	<div data-th-replace="/common/portal :: style"></div>
</head>

<body>
<div data-th-replace="/common/portal :: header"></div>
<div data-th-replace="/common/portal :: wrapper"></div>
		<div class="bread">
			<ul class="clearfix">
				<li>
					<a href="">首页</a>&nbsp;>&nbsp;
				</li>
				<li>
					<a href="/page/introduction.html">企业荣誉</a>
				</li>
			</ul>
		</div>
		<div class="pg-main clearfix">
			<div class="pg-nav">
				<ul>
					<li>
						<a href="/page/introduction.html">公司简介</a>
					</li>
					<li>
						<a href="/page/ab-culture.html">企业文化</a>
					</li>
					<li>
						<a href="/page/ab-honor.html">企业荣誉</a>
					</li>
				</ul>
			</div>
			<div class="pg-con">
				<p><span>2015年</span>获得国家某某奖项</p>
				<p><span>2016年</span>获得国家某某奖项</p>
				<p><span>2017年</span>获得国家某某奖项</p>
			</div>
		</div>
		<div class="space"></div>
		<footer>
			<p>Copyright ©2016-2017 版权所有 All Rights Reserved</p>
		</footer>

<div data-th-replace="/common/portal :: javascript"></div>
	</body>

</html>