<!DOCTYPE HTML>

<html>

<head>
  <div data-th-replace="/common/portal :: meta"></div>
  <div data-th-replace="/common/portal :: style"></div>
</head>

<body>
<div data-th-replace="/common/portal :: header"></div>
<div data-th-replace="/common/portal :: wrapper"></div>
<div class="bread">
  <ul class="clearfix">
    <li>
      <a href="index.html">首页</a>&nbsp;>&nbsp;
    </li>
    <li>
      <a href="introduction.html">新闻中心</a>
    </li>
  </ul>
</div>
<div class="pg-main clearfix" id="data">
  <div class="pg-nav">
    <ul>
      <li>
        <a href="/page/notice.html">通知公告</a>
      </li>
    </ul>
  </div>
  <div class="pg-con newspg">
    <ul class="clearfix">
      <li v-for="item in dataList">
        <h3><a :href=`/page/notice-detail/${item.id}`>{{item.title}}</a></h3>
        <p class="neptime">{{item.createTime}}</p>
      </li>
      <li>
        <h3><a href="news-detail.html">澳大利亚反倾销理事会自7月1日起正式运作</a></h3>
        <p class="neptime">2017-6-19</p>
      </li>
    </ul>
  </div>
  <div class="pager">
    <ul class="clearfix">
      <li><a href="">&lt;</a></li>
      <li class="active"><a href="">1</a></li>
      <li><a href="">2</a></li>
      <li><a href="">&gt;</a></li>
    </ul>
  </div>
</div>
<div class="space"></div>
<footer>
  <p>Copyright ©2016-2017 版权所有 All Rights Reserved</p>
</footer>

<div data-th-replace="/common/portal :: javascript"></div>
<script data-th-src="@{/common/js/vue.js}"></script>
<script data-th-src="@{/common/js/axios.min.js}"></script>
<script>
  let vue = new Vue({
    el: '#data',
    data() {
      return {
        dataList: [],
        form: {
          id: '',
          keyWord: '',
          title: '',
          content: '',
        },
        drawer: {
          show: false,
          loading: false,
        },
        formLabelWidth: '80px',
      }
    },
    mounted() {
      this.getPaperList()
    },
    methods: {
      getPaperList() {
        const _this = this;
        axios.get('/api/getPapersByKeyWord/notice').then(response => {
          const result = response.data;
          console.log('通过api获取到的数据:', result);
          if (result.status !== 200) {
            this.$message.error('数据加载失败');
            return;
          }
          _this.dataList = result.data;
        }).catch(function (error) {
          console.log('请求出现错误:', error);
        });
      },
    }
  })
</script>
</body>

</html>