<th data-th-fragment="nav">
  <div style="width: 155px;height: 80px;position: absolute;left: 30px">
    <img data-th-src="@{/images/logo.png}" alt="" style="width: 100%;height: 100%">
  </div>
  <ul class="nav">
    <li>
			<span>
				<a href="/">首页</a>
			</span>
      <div class="navtwo">
        <a href="/login">&nbsp;&nbsp;&nbsp;&nbsp;登录&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a href="/registry">&nbsp;&nbsp;&nbsp;&nbsp;注册&nbsp;&nbsp;&nbsp;&nbsp;</a>
      </div>
    </li>
    <li>
      <span>走进妥乐</span>
      <div class="navtwo">
        <a href="/page/info.html">妥乐概况</a>
        <a href="/page/location.html">&nbsp;&nbsp;&nbsp;&nbsp;地理&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a href="/page/customs.html">&nbsp;&nbsp;&nbsp;&nbsp;风俗&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a href="/page/history.html">历史文化</a>
      </div>
    </li>
    <li>
      <span>妥乐风情</span>
      <div class="navtwo">
        <a href="/page/four-seasons.html">四季银杏</a>
        <a href="/page/asean.html">东盟会场</a>
        <a href="/page/small-bridge.html">小桥流水</a>
        <a href="/page/waterfall.html">树根瀑布</a>
      </div>
    </li>
    <li>
			<span>
        <span>感知妥乐</span>
			</span>
      <div class="navtwo">
        <a href="../piclist.html">&nbsp;&nbsp;&nbsp;主题1&nbsp;&nbsp;&nbsp;</a>
        <a href="/page/picture.html">美景图库</a>
        <a href="/page/videos.html">精彩视频</a>
        <a href="/page/strategy.html">旅游攻略</a>
        <a href="/page/civilization.html">文明旅游</a>
      </div>
    </li>
    <li>
      <span>妥乐资讯</span>
      <div class="navtwo">
        <a href="/page/dynamic/list.html">最新动态</a>
        <a href="/page/tourism/list.html">旅游资讯</a>
        <a href="/page/active/list.html">活动资讯</a>
        <a href="/page/notice/list.html">通知公告</a>
      </div>
    </li>
    <li>
      <span>在线预约</span>
      <div class="navtwo">
        <a href="/page/tickets.html">门票预定</a>
        <a href="/page/hotel/list.html">&nbsp;&nbsp;&nbsp;&nbsp;住宿&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a href="/page/food/list.html">&nbsp;&nbsp;&nbsp;&nbsp;餐饮&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a href="/page/specialty/list.html">&nbsp;&nbsp;&nbsp;&nbsp;特产&nbsp;&nbsp;&nbsp;&nbsp;</a>
      </div>
    </li>
    <li>
      <span>评论</span>
      <div class="navtwo">
        <a href="/page/talk/area1.html">&nbsp;&nbsp;&nbsp;主题1&nbsp;&nbsp;&nbsp;</a>
        <a href="/page/talk/area2.html">&nbsp;&nbsp;&nbsp;主题2&nbsp;&nbsp;&nbsp;</a>
      </div>
    </li>
    <li>
      <span>联系我们</span>
      <div class="navtwo">
        <a href="/page/car.html">景区直通车</a>
        <a href="/page/common.html">旅游常识</a>
      </div>
    </li>
  </ul>
</th>

<th data-th-fragment="meta">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="renderer" content="webkit"/>
  <meta name="force-rendering" content="webkit"/>
</th>

<th data-th-fragment="javascript">
  <script data-th-src="@{/js/vue.js}"></script>
  <script data-th-src="@{/js/axios.min.js}"></script>
  <script type="text/javascript" data-th-src="@{/js/jquery-1.8.2.min.js}"></script>
  <script type="text/javascript" data-th-src="@{/js/banner.js}"></script>
  <script type="text/javascript">
      $(document).ready(function () {
          $("ul.nav li").hover(function () {
              $(this).find(".navtwo").toggle();
          })
      })
  </script>
</th>

<th data-th-fragment="style">
  <link rel="stylesheet" data-th-href="@{/css/style.css}">
  <link rel="stylesheet" data-th-href="@{/css/animate.css}">
  <link rel="stylesheet" data-th-href="@{/X-admin/css/xadmin.css}">
</th>

<th data-th-fragment="footer">
  <div class="footer">
    <div class="main">
      <div class="foot">
        <div class="fnav">
          <ul>
            <li>
              <a href="/">首页</a>
              <span>走进妥乐</span>
              <span>妥乐风情</span>
              <span>感知妥乐</span>
              <span>在线预约</span>
              <span>评论</span>
              <span>联系我们</span>
            </li>
            <li>
              <span>&nbsp;</span>
              <a href="/page/info.html">妥乐概况</a>
              <a href="/page/four-seasons.html">四季银杏</a>
              <a href="/static">主题1</a>
              <a href="/page/tickets.html">门票预定</a>
              <a href="/page/talk/area1.html">主题1</a>
              <a href="/page/car.html">旅游直通车</a>
            </li>
            <li>
              <span>&nbsp;</span>
              <a href="/page/location.html">地理</a>
              <a href="/page/asean.html">东盟会场</a>
              <a href="/page/picture.html">美景图库</a>
              <a href="/page/hotel/list.html">住宿</a>
              <a href="/page/talk/area2.html">主题2</a>
              <a href="/page/common.html">旅游常识</a>
            </li>
            <li>
              <span>&nbsp;</span>
              <a href="/page/customs.html">风俗</a>
              <a href="/page/small-bridge.html">小桥流水</a>
              <a href="/page/videos.html">精彩视频</a>
              <a href="/page/food/list.html">餐饮</a>
              <span>&nbsp;</span>
              <span>&nbsp;</span>
            </li>
            <li>
              <span>&nbsp;</span>
              <a href="/page/history.html">历史文化</a>
              <a href="/page/waterfall.html">树根瀑布</a>
              <a href="/page/strategy.html">旅游攻略</a>
              <a href="/page/specialty/list.html">特产</a>
              <span>&nbsp;</span>
              <span>&nbsp;</span>
            </li>
            <li>
              <span>&nbsp;</span>
              <span>&nbsp;</span>
              <span>&nbsp;</span>
              <a href="/page/civilization.html">文明旅游</a>
              <span>&nbsp;</span>
              <span>&nbsp;</span>
              <span>&nbsp;</span>
            </li>
          </ul>
        </div>
        <div class="clear"></div>
        <div class="fot">
          <div>
            <span>电话：0858-8888888</span><span>&nbsp;&nbsp;</span>
            <span>邮箱：123.456@abc.com</span><span>&nbsp;&nbsp;</span>
            <span> 手机：xxxxx</span><span>&nbsp;&nbsp;</span>
            <span>地址：xxxxxx</span><span>&nbsp;&nbsp;</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</th>
