<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title></title>
  <div data-th-include="/base/page :: meta"></div>
  <div data-th-include="/base/page :: style"></div>
  <div data-th-include="/base/page :: javascript"></div>
</head>

<body>
<div class="header0">
  <div data-th-include="/base/page :: nav"></div>
</div>
<div class="clear"></div>
<div class="banner0">
  <img src="../../images/banner.png"/>
</div>
<div class="clear"></div>
<div class="brandnav"></div>
<div class="clear"></div>
<div id="page-active-info">
  <div class="detailbox">
    <div class="xq">
      <h1>{{audio.title}}</h1>
      <div class="date">发布时间: {{audio.createTime}}</div>
      <div class="con" v-html="audio.url">正文</div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="part4">
    <div class="main">
      <div class="contitbox">
        <p><a href="/page/active/list.html" class="ccsl">更多动态</a></p>
      </div>
      <ul>
        <li v-for="item in audioList">
          <div class="newl">
            <a :href=`/page/active/info.html?${item.id}` class="ccsl">{{item.title}}</a>
            <div class="sub" v-html="item.url">正文</div>
          </div>
          <div class="clear"></div>
        </li>
      </ul>
      <div class="more2">
        <a href="/page/active/list.html">MORE</a>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
<div data-th-include="/base/page :: footer"></div>
<script>
  let vue = new Vue({
    el: '#page-active-info',
    data() {
      return {
        audio: {},
        audioList: [],
      }
    },
    mounted() {
      this.$nextTick(() => {
        let id = window.location.search.substring(1);
        this.getAudioFileById(id);
        this.getAudioFileListNot(id);
      })
    },
    methods: {
      getAudioFileListNot(id) {
        const _this = this;
        axios.get(`/api/getAudioFileListNot/active/${id}`).then(response => {
          const result = response.data;
          console.log('通过api获取到的数据:', result);
          if (result.status !== 200) {
            this.$message.error('数据加载失败');
            return;
          }
          _this.audioList = result.data;
        }).catch(function (error) {
          console.log('请求出现错误:', error);
        });
      },
      getAudioFileById(id) {
        axios.get(`/api/getAudioFileById/${id}`).then(response => {
          const result = response.data;
          console.log('通过api获取到的数据:', result);
          if (result.status !== 200) {
            this.$message.error('数据加载失败');
            return
          }
          this.audio = result.data;
        }).catch(function (error) {
          console.log('请求出现错误:', error);
        });
      },
    }
  })
</script>

</body>
</html>
