<style th:fragment="style">
    p {
        padding: 0;
        margin: 0
    }

    .school-name {
        height: 10vh;
        text-align: center;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center;
        background-color: #D9D9D9;
        opacity: 0.3;
    }

    .module-5 {
        height: 10vh;
        width: 100%;
        background-color: rgb(213, 238, 248);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center
    }

    .module-5 div img {
        width: 5vh;
    }

    .school-news {
        height: 10vh;
        text-align: center;
        background-image: url(/images/newsicon.png);
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center;
        background-color: #D9D9D9;
        opacity: 0.2;
    }

    .xiaoxun {
        background-size: 100%;
        background-position: center;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: cursive;
    }

    .sysname {
        height: 10vh;
        background-color: #505050;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .headImage {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
    }


    .banner-wrap {
        width: 100%;
        /*height: 500px;*/
        margin: 0 auto;
        overflow: hidden;
        position: relative;
    }

    .banner-wrap .banner-list {
        /*height: 500px;*/
    }

    .banner-wrap .banner-list .banner-item {
        /*height: 500px;*/
        width: 100%;
        background-size: cover;
    }

    .banner-wrap .banner-list .u-banner-item a {
        display: block;
        height: 100%;
        background-size: cover;
    }

    .banner-wrap .banner-list .fade {
        animation: fade 0.5s ease-in-out;
        background-size: cover;
    }

    @keyframes fade {
        0% {
            opacity: 0;
        }
        5% {
            opacity: 0.05;
        }
        10% {
            opacity: 0.1;
        }
        20% {
            opacity: 0.2;
        }
        35% {
            opacity: 0.35;
        }
        50% {
            opacity: 0.5;
        }
        65% {
            opacity: 0.65;
        }
        80% {
            opacity: 0.8;
        }
        90% {
            opacity: 0.9;
        }
        95% {
            opacity: 0.95;
        }
        100% {
            opacity: 1;
        }
    }

    .banner-wrap .dot-list {
        width: 500px;
        position: absolute;
        bottom: -5px;
        left: 50%;
        margin-left: -300px;
        text-align: center;
    }

    .banner-wrap .dot-list .dot-item {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin: 0 5px;
        background: #fff;
        cursor: pointer;
        border: 1px solid #fff;
        border-radius: 50%;
        opacity: 0.8;
    }

    .banner-wrap .dot-list .active {
        width: 30px;
        background: #108ee9;
        border: 1px solid #108ee9;
        border-radius: 12px;
        opacity: 1;
    }

</style>

<div th:fragment="title" style="background-color:rgb(43,88,155);height: 10vh">
	<a-col :span="2" :offset="4"
				 :style="`height: 10vh;background-image:url(${image.schoolLogo});margin-right: 10px`"></a-col>
	<a-col :span="12" class="school-name" :style="`background-image:url(${image.schoolName})`">
		<p style="font-size: 40px;color: rgb(249 183 0);">{{page.schoolName}}</p>
		<p style="font-size: 16px;color: rgb(249 183 0);">{{page.schoolNameEn}}</p>
	</a-col>
	<a-col :span="1" :offset="4" style="height: 10vh;text-align: center">
		<a href="/frontend/settings.html"  style="text-align: center">
			<img v-if="userInfo.headImg" :src="userInfo.headImg.virtualPath" class="headImage">
			<p style="color: #000">{{userInfo.name}}</p></a>
	</a-col>
</div>

<div th:fragment="banner" class="m-banner-wrap" v-if="bannerData.length">
	<div class="m-banner-list">
		<div class="u-banner-item fade"
				 v-for="(item, index) in bannerData" :key="index"
				 v-show="index===activeIndex"
				 @mouseover="onOver()" @mouseout="onOut()">
			<img :src="item.src" alt="" style="width: 100%;height: 100%">
		</div>
	</div>
	<div class="m-dot-list" v-if="bannerData.length > 1">
		<div v-for="(item, index) in bannerData" :key="index" :class="['u-dot-item', {active: index===activeIndex}]"
				 @mouseenter="onEnter(index)" @mouseleave="onLeave">
		</div>
	</div>
</div>

<div th:fragment="nav" class="module-5">
	<a-col :span="2" @click="toModulePage('/frontend/news.html')">
		<img :src="image.moduleIcon">
		<p>校园咨询</p>
	</a-col>
	<a-col :span="2" @click="toModulePage('/frontend/trading.html')">
		<img :src="image.moduleIcon">
		<p>二手交易</p>
	</a-col>
	<a-col :span="2" @click="toModulePage('/frontend/employment.html')">
		<img :src="image.moduleIcon">
		<p>就业速递</p>
	</a-col>
	<a-col :span="2" @click="toModulePage('/frontend/lost-items.html')">
		<img :src="image.moduleIcon">
		<p>失物招领</p>
	</a-col>
	<a-col :span="2">
		<img :src="image.moduleIcon">
		<a-select size="small" default-value="question" style="width: 100%" @change="handleChange">
			<a-select-option value="question"> 校园问答</a-select-option>
			<a-select-option value="friend"> 校园交友</a-select-option>
			<a-select-option value="other"> 其他</a-select-option>
			<a-select-option value="car"> 校园拼车</a-select-option>
		</a-select>
	</a-col>
</div>

<div th:fragment="xiaoxun" class="xiaoxun" :style="`background-image:url(${image.xiaoxun})`">
	<p style="font-size: 30px">{{page.xiaoxun}}</p>
</div>

<div th:fragment="sysname" class="sysname" style="text-align: center">
	<p style="font-size: 30px">{{page.sysName}}</p>
</div>
