<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.example.fangwuzulin.mapping.LeaveMessageMapping">
    <resultMap id="message" type="LeaveMessage">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <insert id="insertMessage">
		insert into leave_message
		(id,user_id,houses_id,content,parent_id)
		values
		(#{id},#{user_id},#{houses_id},#{content},#{parent_id})
	</insert>

    <select id="findAll" resultMap="message">
 		select * from leave_message
 	</select>

    <select id="findAllByUserId" resultMap="message">
 		select * from leave_message where user_id = #{user_id}
 	</select>

    <select id="findAllByHousesId" resultMap="message">
 		select * from leave_message where houses_id = #{houses_id}
 	</select>

    <select id="findById" resultMap="message">
 		select * from leave_message where id = #{id}
 	</select>

    <delete id="removeById">
 		delete from leave_message where id = #{id}
 	</delete>

	<select id="findByParentId" resultMap="message">
 		select * from leave_message where parent_id = #{parent_id}
 	</select>

</mapper>
