<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.application.custom.dao.mybatis.StoreCarMapper">
  <resultMap id="BaseResultMap" type="org.example.application.custom.entity.StoreCar">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="goods_ids" jdbcType="VARCHAR" property="goodsIds" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, goods_ids
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from store_car
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectByUserId" resultType="org.example.application.custom.entity.StoreCar">
    select * from store_car
    where user_id = #{user_id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from store_car
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.example.application.custom.entity.StoreCar">
    insert into store_car (id, user_id, goods_ids
      )
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{goodsIds,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.example.application.custom.entity.StoreCar">
    insert into store_car
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="goodsIds != null">
        goods_ids,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="goodsIds != null">
        #{goodsIds,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.example.application.custom.entity.StoreCar">
    update store_car
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="goodsIds != null">
        goods_ids = #{goodsIds,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.example.application.custom.entity.StoreCar">
    update store_car
    set user_id = #{userId,jdbcType=VARCHAR},
      goods_ids = #{goodsIds,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>
