<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.example.fangwuzulin.mapping.SysUserMapping">
    <resultMap id="user" type="SysUser">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <select id="findByUsername" resultMap="user">
 		select * from sys_user where username = #{username}
 	</select>

    <select id="findByUsernameAndPassword" resultMap="user">
 		select * from sys_user where username = #{username} and password = #{password}
 	</select>

    <insert id="insertUser">
		insert into sys_user
		(id,username,password,status,name,is_admin,phone,mail)
		values
		(#{id},#{username},#{password},#{status},#{name},#{is_admin},#{phone},#{mail})
	</insert>

    <update id="updateUserInfo">
        update sys_user
        <set>
            <if test="password != null">password = #{password},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="mail != null">mail=#{mail},</if>
            <if test="name != null">name=#{name},</if>
            <if test="status != status">status=#{status}</if>
        </set>
        where id = #{id}
    </update>

    <select id="findById" resultMap="user">
 		select * from sys_user where id = #{id}
 	</select>

    <select id="findAllUser" resultMap="user">
 		select * from sys_user
 	</select>

    <delete id="removeUserById">
		delete from sys_user where id = #{id}
	</delete>
</mapper>
